<div [formGroup]="drugsGroup">
  <section
    cdkScrollable
    aria-label="You can look up drugs on Beers Criteria using this form"
    class="drug-inputs"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center space-around"
      formArrayName="drugs"
    >
      <div *ngFor="let drug of drugs.controls; let i = index">
        <mat-form-field
          appearance="outline"
          color="accent"
          @inputSlideIn
          class="form-array-width"
        >
          <mat-label>Enter Drug (e.g. zolpidem)</mat-label>

          <input
            type="text"
            [formControlName]="i"
            appearance="outline"
            matInput
            [matAutocomplete]="autoDropdown"
            (input)="
              name(i).errors ? null : getDropdownItems($event.target.value)
            "
            (keydown.Tab)="addDrug()"
            (keydown.Enter)="search(); trigger.closePanel()"
            autofocus
            #trigger="matAutocompleteTrigger"
            value="Enter Drug (e.g. zolpidem)"
            aria-label="Enter your drug name here. For example, zolpidem"
          />

          <mat-icon
            matSuffix
            matRipple
            [matRippleCentered]="true"
            [matRippleRadius]="14"
            [matRippleUnbounded]="true"
            class="material-icons material-icons-round plus-button"
            (click)="addDrug(); trigger.closePanel(); stopPropagation()"
            *ngIf="i === 0"
            [inline]="true"
            color="accent"
          >
            add_circle_outline
          </mat-icon>
          <mat-icon
            matSuffix
            matRipple
            [matRippleCentered]="true"
            [matRippleUnbounded]="true"
            [inline]="true"
            class="material-icons-round trash-button"
            (click)="
              deleteFormControl(i); trigger.closePanel(); stopPropagation()
            "
            *ngIf="i > 0"
            color="accent"
          >
            remove_circle_outline
          </mat-icon>
          <mat-error *ngIf="name(i).errors">
            Choose a drug from the dropdown
          </mat-error>
        </mat-form-field>

        <span class="spacer" *ngIf="name(i).errors"></span>
      </div>
      <mat-autocomplete autoActiveFirstOption #autoDropdown="matAutocomplete">
        <mat-option
          *ngFor="let option of dropdownItems"
          [value]="option"
          [innerHTML]="boldDropdownText(option, entryValue)"
        >
        </mat-option>
      </mat-autocomplete>
    </div>
  </section>
</div>
