@import "../../../colors";

button {
  &.plus-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: 0px;
    bottom: 0.7em;
    right: 0em;
    & .icon-inline {
      fill: black;
    }
    &:hover {
      color: $primary;
    }
  }
  &.trash-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: 0px;
    right: 0em;
    bottom: 0.7em;
    & .icon-inline {
      fill: $accent-2;
    }
    &:hover {
      color: black;
    }
  }

  & .icon-inline {
    position: absolute;
    bottom: 0.35em;
    right: 0.35em;
    fill: #283593;
    stroke: $gray-elev-1;
    stroke-width: 0.5;
  }
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.drug-inputs {
  overflow: visible;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 0.5em;
  & mat-form-field.form-array-width {
    width: 90%;
    margin-left: 0.975em;
    margin-right: 0.975em;
  }
}

@media (max-width: 599.99px) {
  section.drug-inputs {
    & mat-form-field.form-array-width {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
  }
}

mat-form-field::before {
  border: 5px solid green;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
span.spacer {
  padding-bottom: 0.4em;
}
