<div [formGroup]="drugsGroup">
  <section
    cdkScrollable
    aria-label="You can look up drugs on Beers Criteria using this form"
    class="drug-inputs"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center space-around"
      formArrayName="drugs"
    >
      <div *ngFor="let drug of drugs.controls; let i = index">
        <mat-form-field
          appearance="outline"
          color="primary"
          @inputSlideIn
          class="form-array-width special"
        >
          <mat-label>Enter Drug (e.g. zolpidem)</mat-label>

          <input
            type="text"
            [formControlName]="i"
            appearance="outline"
            matInput
            [matAutocomplete]="autoDropdown"
            (input)="
              name(i).errors ? null : getDropdownItems($event.target.value)
            "
            (keydown.Tab)="addDrug()"
            (keydown.Enter)="search(); trigger.closePanel()"
            autofocus
            #trigger="matAutocompleteTrigger"
            value="Enter Drug (e.g. zolpidem)"
            aria-label="Enter your drug name here. For example, zolpidem"
          />

          <button
            mat-icon-button
            matSuffix
            class="plus-button"
            (click)="addDrug(); trigger.closePanel(); stopPropagation()"
            *ngIf="i === 0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24px"
              height="24px"
              class="icon-inline"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
              />
            </svg>
          </button>
          <button
            mat-icon-button
            matSuffix
            class="trash-button"
            (click)="
              deleteFormControl(i); trigger.closePanel(); stopPropagation()
            "
            *ngIf="i > 0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24px"
              height="24px"
              class="icon-inline"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
              />
            </svg>
          </button>
          <mat-error *ngIf="name(i).errors">
            Choose a drug from the dropdown
          </mat-error>
        </mat-form-field>

        <span class="spacer" *ngIf="name(i).errors"></span>
      </div>
      <mat-autocomplete autoActiveFirstOption #autoDropdown="matAutocomplete">
        <mat-option
          *ngFor="let option of dropdownItems"
          [value]="option"
          [innerHTML]="boldDropdownText(option, entryValue)"
        >
        </mat-option>
      </mat-autocomplete>
    </div>
  </section>
</div>
