<form
  autocomplete="off"
  *ngIf="sidenavActive"
  fxLayout="column"
  fxLayoutAlign="none center"
>
  <section class="height-limit border-box">
    <div *ngFor="let drug of drugs; index as i" fxLayout="column">
      <mat-form-field
        appearance="outline"
        color="accent"
        class="disable-text-selection"
      >
        <mat-label>Enter Drug (e.g. zolpidem)</mat-label>

        <input
          type="text"
          aria-label="Search your drug"
          matInput
          [formControl]="drug.control"
          [matAutocomplete]="auto"
          (input)="searchIndex($event.target.value)"
          (keydown.Tab)="addDrug()"
          (keydown.Enter)="search(submission)"
          autofocus
        />

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
            [innerHTML]="boldDropdownText(option, entryValue)"
          >
          </mat-option>
        </mat-autocomplete>

        <mat-icon
          matSuffix
          matRipple
          [matRippleCentered]="true"
          [matRippleRadius]="15"
          [matRippleUnbounded]="true"
          class="material-icon"
          (click)="addDrug()"
          *ngIf="i === 0"
          color="accent"
        >
          add_circle
        </mat-icon>
        <mat-icon
          matSuffix
          matRipple
          [matRippleCentered]="true"
          [matRippleRadius]="15"
          [matRippleUnbounded]="true"
          class="material-icon"
          (click)="removeDrug(i)"
          *ngIf="i > 0"
          color="primary"
        >
          delete
        </mat-icon>
      </mat-form-field>
    </div>
  </section>
  <br />
  <section class="search-button-container">
    <div fxLayoutAlign="center none">
      <button
        mat-raised-button
        class="search-button sticky"
        type="button"
        (click)="search(submission)"
        (keydown.enter)="search(submission)"
      >
        <mat-icon>search</mat-icon> Search
      </button>
    </div>
  </section>
</form>
