@import "../../../colors";

.dh-input {
  color: $accent;
  z-index: 5000;
}

.material-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.caduceus {
  text-shadow: 0 0.5px 0 rgba(105, 105, 105, 0.4);
}

.plus-button {
  text-align: center;
  cursor: pointer;
  font-family: 'Material Icons Round';
}

.trash-button {
  text-align: center;
  cursor: pointer;
    font-family: 'Material Icons Round';

}

.height-limit {
  height: 60vh;
  overflow: auto;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#title {
  padding-bottom: 0.2em;
  padding-top: 0.15em;

  width: 100%;
}

.search-button-container {
  padding-top: 2em;
  width: 100%;
  border-top: 1px solid $lightgray;
}

button[mat-flat-button].search-button {
  width: 90%;
  color: white;
  font-size: 14pt;
  background-image: linear-gradient(
    to right,
    adjust-hue($primary, -15deg),
    $primary
  );
  font-weight: 400;
  max-width: 30em;
  height: 2.2em;
}

button[mat-button].search-button:hover {
  transition: ease-in 0.05s;
  background-image: linear-gradient(
    to right,
    adjust-hue($primary, 20deg),
    adjust-hue($primary, 30deg)
  );
  color: primary;
  text-shadow: 0 0 5px rgba(41, 41, 41, 0.164);
}

section.border-box {
  padding-top: 1.5em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  width: 85%;
}



span.spacer {
  padding-bottom: 0.4em;
}

div.form-height-limit {
  height: 65vh;
}
