@import "../../../colors";

mat-icon {
  &.plus-button {
    cursor: pointer;
    font-family: "Material Icons Round";
    font-size: 16pt;
  }
  &.trash-button {
    cursor: pointer;
    font-family: "Material Icons Round";
    font-size: 16pt;
  }
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.drug-inputs {
  overflow: auto;
  width: 100%;
  min-height: 0px;
  max-height: 60vh;
  position: relative;
  margin-top: 1em;
  z-index: 1;
  & mat-form-field.form-array-width {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 599.99px) {
  section.drug-inputs {
    padding-top: 1.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    width: 80%;
    overflow: auto;
  }
}

span.spacer {
  padding-bottom: 0.4em;
}
