$outline-color: $primary;
$check-color: white;
$fill-color: $primary;
$text-color: $logogray;
$disabled-color: #959495;
$checkbox-size: 1rem;
$text-size: 0.9rem;
*,
*:before,
*:after {
  box-sizing: border-box;
}

.checkbox {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 0.5em;
  font-size: $checkbox-size;
  color: $text-color;
  align-items: center;
  justify-content: space-between;
  & .small-screen {
    grid-column: 2;
    grid-row: 1;
  }
  & .checkbox-label {
    font-size: $text-size;
    font-weight: 400;
    color: $text-color;
    cursor: pointer;
  }
}

.checkbox-input {
  display: grid;
  grid-template-areas: "checkbox";
  align-items: center;
  justify-content: center;
  > * {
    grid-area: checkbox;
    background: transparent;
  }

  input {
    opacity: 0;
    width: 1em;
    height: 1em;
    &:focus + .checkbox-control {
      background-color: lighten($fill-color, 70%);
    }
    &:checked + .checkbox-control {
      background-color: $fill-color;
    }
    &:checked + .checkbox-control svg {
      transform: scale(1);
    }
    &:hover {
      cursor: pointer;
      background: $lightprimary;
    }
    &:disabled {
      cursor: not-allowed;

      & + .checkbox-control {
        color: lightgray;
        border: 0.1em dotted lighten($disabled-color, 10%);
      }
    }
  }
  .checkbox-control {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border-radius: 0.25em;
    border: 0.1em solid $outline-color;

    svg {
      transition: transform 0.1s ease-in 25ms;
      transform: scale(0);
      transform-origin: bottom left;
      color: $check-color;
    }
  }
}
