@import "../../../colors";
@import "checkbox";
.panel-container {
  background: transparent;
  border: solid $secondary-2-3;
  border-width: 0 0 0 4px;
  border-radius: 0px;

  position: absolute;
  margin-top: 20px;
  right: 2px;
  &.small-screen {
    background: getBrightHighlightColor($secondary-2-1);
    border: 1px solid #16af95;
    border-radius: 4px;
    padding: 5px 0 10px;
    margin: 10px 0 10px 20px;
    position: relative;
    margin-left: 20px;
    right: 10px;
  }
}
ul {
  display: grid;
  position: relative;
  box-sizing: border-box;
  appearance: none;
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  width: 190px;

  &.small-screen {
    grid-template-columns: 50% 50%;
    width: auto;
    & li:hover {
      background-color: getBrightHighlightColor($secondary-2-1);
      font-weight: 400;
      border-radius: 10px;
    }
  }

  & li {
    box-sizing: border-box;
    background: none;
    margin-left: 5px;
    margin-right: 5px;

    &:focus {
      background: $secondary-2-1;
    }
    &.selected {
      color: $secondary-2-4;
    }
    &:hover {
      background-color: getBrightHighlightColor($secondary-2-1);
      font-weight: 400;
    }
  }
}
