@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

@import "../../../colors";
div.table-modifier-list {
  border: 1px solid lightgray;
  overflow: visible;
  border-radius: 4px;
  background-color: white;
  margin-left: 10px;
  margin-right: 1.61em;
  width: 12.3em;
}

.panel-header {
  padding-top: 10px;
  line-height: 20px;
  background-color: $primary;
  border-bottom: 2px solid darken($primary, 5%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 11pt;
  color: whitesmoke;
  font-weight: 400;

  & p {
    padding-left: 1em;
  }
}

mat-selection-list.mat-list-base {
  padding-top: 1px;
}
.mat-list-base .mat-list-option {
  font-size: 10pt;
}

ul.toggle-group {
  position: relative;
  background: lighten($lightprimary, 50%);
  border: 1px solid lighten($primary, 15%);
  border-radius: 4px;
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-inline-start: 1.7em;
  width: 92vw;
  margin-left: 2vw;
  font-weight: 500;
  color: darken($primary, 10%);
}

ul li {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-size: small;
}
