@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

@import "../../../colors";
div.table-modifier-list {
  border-left: 3px solid $primary;
  overflow: visible;
  margin-left: 10px;
  margin-right: 1.61em;
  width: 12.2em;
  padding-left: 5px;
}

.panel-header {
  padding-top: 10px;
  line-height: 20px;

  font-size: 11pt;
  color: $gray;
  font-weight: 400;
  padding-left: 0.5em;
}

mat-selection-list.mat-list-base {
  padding-top: 1px;
}
.mat-list-base .mat-list-option {
  font-size: 10pt;
}

ul.toggle-group {
  position: relative;
  background: lighten($lightprimary, 40%);
  border: 1px solid lighten($primary, 10%);
  border-radius: 4px;
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-inline-start: 1.7em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-weight: 500;
  color: darken($primary, 10%);
  min-width: 95%;
  box-sizing: border-box;
  width: 95%;
}

ul li {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-size: small;
}
