@use "palette" as pal;
@use "sass:color";

.icon-button {
  background: none;
  border: none;
  display: block;
  line-height: 0px;
  opacity: 1;
  outline: none;
  padding: 0;
  position: relative;
  transform: scale(1);
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1);
  color: pal.$gray-4;

  &::before {
    background-color: var(--icon-button--background);
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(1.35);
    transform-origin: center;
    transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1);
    transition-property: opacity transform;
    width: 100%;
  }

  &:hover::before {
    opacity: 0.3;
    transform: scale(1.35);
  }

  &:hover:active::before {
    border: 1px solid var(--icon-button--active-outline);
    opacity: 0.6;
    transform: scale(1.65);
  }

  &:active::before {
    border: 1px solid var(--icon-button--active-outline);
    opacity: 0.6;
    transform: scale(1.65);
  }

  &:hover:focus::before {
    border: 1px solid var(--icon-button--outline);
    opacity: 0.6;
  }

  &:active::before {
    border: 1px solid var(--icon-button--active-outline);
    opacity: 0.3;
    transform: scale(1.65);
  }

  &:focus::before {
    border: 1px solid var(--icon-button--outline);
    opacity: 0.6;
  }
}

$background: color.adjust(#fff, $alpha: 0.9);
$outline: pal.$primary-4;
$active-outline: pal.$primary-4;
:host {
  --icon-button--background: #{$background};
  --icon-button--outline: #{$outline};
  --icon-button--active-outline: #{$active-outline};
  outline: none;
  scroll-behavior: none;
}
