@import "../../../_colors.scss";
$toolbarActiveColor: $primary;
$toolbarInactiveColor: white;

div.dialog {
  width: 50vw;
}

header {
  width: 100vw;
  height: 120px;
  background-color: $primary;
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.16);
}

div.logo-title {
  width: 60px;
  .logo {
    margin: 7px;
  }
  & span {
    font-family: $headerfont;
    font-weight: 700;
    &.title {
      font-size: 30pt;
      white-space: nowrap;
      color: #414042;
    }
    &.mobile-sidenav-title {
      font-size: 28pt;
    }
  }
}

mat-icon.mat-icon-24 {
  font-size: 20pt;
  color: $accent;
  font-family: "Material Icons Round";
}

div.center-left {
  place-items: center;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
  transform-origin: left;
  & button.toolbar-primary-button {
    background: none;
    border: none;
    color: $primary;
    cursor: pointer;
    font-weight: 600;
    &:hover {
      color: $accent;
    }
  }
}

div.flex-toolbar {
  background: white;
  height: 80px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
}
