<header>
  <div class="flex-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="space-between center" class="logo-title">
      <mat-icon svgIcon="elder_drug_logo"></mat-icon>

      <span class="title logo-text--font">Elder Drug</span>
    </div>

    <div class="buttons">
      <button class="toolbar-primary-button" (click)="openDesignDialog()">
        Design
      </button>
      <span>/</span>

      <button class="toolbar-primary-button" (click)="openAboutDialog()">
        About
      </button>
      <span>/</span>

      <button class="toolbar-primary-button" (click)="openDisclaimerDialog()">
        Disclaimer
      </button>
    </div>
  </div>
</header>
