@import "../../../_colors.scss";
$toolbarActiveColor: $primary;
$toolbarInactiveColor: white;

div.transition {
  background: $gradient;
  color: white;
}

a.toolbar-primary-button {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: $primary;
  &:hover {
    color: $accent;
  }
}

div.dialog {
  width: 50vh;
}

span {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  &.small-title {
    font-size: 32pt;
    letter-spacing: -1px;
  }
  &.large-title {
    font-size: 35pt;
  }
}

.title-container {
  padding-left: 0.5em;
}
mat-icon.mat-icon-24 {
  font-size: 20pt;
  color: $accent;
  font-family: "Material Icons Round";
}

div.center-left {
  place-items: center;
}
div.buttons-div {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
}

div.toolbar-content-height {
  height: 100%;
}
