@import "../../../_colors.scss";
$toolbarActiveColor: $primary;
$toolbarInactiveColor: white;

div.transition {
  background: $gradient;
  color: white;
}

a.toolbar-primary-button {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: $primary;
  &:hover {
    color: $accent;
  }
}

div.dialog {
  width: 50vh;
}

header {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  &.small-title {
    font-size: 28pt;
    letter-spacing: -1px;
    white-space: nowrap;
  }
  &.large-title {
    font-size: 32pt;
  }
}

mat-icon.mat-icon-24 {
  font-size: 20pt;
  color: $accent;
  font-family: "Material Icons Round";
}

div.center-left {
  place-items: center;
}
.buttons {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
}
.logo {
  margin: 7px;
}
.toolbar-content-height {
  height: 100%;
}
