<header>
  <div class="flex-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="space-between center" class="logo-title">
      <app-logo
        gdArea="logo"
        class="logo"
        [title]="true"
        [altColor]="true"
      ></app-logo>

      <span class="title">Elder Drug</span>
    </div>

    <div class="buttons">
      <div fxLayoutGap="10px">
        <button class="toolbar-primary-button" (click)="openDesignDialog()">
          Design
        </button>
        <button class="toolbar-primary-button" (click)="openAboutDialog()">
          About
        </button>
        <button class="toolbar-primary-button" (click)="openDisclaimerDialog()">
          Disclaimer
        </button>
      </div>
    </div>
  </div>
</header>
