<header>
  <div class="toolbar">
    <ng-content select="[elder-toolbar-toggle]"></ng-content>
    <ng-content select="[elder-toolbar-brand]"></ng-content>
    <ng-content select="[elder-toolbar-link]"></ng-content>

    <!--<div class="button-wrapper">
      <button class="button-wrapper__button" (click)="openDesignDialog()">
        Design
      </button>

      <button class="button-wrapper__button" (click)="openAboutDialog()">
        About
      </button>

      <button class="button-wrapper__button" (click)="openDisclaimerDialog()">
        Disclaimer
      </button>    </div>
    -->
  </div>

  <ng-content select="[elder-toolbar-tabs]"></ng-content>
</header>
