<header>
  <div class="toolbar-first-row">
    <ng-content select="toolbar-first-row"></ng-content>

    <!--<div class="button-wrapper">
      <button class="button-wrapper__button" (click)="openDesignDialog()">
        Design
      </button>

      <button class="button-wrapper__button" (click)="openAboutDialog()">
        About
      </button>

      <button class="button-wrapper__button" (click)="openDisclaimerDialog()">
        Disclaimer
      </button>    </div>
    -->
  </div>
  <div class="toolbar-second-row">
    <ng-content select="toolbar-second-row"></ng-content>
  </div>
</header>
