@use "palette" as *;
@use "grid" as *;
@use "colors" as *;
@use 'bem-mixin' as bem;
$toolbarActiveColor: $primary-1;
$toolbarInactiveColor: white;

div.dialog {
  width: 50vw;
}

header {
  width: 100vw;
  height: $header-shrunken-buffer;
  background-image: linear-gradient(to right, $primary-4, $primary-3);

  position: fixed;
}

mat-icon.mat-icon-24 {
  font-size: 20pt;
  color: $secondary-2-1;
  font-family: "Material Icons Round";
}

div.center-left {
  place-items: center;
}

.button-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  font-size: large;
  -webkit-transform-origin: left;
  transform-origin: left;
  letter-spacing: 1px;
  align-items: center;
  gap: 10px;
  @include bem.element("button") {
    background: white;
    padding: 10px;
    border-radius: 5px;
    color: $gray-4;
    cursor: pointer;
    position: relative;
    @include hoverable-shadow(2);

    @include bem.nativeState("hover") {
      color: $primary-3;
    }
  }
}

.toolbar {
  background: white;
  height: $header-shrunken;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1%;
}

@media screen and (min-width: 450px) and (max-width: 599.99px) {
  div.buttons {
    gap: 5px;
  }
}

@media screen and (max-width: 450px) {
  div.buttons {
    gap: 0px;
  }
}
