@use "colors";
$toolbarActiveColor: $primary-1;
$toolbarInactiveColor: white;

div.dialog {
  width: 50vw;
}

header {
  width: 100vw;
  height: $header-shrunken-buffer;
  background-image: linear-gradient(to right, $primary-4, $primary-3);

  position: fixed;
}

div.logo-title {
  width: 60px;
  .logo {
    height: 3em;
    margin: 0 0.7em 0.5em 0.7em;
    width: 2.5em;
    position: absolute;
  }
  & span {
    &.title {
      font: $logo-text--font;
      font-size: 26pt;
      white-space: nowrap;
      color: darken($dark-gray-3, 10%);
      margin-left: 3rem;
    }
    &.mobile-sidenav-title {
      font-size: 28pt;
    }
  }
}

mat-icon.mat-icon-24 {
  font-size: 20pt;
  color: $secondary-2-1;
  font-family: "Material Icons Round";
}

div.center-left {
  place-items: center;
}

div.buttons {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  padding-right: 15px;
  transform-origin: left;
  letter-spacing: 1px;
  gap: 10px;
  & button.toolbar-primary-button {
    background: none;
    border: none;
    color: $primary-4;
    cursor: pointer;
    font-weight: 600;
    &:hover {
      color: $primary-3;
    }
  }
}

div.flex-toolbar {
  background: white;
  height: $header-shrunken;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
}

@media screen and (min-width: 450px) and (max-width: 599.99px) {
  div.buttons {
    gap: 5px;
  }
}

@media screen and (max-width: 450px) {
  div.buttons {
    gap: 0px;
  }
}
