@mixin animate(
  $name: '',
  $duration: 1s,
  $delay: 0s,
  $iterations: 1,
  $direction: normal,
  $timing-fn: linear,
  $fill-mode: both
) {
  animation: $name $duration $delay $iterations $direction $timing-fn $fill-mode;
}
@mixin expand-animation-offset($offset) {
  @keyframes expand-offset-animation {
    from {
      transform: translateY($offset);
    }

    to {
      transform: translateY(0);
    }
  }
}

@mixin animate-expand {
  .mixin--animate-expand--base-element
  ~ *.mixin--animation-expand--should-expand {
  }
}
