%common-input {
  background-color: #fff;
  border: 1px solid var(--gray-6);
  border-radius: 3px;
  box-sizing: border-box;
  caret-color: var(--primary-8);
  font-family: var(--body-font), system-ui, sans-serif;
  font-size: 12pt;
  outline-color: var(--gray-6);
  padding: 0.5em;
  transition: 300ms ease-in-out;
  transition-property: background-color outline-color;

  &::input-placeholder {
    color: var(--gray-8);
  }

  &::placeholder {
    color: var(--gray-8);
  }

  &:hover {
    background-color: #fff;
  }

  &:focus {
    outline-color: var(--primary-8);
  }
}
%common-checkbox {
  height: 1rem;
  width: 1rem;
}

%common-label {
  color: var(--gray-9);
  font-size: 12pt;
  font-weight: 500;
}
