:root {
  --gray-0: #f9f9fa;
  --gray-1: #eceeef;
  --gray-2: #dee1e3;
  --gray-3: #cfd3d7;
  --gray-4: #bfc5c9;
  --gray-5: #adb4b9;
  --gray-6: #98a1a8;
  --gray-7: #7f8b93;
  --gray-8: #606e79;
  --gray-9: #374047;
  --primary-0: #f6f7fc;
  --primary-1: #f1f3fa;
  --primary-2: #eceff8;
  --primary-3: #e4e8f5;
  --primary-4: #dadff1;
  --primary-5: #cbd2ec;
  --primary-6: #b6c0e4;
  --primary-7: #99a7d9;
  --primary-8: #7c8ece;
  --primary-9: #5f75c3;
  --primary-10: #445cb5;
  --primary-11: #34478b;
  --primary-12: #222e5a;
  --primary-13: #070912;

  --complement-0: #fcf7eb;
  --complement-1: #fbf3e1;
  --complement-2: #f9eed5;
  --complement-3: #f7e7c1;
  --complement-4: #f3ddaa;
  --complement-5: #efd087;
  --complement-6: #e7bb54;
  --complement-7: #d79f1e;
  --complement-8: #b88819;
  --complement-9: #9a7215;
  --complement-10: #7e5d11;
  --complement-11: #60470d;
  --complement-12: #3f2e09;
  --complement-13: #0c0902;

  --secondary-0: #f2f9e2;
  --secondary-1: #eef7d8;
  --secondary-2: #e8f4cb;
  --secondary-3: #ddefb2;
  --secondary-4: #d2ea9a;
  --secondary-5: #bce069;
  --secondary-6: #a0d22b;
  --secondary-7: #8bb726;
  --secondary-8: #789d21;
  --secondary-9: #64831b;
  --secondary-10: #516a16;
  --secondary-11: #3e5111;
  --secondary-12: #29360b;
  --secondary-13: #080a02;

  --secondary-2-0: #fcf5f9;
  --secondary-2-1: #fbf1f7;
  --secondary-2-2: #f9eaf3;
  --secondary-2-3: #f7e3f0;
  --secondary-2-4: #f4d8ea;
  --secondary-2-5: #efc7e0;
  --secondary-2-6: #e8b0d3;
  --secondary-2-7: #df91c2;
  --secondary-2-8: #d46dae;
  --secondary-2-9: #c94699;
  --secondary-2-10: #a9317d;
  --secondary-2-11: #822660;
  --secondary-2-12: #571940;
  --secondary-2-13: #14060f;
}
