@mixin state($selectors...) {
  $parent: selector-parse($selector: &,);
  $joined-parent: '';
  @each $child in $parent {
    $joined-parent: $joined-parent + ' ' + $child;
  }
  $close-paren: str-index($joined-parent, ')');
  $open-paren: str-index($joined-parent, '(');
  $host-paren: str-index($joined-parent, ':host(');
  $host: str-index($joined-parent, ':host');
  $insertion-point: if($host-paren, $close-paren, $host + 5);
  $inserted-selectors: '';
  @each $child in $selectors {
    $inserted-selectors: str-insert($inserted-selectors,
    $insert: $child,
    $index: 999);
  }
  @if not($host-paren) {
    $inserted-selectors: '(' + $inserted-selectors + ')';
  }
  $final-selector: str-insert($string: $joined-parent,
  $insert: $inserted-selectors,
  $index: $insertion-point,);
  @debug $final-selector;
  @at-root #{$final-selector} {
    @content;
  }
}
