:root {
  //Header
  --monospace-font: 'DM Mono', monospace;
  --body-font: 'Roboto', sans-serif;
  --title-font: 'IBM Plex Sans', sans-serif;
  --upper-height: 70vh;
  --toolbar-height: 65px;
  --title-font--size: 46pt;
  --subtitle-font--size: 24pt;
  --sidebar-width: 14rem;
}
