@import "../../colors";

:root {
  --pk-primary: $primary-1;
  --border-color: $gray-1;

  --pk-surface: $light-gray-2;
  --pk-font-family--feedback-title: "IBM Plex Sans", sans-serif;
  --pk-text--color: $dark-gray-4;
  --pk-font--content: $dark-gray-4;
  --pk-text--color: $dark-gray-4;
}

.feedback-container {
  max-width: 1000px;
}

.feedback-container #feedbackTitle {
  font-family: var(--pk-font-family--feedback-title);
  color: var(--pk-text--color);
}
.feedback-container #feedback {
  font: var(--pk-font--content);
  border-radius: 5px;
}

:host(.lightbulb-icon) {
  display: block;
  border: 1px solid black;
}

.rationale-background {
  /* border-left: 10px solid #0f4bb1; */
  border-radius: 3px;
  /* border: 1px solid blue; */
  border-left: 10px solid #0f4bb1;
  padding: 20px;
  background-color: rgb(255 255 255);
  box-shadow: 0 2px 1px 0 lightgrey;
  color: $primary-5;
}

mat-icon.scale {
  padding-right: 20px;
  height: 90px;
  width: calc(100% - 20px);
  color: $primary-1;
}
h3.feedback-title {
  margin: 0 0 0 0;
}

mat-chip-list mat-chip.mat-standard-chip {
  min-height: 1.7em;
  border-radius: 4px;
  background-color: $primary-3;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.expand-panel {
  background-color: $light-gray-1;
  border-bottom: 1px solid $light-gray-3;
}

//Rationale header

mat-icon.mat-icon-24 {
  height: 40px;
  width: 45px;
  min-width: 45px;
  margin-top: 5px;
  &.info {
    color: blue;
  }
  &.error {
    color: red;
  }
  &.warning {
    color: orange;
  }
}

span.show-when-small {
  display: none;
}

mat-chip-list mat-chip.mat-standard-chip {
  min-height: 1.7em;
  border-radius: 4px;
  background-color: $primary-3;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.chevron-button--container {
  display: inline-grid;
  margin: 0 20px 0 0;
  height: 1.15em;
}
.chevron-button--desktop {
  position: absolute;
}

.expansion-card {
  border-radius: 3px;
  /* border: 1px solid blue; */
  background-color: rgb(255 255 255);
  box-shadow: 0 2px 1px 0 lightgrey;
  color: $primary-5;
  padding: 20px;
  margin: 5px;
}
