@use "palette" as *;
@use "grid" as gr;
@use "bem-mixin" as *;
:host {
  border-radius: 8px;
  color: $primary-5;
  background: white;
  position: relative;
  border: 1px solid $light-gray-5;
  max-height: 150px;
  @include gr.flexbox(row, 0px);
  flex-wrap: wrap;
  @include nativeState("hover") {
    border: 1px solid #e5e5e5;
  }
  @include hoverable-shadow(3);
}

.header-wrapper {
  background: $light-gray-1;
  width: 100%;
  border-bottom: 1px solid $light-gray-4;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  @include element("header") {
    font: 500 16px/20px Noto Sans JP;
    margin: 12px 16px 12px;
  }
}
.wrapper-left {
  width: 30%;
  overflow: hidden;
}
.wrapper-right {
  width: 70%;
  height: fit-content;
  overflow: auto;
  @include element("content") {
    margin: 6% 0%;
  }
}
.icon {
  height: 100%;
  max-height: 100px;
  width: 100%;
  @include state("info") {
    color: $primary-1;
  }
  @include state("error") {
    color: $error-1;
  }
  @include state("warning") {
    color: $complement-1;
  }
}

.text {
  border-radius: 5px;
}
