<div class="side-panel" fxLayout="column" fxLayoutAlign="space-between center">
  <ng-content select="sidebar-description"> </ng-content>
  <elder-drug-form
    (invalid)="this.buttonDisabled = $event"
    #searchForm
  ></elder-drug-form>
  <div class="button-container">
    <button
      [disabled]="this.buttonDisabled"
      type="submit"
      (click)="searchForm.search(undefined)"
      (keydown.enter)="searchForm.search(undefined)"
      class="button submit hh-flex h-center-content v-center-items"
    >
      <mat-icon svgIcon="search"></mat-icon>
      <span style="margin-left: 5px" class="search-text-shadow">Search</span>
    </button>
    <button
      [disabled]="this.buttonDisabled"
      type="submit"
      (click)="searchForm.search(['loperamide'])"
      (keydown.enter)="searchForm.search(['loperamide'])"
      class="button submit hh-flex h-center-content v-center-items"
    >
      <mat-icon svgIcon="search"></mat-icon>
      <span style="margin-left: 5px" class="search-text-shadow">Test</span>
    </button>
  </div>
</div>
