@use "palette" as *;
@use "colors" as *;
@use "grid" as *;
@use 'bem-mixin' as bem;
:host {
  height: 100%;
  display: grid;
  grid-template-areas: "legend" "form";
  grid-template-rows: 40px 70vh;

  @include bem.mobileWidth {
    &::before {
      content: none;
    }
  }
  @include bem.mobileWidth {
    grid-template-columns: 100%;
    grid-template-rows: 10vh 22vh 68vh;
    place-content: start center;
    box-shadow: none;
    grid-template-areas: "." "brand" "form";
    &.is-searching {
      grid-template-rows: 100vh;
      grid-template-areas: "form";
    }
  }
}
:host {
  @include shadow(3);
  @include hoverable-shadow(5);
}
elder-drug-form {
  grid-area: form;
  overflow-y: auto;
  align-self: start;
  justify-self: center;
  box-sizing: border-box;
  width: 100%;
  @include bem.mobileWidth {
    overflow-y: auto;
    padding-top: 0px;
    height: 100%;
  }
}

.legend {
  z-index: 1;
  color: white;
  height: 40px;
  max-height: 40px;
  font-size: 12pt;
  background-color: #062f74;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-weight: 400;
  @include bem.mobileWidth {
    display: none;
  }
}

elder-brand {
  grid-area: brand;
  display: none;

  @include bem.mobileWidth {
    display: block;
  }
}
