<h2 class="legend"><ng-content select="elder-sidebar-legend"></ng-content></h2>
<ng-container *ngIf="!(searchForm.searchEmitter | async)">
  <div class="toggle__container">
    <ng-container [ngTemplateOutlet]="toggleTemplate$ | async"></ng-container>
  </div>
  <div class="brand__container">
    <ng-container [ngTemplateOutlet]="brandTemplate$ | async"></ng-container>
  </div>
</ng-container>

<elder-drug-form (searching)="setSearchingStatus($event)" #searchForm>
  <elder-search-buttons
    submit
    [showEdit]="false"
    [showAbout]="true"
  ></elder-search-buttons>
</elder-drug-form>
