.stem {
  fill: #e6e7e8;
}
.shadows {
  fill: #bcbec0;
}
.inner-bowl {
  fill: url(#radial-gradient);
}
.snake-middle-section {
  fill: url(#linear-gradient);
}
.snake-bottom-section {
  fill: url(#linear-gradient-2);
}
.snake-top-section {
  fill: url(#linear-gradient-3);
}
.snake-eyes {
  fill: #fff;
}
