@import "../../app-color-palette.scss";
.bowl-align {
  margin-top: 0.3em;
  width: 1em;
  padding-left: 0.4em;
  position: relative;
  text-align: center;
  font-size: 36pt;
  padding-right: 0.2em;
}

.show .snake-purp {
  fill: mat-color($candy-app-primary);
  animation: borderFade 2s ease-in;
}

.hide .snake-purp {
  fill: none;
}

.hide {
  display: none;
  width: 0em;
  animation: fadeOutFromNone 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.show {
  display: "";
  opacity: 100%;
  width: 3.5em;
  animation-delay: fadeInFromNone 1s;
  animation: fadeInFromNone 0.3s ease-in;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
    width: 1em;
  }

  50% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.7;
    width: 3.55em;
  }
  100% {
    opacity: 1;
    width: 3.5em;
  }
}

@keyframes fadeOutFromNone {
  0% {
    opacity: 1;
    width: 0em;
  }

  50% {
    opacity: 1;
    width: 1em;
  }

  100% {
    opacity: 0;
    width: fit-content;
  }
}

@keyframes borderFade {
  0% {
    fill: rgb(24, 39, 2);
  }
  80% {
    fill: rgb(6, 59, 6);
  }

  100% {
    fill: mat-color($candy-app-primary);
  }
}
