@import "../../../colors.scss";
.bowl-align {
  width: 1em;
  padding-left: 0.2em;
  position: relative;
  text-align: center;
  font-size: 36pt;
  padding-right: 0.2em;
}

.st0 {
  // cup bowl
  fill: lighten($color: $gray, $amount: 80%);
}
.st1 {
  //cup interior
  fill: lighten($color: $gray, $amount: 55%);
}
.st2 {
  //cup stem
  fill: lighten($color: $gray, $amount: 80%);
}
.st3 {
  //cup shadow
  fill: lighten($color: $gray, $amount: 55%);
}
.st4 {
  //snake
  fill: lighten($accent, 15%);
}
.st5 {
  //snake eyes
  fill: whitesmoke;
}
