@use "palette" as *;

@use "colors" as *;

:host {
  --dropdown-surface: rgb(35, 35, 35);
  --dropdown-button-active-surface: rgb(85, 85, 85);
  --button-resting-surface: rgb(65, 65, 65);
  --button-inactive-border: rgb(70, 70, 70);
  --nav-item-hover: rgb(60, 60, 60);
}

.nav-button {
  cursor: pointer;
  list-style-type: none;
  background: none;
  border: none;
  color: whitesmoke;
  height: 40px;

  &:hover {
    transition: all 0.4s;
    .icon-unselected {
      fill: whitesmoke;
      border-radius: 50px;
    }
  }
  &:focus {
    outline: none;
    background: $secondary-2-1;
  }
  .overflow-menu-button {
    height: 40px;
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

ul {
  list-style-type: none;
}
li .menu-item {
  display: grid;
  height: 40px;
  place-items: center;
  width: 100%;
  margin-bottom: 3px;
  outline: none;
  font: var(--pk-font--menu);
  text-align: left;
  color: rgb(32, 32, 32);
  gap: 10px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    color: gray;
  }
  &:hover {
    background-color: lightblue;
    border-radius: 3px;
    transition: background-color 0.2s;
  }

  .nav-button:active {
    box-shadow: var(--pk-button-active-shadow);
  }
}

.menu-item li.active .menu-item::before {
  filter: grayscale(0);
  color: white;
  transition: filter 1s;
}

.has-dropdown {
  position: fixed;
  right: 10px;
  top: 0px;
  display: grid;
  justify-items: right;
  &:focus-within {
    .icon-unselected {
      transform: rotate(-180deg) scale(0.9);
      transition: all 0.2s ease-in-out;
    }
    .dropdown {
      pointer-events: auto;
      opacity: 100%;
      transform-origin: 0 0;
      transition-delay: 1s;
      transition: opacity 0.3s;
      display: block;
      border: 1px solid var(--pk-primary);
    }
  }
}

.dropdown {
  box-shadow: var(--pk-small-shadow);
  z-index: 5;
  background: lightgray;
  border-radius: 2px;
  width: 175px;
  opacity: 0%;
  display: none;
  font-size: 10pt;
}

@media only screen and (max-width: 600px) {
  .has-dropdown:focus-within .dropdown {
    transform: opacity(100%);
  }
  .menu-item {
    font-size: 12pt;
  }
  .has-dropdown {
    position: fixed;
    right: 0;
    top: 0;
    .dropdown {
      width: 100vw;
    }
  }
}
