<div
    role="menu"
    aria-haspopup="true"
    class="has-dropdown"
    tabindex="0"
  >
    <button class="nav-button">
      <mat-icon
        class="overflow-menu-button"
        svgIcon="overflow_menu_vertical"
      ></mat-icon>
    </button>
    <ul role="menubar" aria-hidden="false" class="nav-menu dropdown">
      <span *ngFor="let tab of hiddenTabs | async"
        ><li class="active">
          <button tabindex="0" role="menuitem" class="menu-item">
            <span class="ellipsis">tab.ShortName</span>
          </button>
        </li>
      </span>
    </ul>
  </div>