@use 'palette' as pal;
@use 'colors' as col;
:host {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-direction: column;
}
.brand__logo {
  width: 3.5rem;
}

.brand__title {
  font-family: "Overpass";
  font-size: 3.5rem;
  color: #414042;
  font-weight: 700;
  letter-spacing: -0.15rem;
}
h1 {
  margin: 0px;
}
