.hh-flex {
  display: flex;
}
.hh-flex.v-baseline-self {
  align-self: baseline;
}
.hh-flex.v-center-self {
  align-self: center;
}
.hh-flex.v-end-self {
  align-self: end;
}
.hh-flex.v-flex-end-self {
  align-self: flex-end;
}
.hh-flex.v-flex-start-self {
  align-self: flex-start;
}
.hh-flex.v-start-self {
  align-self: start;
}
.hh-flex.v-space-around-self {
  align-self: space-around;
}
.hh-flex.v-space-between-self {
  align-self: space-between;
}
.hh-flex.v-space-evenly-self {
  align-self: space-evenly;
}
.hh-flex.v-stretch-self {
  align-self: stretch;
}
.hh-flex.v-right-self {
  align-self: right;
}
.hh-flex.v-baseline-content {
  align-content: baseline;
}
.hh-flex.v-center-content {
  align-content: center;
}
.hh-flex.v-end-content {
  align-content: end;
}
.hh-flex.v-flex-end-content {
  align-content: flex-end;
}
.hh-flex.v-flex-start-content {
  align-content: flex-start;
}
.hh-flex.v-start-content {
  align-content: start;
}
.hh-flex.v-space-around-content {
  align-content: space-around;
}
.hh-flex.v-space-between-content {
  align-content: space-between;
}
.hh-flex.v-space-evenly-content {
  align-content: space-evenly;
}
.hh-flex.v-stretch-content {
  align-content: stretch;
}
.hh-flex.v-right-content {
  align-content: right;
}
.hh-flex.v-baseline-items {
  align-items: baseline;
}
.hh-flex.v-center-items {
  align-items: center;
}
.hh-flex.v-end-items {
  align-items: end;
}
.hh-flex.v-flex-end-items {
  align-items: flex-end;
}
.hh-flex.v-flex-start-items {
  align-items: flex-start;
}
.hh-flex.v-start-items {
  align-items: start;
}
.hh-flex.v-space-around-items {
  align-items: space-around;
}
.hh-flex.v-space-between-items {
  align-items: space-between;
}
.hh-flex.v-space-evenly-items {
  align-items: space-evenly;
}
.hh-flex.v-stretch-items {
  align-items: stretch;
}
.hh-flex.v-right-items {
  align-items: right;
}
.hh-flex.h-baseline-self {
  justify-self: baseline;
}
.hh-flex.h-center-self {
  justify-self: center;
}
.hh-flex.h-end-self {
  justify-self: end;
}
.hh-flex.h-flex-end-self {
  justify-self: flex-end;
}
.hh-flex.h-flex-start-self {
  justify-self: flex-start;
}
.hh-flex.h-start-self {
  justify-self: start;
}
.hh-flex.h-space-around-self {
  justify-self: space-around;
}
.hh-flex.h-space-between-self {
  justify-self: space-between;
}
.hh-flex.h-space-evenly-self {
  justify-self: space-evenly;
}
.hh-flex.h-stretch-self {
  justify-self: stretch;
}
.hh-flex.h-right-self {
  justify-self: right;
}
.hh-flex.h-baseline-content {
  justify-content: baseline;
}
.hh-flex.h-center-content {
  justify-content: center;
}
.hh-flex.h-end-content {
  justify-content: end;
}
.hh-flex.h-flex-end-content {
  justify-content: flex-end;
}
.hh-flex.h-flex-start-content {
  justify-content: flex-start;
}
.hh-flex.h-start-content {
  justify-content: start;
}
.hh-flex.h-space-around-content {
  justify-content: space-around;
}
.hh-flex.h-space-between-content {
  justify-content: space-between;
}
.hh-flex.h-space-evenly-content {
  justify-content: space-evenly;
}
.hh-flex.h-stretch-content {
  justify-content: stretch;
}
.hh-flex.h-right-content {
  justify-content: right;
}
.hh-flex.h-baseline-items {
  justify-items: baseline;
}
.hh-flex.h-center-items {
  justify-items: center;
}
.hh-flex.h-end-items {
  justify-items: end;
}
.hh-flex.h-flex-end-items {
  justify-items: flex-end;
}
.hh-flex.h-flex-start-items {
  justify-items: flex-start;
}
.hh-flex.h-start-items {
  justify-items: start;
}
.hh-flex.h-space-around-items {
  justify-items: space-around;
}
.hh-flex.h-space-between-items {
  justify-items: space-between;
}
.hh-flex.h-space-evenly-items {
  justify-items: space-evenly;
}
.hh-flex.h-stretch-items {
  justify-items: stretch;
}
.hh-flex.h-right-items {
  justify-items: right;
}
.hh-flex.place-baseline-self {
  place-self: baseline;
}
.hh-flex.place-center-self {
  place-self: center;
}
.hh-flex.place-end-self {
  place-self: end;
}
.hh-flex.place-flex-end-self {
  place-self: flex-end;
}
.hh-flex.place-flex-start-self {
  place-self: flex-start;
}
.hh-flex.place-start-self {
  place-self: start;
}
.hh-flex.place-space-around-self {
  place-self: space-around;
}
.hh-flex.place-space-between-self {
  place-self: space-between;
}
.hh-flex.place-space-evenly-self {
  place-self: space-evenly;
}
.hh-flex.place-stretch-self {
  place-self: stretch;
}
.hh-flex.place-right-self {
  place-self: right;
}
.hh-flex.place-baseline-content {
  place-content: baseline;
}
.hh-flex.place-center-content {
  place-content: center;
}
.hh-flex.place-end-content {
  place-content: end;
}
.hh-flex.place-flex-end-content {
  place-content: flex-end;
}
.hh-flex.place-flex-start-content {
  place-content: flex-start;
}
.hh-flex.place-start-content {
  place-content: start;
}
.hh-flex.place-space-around-content {
  place-content: space-around;
}
.hh-flex.place-space-between-content {
  place-content: space-between;
}
.hh-flex.place-space-evenly-content {
  place-content: space-evenly;
}
.hh-flex.place-stretch-content {
  place-content: stretch;
}
.hh-flex.place-right-content {
  place-content: right;
}
.hh-flex.place-baseline-items {
  place-items: baseline;
}
.hh-flex.place-center-items {
  place-items: center;
}
.hh-flex.place-end-items {
  place-items: end;
}
.hh-flex.place-flex-end-items {
  place-items: flex-end;
}
.hh-flex.place-flex-start-items {
  place-items: flex-start;
}
.hh-flex.place-start-items {
  place-items: start;
}
.hh-flex.place-space-around-items {
  place-items: space-around;
}
.hh-flex.place-space-between-items {
  place-items: space-between;
}
.hh-flex.place-space-evenly-items {
  place-items: space-evenly;
}
.hh-flex.place-stretch-items {
  place-items: stretch;
}
.hh-flex.place-right-items {
  place-items: right;
}

.hh-grid {
  display: grid;
}
.hh-grid.hh-12-column {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}
.hh-grid .hh-span-1 {
  grid-column: auto/span 1;
}
.hh-grid .hh-span-2 {
  grid-column: auto/span 2;
}
.hh-grid .hh-span-3 {
  grid-column: auto/span 3;
}
.hh-grid .hh-span-4 {
  grid-column: auto/span 4;
}
.hh-grid .hh-span-5 {
  grid-column: auto/span 5;
}
.hh-grid .hh-span-6 {
  grid-column: auto/span 6;
}
.hh-grid .hh-span-7 {
  grid-column: auto/span 7;
}
.hh-grid .hh-span-8 {
  grid-column: auto/span 8;
}
.hh-grid .hh-span-9 {
  grid-column: auto/span 9;
}
.hh-grid .hh-span-10 {
  grid-column: auto/span 10;
}
.hh-grid .hh-span-11 {
  grid-column: auto/span 11;
}
.hh-grid .hh-span-12 {
  grid-column: auto/span 12;
}
.hh-grid.v-baseline-self {
  align-self: baseline;
}
.hh-grid.v-center-self {
  align-self: center;
}
.hh-grid.v-end-self {
  align-self: end;
}
.hh-grid.v-flex-end-self {
  align-self: flex-end;
}
.hh-grid.v-flex-start-self {
  align-self: flex-start;
}
.hh-grid.v-start-self {
  align-self: start;
}
.hh-grid.v-space-around-self {
  align-self: space-around;
}
.hh-grid.v-space-between-self {
  align-self: space-between;
}
.hh-grid.v-space-evenly-self {
  align-self: space-evenly;
}
.hh-grid.v-stretch-self {
  align-self: stretch;
}
.hh-grid.v-right-self {
  align-self: right;
}
.hh-grid.v-baseline-content {
  align-content: baseline;
}
.hh-grid.v-center-content {
  align-content: center;
}
.hh-grid.v-end-content {
  align-content: end;
}
.hh-grid.v-flex-end-content {
  align-content: flex-end;
}
.hh-grid.v-flex-start-content {
  align-content: flex-start;
}
.hh-grid.v-start-content {
  align-content: start;
}
.hh-grid.v-space-around-content {
  align-content: space-around;
}
.hh-grid.v-space-between-content {
  align-content: space-between;
}
.hh-grid.v-space-evenly-content {
  align-content: space-evenly;
}
.hh-grid.v-stretch-content {
  align-content: stretch;
}
.hh-grid.v-right-content {
  align-content: right;
}
.hh-grid.v-baseline-items {
  align-items: baseline;
}
.hh-grid.v-center-items {
  align-items: center;
}
.hh-grid.v-end-items {
  align-items: end;
}
.hh-grid.v-flex-end-items {
  align-items: flex-end;
}
.hh-grid.v-flex-start-items {
  align-items: flex-start;
}
.hh-grid.v-start-items {
  align-items: start;
}
.hh-grid.v-space-around-items {
  align-items: space-around;
}
.hh-grid.v-space-between-items {
  align-items: space-between;
}
.hh-grid.v-space-evenly-items {
  align-items: space-evenly;
}
.hh-grid.v-stretch-items {
  align-items: stretch;
}
.hh-grid.v-right-items {
  align-items: right;
}
.hh-grid.h-baseline-self {
  justify-self: baseline;
}
.hh-grid.h-center-self {
  justify-self: center;
}
.hh-grid.h-end-self {
  justify-self: end;
}
.hh-grid.h-flex-end-self {
  justify-self: flex-end;
}
.hh-grid.h-flex-start-self {
  justify-self: flex-start;
}
.hh-grid.h-start-self {
  justify-self: start;
}
.hh-grid.h-space-around-self {
  justify-self: space-around;
}
.hh-grid.h-space-between-self {
  justify-self: space-between;
}
.hh-grid.h-space-evenly-self {
  justify-self: space-evenly;
}
.hh-grid.h-stretch-self {
  justify-self: stretch;
}
.hh-grid.h-right-self {
  justify-self: right;
}
.hh-grid.h-baseline-content {
  justify-content: baseline;
}
.hh-grid.h-center-content {
  justify-content: center;
}
.hh-grid.h-end-content {
  justify-content: end;
}
.hh-grid.h-flex-end-content {
  justify-content: flex-end;
}
.hh-grid.h-flex-start-content {
  justify-content: flex-start;
}
.hh-grid.h-start-content {
  justify-content: start;
}
.hh-grid.h-space-around-content {
  justify-content: space-around;
}
.hh-grid.h-space-between-content {
  justify-content: space-between;
}
.hh-grid.h-space-evenly-content {
  justify-content: space-evenly;
}
.hh-grid.h-stretch-content {
  justify-content: stretch;
}
.hh-grid.h-right-content {
  justify-content: right;
}
.hh-grid.h-baseline-items {
  justify-items: baseline;
}
.hh-grid.h-center-items {
  justify-items: center;
}
.hh-grid.h-end-items {
  justify-items: end;
}
.hh-grid.h-flex-end-items {
  justify-items: flex-end;
}
.hh-grid.h-flex-start-items {
  justify-items: flex-start;
}
.hh-grid.h-start-items {
  justify-items: start;
}
.hh-grid.h-space-around-items {
  justify-items: space-around;
}
.hh-grid.h-space-between-items {
  justify-items: space-between;
}
.hh-grid.h-space-evenly-items {
  justify-items: space-evenly;
}
.hh-grid.h-stretch-items {
  justify-items: stretch;
}
.hh-grid.h-right-items {
  justify-items: right;
}
.hh-grid.place-baseline-self {
  place-self: baseline;
}
.hh-grid.place-center-self {
  place-self: center;
}
.hh-grid.place-end-self {
  place-self: end;
}
.hh-grid.place-flex-end-self {
  place-self: flex-end;
}
.hh-grid.place-flex-start-self {
  place-self: flex-start;
}
.hh-grid.place-start-self {
  place-self: start;
}
.hh-grid.place-space-around-self {
  place-self: space-around;
}
.hh-grid.place-space-between-self {
  place-self: space-between;
}
.hh-grid.place-space-evenly-self {
  place-self: space-evenly;
}
.hh-grid.place-stretch-self {
  place-self: stretch;
}
.hh-grid.place-right-self {
  place-self: right;
}
.hh-grid.place-baseline-content {
  place-content: baseline;
}
.hh-grid.place-center-content {
  place-content: center;
}
.hh-grid.place-end-content {
  place-content: end;
}
.hh-grid.place-flex-end-content {
  place-content: flex-end;
}
.hh-grid.place-flex-start-content {
  place-content: flex-start;
}
.hh-grid.place-start-content {
  place-content: start;
}
.hh-grid.place-space-around-content {
  place-content: space-around;
}
.hh-grid.place-space-between-content {
  place-content: space-between;
}
.hh-grid.place-space-evenly-content {
  place-content: space-evenly;
}
.hh-grid.place-stretch-content {
  place-content: stretch;
}
.hh-grid.place-right-content {
  place-content: right;
}
.hh-grid.place-baseline-items {
  place-items: baseline;
}
.hh-grid.place-center-items {
  place-items: center;
}
.hh-grid.place-end-items {
  place-items: end;
}
.hh-grid.place-flex-end-items {
  place-items: flex-end;
}
.hh-grid.place-flex-start-items {
  place-items: flex-start;
}
.hh-grid.place-start-items {
  place-items: start;
}
.hh-grid.place-space-around-items {
  place-items: space-around;
}
.hh-grid.place-space-between-items {
  place-items: space-between;
}
.hh-grid.place-space-evenly-items {
  place-items: space-evenly;
}
.hh-grid.place-stretch-items {
  place-items: stretch;
}
.hh-grid.place-right-items {
  place-items: right;
}
.hh-grid.grid-term,
.hh-grid .grid-term {
  color: gray;
}
.hh-grid.grid-title,
.hh-grid .grid-title {
  font-weight: 500;
  margin: 0 0 0 0;
  color: gray;
}
.hh-grid.grid-header,
.hh-grid .grid-header {
  font-weight: 500;
  margin: 0 0 0 0;
  color: gray;
}
.hh-grid.grid-spacing,
.hh-grid .grid-spacing {
  padding: 10px;
  gap: 15px;
}

.soft-shadow-1 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.061);
}

.soft-shadow-2 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.061);
}

.soft-shadow-3 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.061);
}

.soft-shadow-4 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.061);
}

.soft-shadow-5 {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.061);
}

.soft-shadow-6 {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.061);
}

.soft-shadow-7 {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.061);
}

.soft-shadow-8 {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.061);
}

.soft-shadow-9 {
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.061);
}

.soft-shadow-10 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.061);
}

.soft-shadow-11 {
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.061);
}

.soft-shadow-12 {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.061);
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.viewport-grid section.header {
  height: 60px;
}
.viewport-grid section.content {
  height: calc(100vh - 60px);
}

section.content {
  overflow-x: hidden;
}
section.content main {
  height: 100%;
  width: 100vw;
}
section.content aside.sidenav-open {
  width: 270px;
  box-sizing: border-box;
  transition: opacity 500ms;
  position: absolute;
}
section.content aside.sidenav-open elder-side-navigation {
  height: 100%;
}
section.content aside.sidenav-open .small {
  position: absolute;
  z-index: 10000;
}
section.content aside.sidenav-open .subtitle {
  z-index: 1;
  color: white;
  position: relative;
  width: 100%;
  height: 40px;
  max-height: 40px;
  line-height: 0px;
  font-size: 12pt;
  background-color: #062f74;
}
section.content aside.sidenav-open::before {
  opacity: 1;
  transition: opacity 500ms;
  content: "";
  box-shadow: 0 1px 2px rgba(87, 107, 138, 0.12), 0 2px 4px rgba(82, 92, 126, 0.24), 0 4px 8px rgba(70, 70, 105, 0.36);
  width: 270px;
  position: absolute;
  height: 100%;
  opacity: 0.5;
}
section.content aside.sidenav-open:hover::before {
  /* Show the pseudo-element on hover. */
  opacity: 1;
}
section.content aside.sidenav-open + main {
  margin-left: 270px;
}
section.content.small-screen aside.sidenav-open {
  width: 100vw;
}
section.content.small-screen aside.sidenav-open::before {
  width: 100%;
}
section.content.small-screen aside.sidenav-open + main {
  width: 0px;
}

section.header header.small {
  color: #414042;
  height: 60px;
  border-bottom: 1px solid lightgray;
}
section.header header.large {
  background: white;
  color: #414042;
  height: 142px;
  border-bottom: 1px solid lightgray;
}
section.header header.large elder-toolbar {
  height: 100%;
}

.content {
  background-color: #eceef2;
  overflow-y: auto;
}
.content.large {
  height: calc(100vh - 142px);
}
.content.small {
  height: calc(100vh - 60px);
}

.big-logo-container {
  filter: grayscale(0.5);
  opacity: 70%;
  background-size: 20em 10%;
}

.overlay-container {
  position: absolute;
  margin-left: 50vw;
  margin-top: 15vh;
}

main {
  grid-template-rows: 40px auto;
  width: 100%;
}

.topnav {
  height: 40px;
  max-height: 40px;
  color: white;
  box-sizing: content-box;
  position: fixed;
  display: flex;
  left: 0px;
}
.topnav.nav-button {
  margin: 0 10px 0 10px;
}

.arrow_right-fab {
  position: absolute;
  right: 10px;
  top: 40vh;
  padding: 0px;
}

.table-buffer {
  margin: 50px;
}