@use "palette" as *;
@use "colors" as *;
@use 'bem-mixin' as bem;
@use 'sass:color';
$content-height--full-header: calc(100vh - #{$header-full});

$content-height--shrunken-header: calc(100vh - #{$header-shrunken});

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  color: $gray;
  border-bottom: 1px solid $light-gray-5;
  height: 100%;
  width: 100%;
  &__tabs {
    margin-left: 2.5rem;
    &.is-shifted {
      margin-left: calc(260px + 2.5rem);
    }
    &.is-animating {
      margin-left: calc(260px + 2.5rem);
    }
    @include bem.mobileWidth {
      margin-left: 0px;
    }
  }
}

.main {
  &__content {
    grid-area: content;
    background-color: $light-gray-2;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    .is-animating & {
      width: 100vw;
    }
  }
  &__sidebar {
    grid-area: side;
    width: 100%;
    position: relative;
    top: 0px;
    @include bem.mobileWidth {
      top: 0px;
      position: absolute;
      z-index: 10;
      height: 100%;
    }
    &__toggle {
      position: absolute;
      top: -33px;
      right: -33px;
    }
  }
}

.layout {
  height: 100vh;

  &.hide-overflow {
    overflow: hidden;
  }

  &__main {
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: calc(100vh - 100px);
    grid-template-areas: "side content";
    &.is-animating {
      grid-template-areas: "side content content";
      grid-template-columns: 260px 260px 1fr;
    }
    &.is-sidebar-open {
      grid-template-columns: 260px 1fr;

      @include bem.mobileWidth {
        display: block;
      }
    }
    @include bem.mobileWidth {
      display: block;
    }
  }
  &__header {
    position: sticky;
    top: -60px;
    height: 100px;

    &.is-hidden {
      display: none;
    }
  }
}

.toolbar__toggle,
elder-animated-arrow {
  color: $gray-4;

  &:hover {
    color: $primary-4;
  }
  &--link {
    @extend .toolbar__toggle;
  }
}
elder-menu-toggle elder-animated-arrow {
  @include bem.mobileWidth {
    width: var(--icon-toggle--height, 2rem);
    height: var(--icon-toggle--width, 2rem);
  }
}
.main__sidebar__toggle elder-menu-toggle {
  pointer-events: all;
  * {
    color: #fff;
  }
  --icon-button--background: #{color.adjust(#fff, $alpha: -0.6)};
  --icon-button--outline: #{color.adjust(#fff, $alpha: -0.3)};
  --icon-button--active: #{color.adjust(#fff, $alpha: -0.3)};
  --icon-toggle--height: 1.5rem;
  --icon-toggle--width: 1.5rem;
}

.legend {
  z-index: 1;
  color: white;
  height: 40px;
  max-height: 40px;
  font-size: 12pt;
  background-color: #062f74;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-weight: 400;
  grid-area: legend;
  @include bem.mobileWidth {
    display: none;
  }
}

.click-through {
  pointer-events: none;
}
