<ng-container
  *elderLet="{
    sidebarOpen: sidebarOpen$ | async,
    mobile: mobile$ | async,
    animating: animating$ | async,
    scrollDir: scrollDirection$ | async,
    selectedTable: selectedTable$ | async
  } as state"
>
  {{ state.animating | json }}
  <div
    class="layout"
    [class.hide-overflow]="state.animating.sidebar || state.sidebarOpen"
  >
    <div
      *ngIf="!state.sidebarOpen || !state.mobile || state.animating.sidebar"
      [class.is-mobile]="state.mobile"
      class="layout__header"
    >
      <elder-toolbar [scrolled]="state.scrollDir" class="header">
        <ng-template
          *ngIf="state.mobile"
          [templateContent]="tokens.toolbar.toggle"
        >
          <elder-menu-toggle
            [toggled]="state.sidebarOpen"
            (toggle)="toggleSidenav()"
          >
            <elder-animated-x></elder-animated-x>
          </elder-menu-toggle>
        </ng-template>
        <nav
          elder-toolbar-tabs
          class="header__tabs"
          [class.is-shifted]="state.sidebarOpen"
          [@FullSidebarShift]="getContentAnimationState(state)"
          [class.is-animating]="state.animating.sidebar"
        >
          <elder-tabs [rounded]="state.scrollDir"> </elder-tabs>
        </nav>
        <elder-brand
          elder-toolbar-brand
          [logoRem]="3"
          [showTitle]="!state.mobile"
          [fontRem]="2.6"
          orientation="row"
        ></elder-brand>
        <button class="toolbar__toggle" link mat-icon-button>
          <mat-icon svgIcon="github"></mat-icon>
        </button>
      </elder-toolbar>
    </div>
    <main
      [class.is-toggled]="state.sidebarOpen"
      class="layout__main"
      [class.is-animating]="state.animating.sidebar"
      [@FullSidebarShift]="getContentAnimationState(state)"
      (@FullSidebarShift.start)="changeAnimationState($event, 'sidebar')"
      (@FullSidebarShift.done)="changeAnimationState($event, 'sidebar')"
      @MobileSidebarShift
      *ngIf="state.sidebarOpen || !state.mobile"
    >
      <section class="main__sidebar">
        <div
          (click)="changeToggleState(state.sidebarOpen)"
          class="main__sidebar__toggle"
          *ngIf="!state.mobile"
        >
          <elder-menu-toggle
            toggle
            [toggled]="state.sidebarOpen"
            (toggle)="toggleSidenav()"
          >
            <elder-animated-x></elder-animated-x>
          </elder-menu-toggle>
        </div>

        <elder-sidebar
          *ngIf="state.sidebarOpen || state.animating.sidebar"
          #sidebar
        >
          <ng-template
            *ngIf="state.mobile"
            [templateContent]="tokens.sidebar.toggle"
          >
            <elder-menu-toggle
              toggle
              [toggled]="state.sidebarOpen"
              (toggle)="toggleSidenav()"
            >
              <elder-animated-x></elder-animated-x>
            </elder-menu-toggle>
          </ng-template>

          <ng-template
            *ngIf="state.mobile"
            [templateContent]="tokens.sidebar.brand"
          >
            <elder-brand brand orientation="column"></elder-brand>
          </ng-template>

          <elder-sidebar-legend> Search Beers Criteria </elder-sidebar-legend>
        </elder-sidebar>
      </section>
      <section
        @MobileContentShift
        #mainWrapper
        class="main__content"
        *ngIf="!state.sidebarOpen || !state.mobile"
      >
        <elder-table-card>
          <elder-table-title>
            {{ state.selectedTable.shortName }}
          </elder-table-title>
          <elder-table-description>
            {{ state.selectedTable.description }}
          </elder-table-description>

          <div class="table-field">
            <elder-popup #columnPopup>
              <popup-label>Show Fields</popup-label>
              <popup-placeholder></popup-placeholder>
              <ng-template popup-content>
                <elder-column-selector #columns></elder-column-selector>
              </ng-template>
            </elder-popup>
          </div>
          <div class="table-field">
            <elder-popup #groupPopup>
              <popup-label>Row Groups</popup-label>
              <popup-placeholder></popup-placeholder>
              <ng-template popup-content>
                <elder-group-by #groups></elder-group-by>
              </ng-template>
            </elder-popup>
          </div>
          <div class="table-field">
            <elder-button #filterButton>
              {{ filterButton.toggled ? "Remove" : "Add" }} Filters
              <mat-icon elder-button-icon svgIcon="filter"></mat-icon>
            </elder-button>
          </div>

          <elder-table
            [showFilters]="filterButton.toggled"
            elderTableView
            elderResize
            class="elder-table"
          >
            <div class="table-field filter">
              <elder-filter><p label>Filter columns</p></elder-filter>
            </div>
          </elder-table>
        </elder-table-card>
      </section>
    </main>
  </div>
</ng-container>
