@import "../../../_colors.scss";

.caduceus {
  text-shadow: 0 0.5px 0 rgba(105, 105, 105, 0.4);
}

div.logo-title {
  font-family: $headerfont;
  font-size: 42pt;
  font-weight: 700;
  letter-spacing: -2px;
  color: $gray;
  text-align: center;
}

.logo-buffer {
  padding-bottom: 4em;
  padding-top: 1.5em;
  position: relative;
  background: white;
  width: 100%;
  border-bottom: 1px solid $lightgray;
}

button.sidenav-chevron-left {
  font-size: 24pt;
  position: sticky;
  top: 90%;
  border: 2px solid $primary;
  color: $primary;
}

button.sidenav-chevron-left:hover {
  background-color: transparentize($color: $primary, $amount: 0.5%);
}

.toolbar {
  position: fixed;
  z-index: 100;
}
app-big-logo.big-logo {
  height: 5em;
}

.spacer {
  padding: 0.4em;
}
