@import "../../../_colors.scss";

.button-container {
  min-height: 20px;
  max-height: 200px;
  flex: 0 1 200px;
  border-top: 1px dotted lightgray;
  padding-top: 20px;
  & button[mat-flat-button].search-button {
    color: white;
    font-size: 14pt;
    background: $primary;
    font-weight: 400;
    max-width: 30em;
    height: 2.2em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    width: 250px;
  }

  & button[mat-flat-button].search-button:hover {
    transition: ease-in 0.05s;
    background-image: $toolbar-gradient;
    text-shadow: 0 0 5px rgba(41, 41, 41, 0.164);
  }
}

div.side-panel {
  height: calc(100vh - #{$header-shrunken-buffer});
  box-sizing: border-box;
  width: 285px;
  background: white;

  margin-right: 1px;
  &:hover {
    transition: 500ms;
  }
  /*  &::before {
  
    opacity: 1;
    transition: opacity 500ms;
    content: "";

   
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
    transition: opacity 500ms;
    width: 285px;
    position: absolute;
    height: 100%;
    opacity: 0.5;
  }

  &:hover::before {
   Show the pseudo-element on hover. 
    opacity: 1;
  }*/
}

app-enter-drug-form {
  margin-top: 1em;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 0 70%;
}
