<div class="logo-buffer">
  <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
    <app-big-logo class="big-logo"></app-big-logo>
    <div class="logo-title">
      Elder Drug
    </div>
  </div>
</div>
<div>
  <h4 style="text-align: center; font-family: 'Rubik', sans-serif;"></h4>
</div>
<app-enter-drug-form></app-enter-drug-form>

<!--<button
  mat-icon-button
  class="sidenav-chevron-left"
  *ngIf="handsetLayout"
  (click)="navToggled = !navToggled"         



  ++





  
>
  <mat-icon>chevron_left</mat-icon>
</button>
-->
