@import "../../app-color-palette.scss";
.flex-container-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-container-around {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.dh-input {
  width: 100%;
}

.material-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.material-sidenav {
  width: 22em;
  border-right: 1px inset rgba(70, 70, 70, 0.404);
  padding: 0 1.2em 0 1.2em;
}

.mat-drawer-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.caduceus {
  text-shadow: 0 0.5px 0 rgba(105, 105, 105, 0.4);
}

.minus-button {
  cursor: pointer;
  text-align: center;
  padding-top: 1px;
  border-radius: 10;
  height: 100%;
  color: $accent;
  opacity: 90%;
}
.minus-button:hover {
  opacity: 100%;
}

.plus-button {
  cursor: pointer;
  text-align: center;
  padding-top: 1px;
  border-radius: 10;
  color: $primary;
  opacity: 90%;
}
.plus-button:hover {
  opacity: 100%;
}

.add-remove {
  height: 100%;
}

.height-limit {
  max-height: 65vh;
  overflow: auto;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#title {
  padding-bottom: 0.2em;
  padding-top: 0.15em;

  width: 100%;
}

.search-button-container {
  padding-top: 1.5em;
  overflow: hidden;
}

.gray-border {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-top: 1em;

  /*
  padding: 1em;
  
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.185);*/
}
