<form autocomplete="off">
  <section class="height-limit gray-border">
    <div *ngFor="let drug of drugs; index as i" class="flex-container-between">
      <mat-form-field
        style="width: 100%;"
        appearance="outline"
        class="input-drug-field disable-text-selection"
      >
        <mat-label>Enter Drug (e.g. zolpidem)</mat-label>

        <input
          type="text"
          class="input-drug-field"
          aria-label="Search your drug"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          (input)="getInputString($event.target.value)"
          (keydown.Tab)="addDrug()"
          (keydown.Enter)="search(submission)"
        />

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
            [innerHTML]="boldString(option, activeString)"
          >
          </mat-option>
        </mat-autocomplete>
        <mat-icon class="add-remove" fxFlex fxLayout="row" fxFlex.xl matSuffix>
          <div
            matRipple
            [matRippleCentered]="true"
            [matRippleRadius]="15"
            [matRippleUnbounded]="true"
            class="plus-button"
            (click)="addDrug()"
            [style.display]="i < 1 ? '' : 'none'"
          >
            add_circle_outline
          </div>
          <div
            matRipple
            [matRippleCentered]="true"
            [matRippleRadius]="15"
            [matRippleUnbounded]="true"
            class="minus-button"
            (click)="removeDrug(i)"
            [style.display]="i >= 1 ? '' : 'none'"
            color="accent"
          >
            remove_circle_outline
          </div>
        </mat-icon>
      </mat-form-field>
    </div>
  </section>
  <section>
    <div class="search-button-container">
      <button
        mat-raised-button
        class="action-button sticky"
        color="primary"
        type="button"
        (click)="search(submission)"
      >
        <mat-icon>search</mat-icon> SEARCH
      </button>
    </div>
  </section>
</form>
