@use "colors";

.header-bowl {
  position: relative;
}

.title-bowl {
  position: relative;
  fill: $primary-1;
}

.center-logo {
}

////////////
.bowl-alt {
  fill: #dbdbdb;
}
.interior-alt {
  fill: $dark-gray-4;
}
.stem-alt {
  fill: #dfdfdf;
}
.shadow-alt {
  fill: #a7a9aa;
}
.snake-alt {
  fill: $dark-gray-4;
}
.eyes-alt {
  fill: #ffffff;
}
