@use 'palette' as pal;
@use '~@angular/material' as mat;
@use 'bem-mixin' as *;

.typeahead {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  mat-option {
    border-bottom: 1px solid pal.$light-gray-5;
    height: 2.5rem;
    border-right: 1px solid pal.$light-gray-5;
    border-left: 1px solid pal.$light-gray-5;
    padding: 0 0 0 8px;
    overflow: visible;
    .option__content {
      display: grid;
      grid-template-columns: 2.5rem 1fr 4rem;
      align-items: center;
      justify-items: start;
    }
    .option__icon {
      color: pal.$gray-1;
    }

    &.is-full {
      height: 2.5rem;
      @include mobileWidth {
        height: 3.25rem;
      }
    }
    &.is-editing {
      height: 1.5rem;
    }
  }

  &.mat-autocomplete-panel {
    max-height: 400px;
    @include mobileWidth {
      max-height: 100%;
    }
  }
  @include mat.elevation-transition;
}
