@use 'sass:color';

@import "palette";

:host {
  --input-background: white;
  --input-background--hover: #{$light-gray-1};
  --input-background--focus: #{white};
  --input-stroke: #{$gray-1};
  --input-label--text: #{$gray-2};
  --input-label--text-unfocused: #{$gray-3};
  --input-label--text-focused: #{$dark-gray-1};
  --input-text: #{tint($gray-1, 20%)};
  --input-label--transformation-after: translateY(-2.5em) scale(0.8);
  --input-label--transformation-before: translateY(0em) scale(1);
  --input-text--focus-color: $primary-3;
  --input-focus--shadow: #{$gray-1};
  --input-focus--stroke: #{$primary-1};
  --input-icon--color: #83858a;
  --input-font: "Roboto";
  --input-number-font: "Roboto";
  --input-radius: 3px;
  --input-font--size: 12pt;
  --autocomplete--height: 2.6em;
}
button {
  &.add-button {
    stroke: none;
    fill: var(--input-label--text);
    pointer-events: all;
    & .add-icon {
      transform: scale(0.8);
      stroke: none;
      font-size: 12pt;

      &:hover {
      }
    }
  }
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-container {
  overflow: visible;
  position: relative;
  z-index: 1;
  padding-top: 1.25em;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 599.99px) {
  .form-container {
    margin: 0 15% 0 15%;
  }
}

.chip-container {
  width: 90%;
}
.drug-inputs {
  margin-top: 1em;
}

.form-field {
  outline: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  pointer-events: none;
  grid-template-rows: 36px var(--autocomplete--height);
  grid-template-columns: auto 3em;
  width: 100%;

  &:focus-within {
    background-position: 0vw calc(var(--autocomplete--height) * 0.95);
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    background-color: var(--input-background--focus);
    box-sizing: border-box;
    & .form-field__container {
      box-shadow: 0 0 3px 2px transparentize($primary-1, 0.8%);
    }
    & .add-button__add-icon {
      fill: $primary-1;
    }
  }
}

.form-field__label {
  grid-column: 2;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  font-size: var(--input-font--size);
  font-family: var(--input-font);
}

.form-field__add-button {
  grid-row: 2;
  grid-column: 2;
}
.form-field__container {
  grid-template-columns: auto 2.7em;
  grid-row: 2;
  grid-column: 1 / span 2;
  border: 1px solid var(--input-text);
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.132);
}
.form-field__container__input {
  padding: 0px;
  margin: 0px;
  background: none;
  padding-left: 0.6em;
  font-size: 12pt;
  outline: none;
  grid-row: 1;
  border: none;
  pointer-events: all;
  grid-column: 1;
  width: calc(100% - 55px);
}

.chip-list--container {
  width: 100%;
  padding: 0px;
}

.panel-border {
  border: 1px solid black;
}
.flatbottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.remove-icon {
  fill: shade($light-gray-5, 20%);
  cursor: pointer;
  &:hover {
    fill: $complement-1;
  }
}
.add-icon {
  fill: var(--input-icon--color);
}
.editable-input {
  outline: none;
  background: none;
  border: none;

  margin-bottom: 1px;
  display: flex;

  flex-direction: row;
  &:focus-within {
    border-bottom: 2px solid $primary-1;
    background: $light-gray-1;
    input {
      font-weight: 500;
      cursor: text;
      text-decoration: none;
    }
  }
  input {
    outline: none;
    background: none;
    border: none;
    padding: 10px 10px 8px 10px;
    font-family: "Roboto";
    /* height: 100%; */
    width: 9.55em;
    cursor: pointer;
    text-decoration: underline;

    text-transform: capitalize;
  }
}

.form-field__errors {
  color: red;
}

.mat-list-base .chip-list__title {
  padding: 0px;
  color: rgba(0, 0, 0, 0.7);
}
