<ng-container
  *elderLet="{
    focused: _isFocused$ | async,
    focus: focusState$ | async,
    mobile: _isMobile$ | async,
    searchStarted: searchStarted$ | async,
    typeahead: typeaheadState$ | async
  } as state"
>
  <form [formGroup]="drugsGroup">
    <section
      aria-label="You can look up drugs on Beers Criteria using this form"
      class="form-container"
      [class.is-widened]="state.searchStarted"
    >
      <div
        cdkMonitorSubtreeFocus
        (cdkFocusChange)="setFocusStatus($event, -1)"
        class="search-field"
      >
        <div
          #autoOrigin="matAutocompleteOrigin"
          matAutocompleteOrigin
          class="search-field__input-container"
          [class.is-missing]="drugInput.errors?.invalidAsync"
          [class.is-invalid]="drugInput.invalid && drugInput.value.length"
          [class.is-pinned]="state.searchStarted"
          [class.is-open]="drugInput.value.length"
          [class.is-focused]="state.focused"
          name="search"
        >
          <button
            mat-icon-button
            class="add-button"
            [disabled]="!drugInput.valid"
            [matTooltip]="getTooltipText('search')"
            matTooltipPosition="above"
            matTooltipClass="search-field__tooltip search-field__tooltip--arrow-tip"
          >
            <mat-icon
              class="icon-button__icon"
              inline="true"
              svgIcon="search"
            ></mat-icon>
          </button>
          <input
            type="text"
            formControlName="drugInput"
            attr.data-control="-1"
            (keydown.Enter)="search(); autoTrigger?.closePanel()"
            class="search-field__input"
            placeholder="Zolpidem"
            aria-label="Enter a drug name. For example, 'zolpidem'"
            aria-describedby="errors"
            #searchInput
            #autoTrigger="matAutocompleteTrigger"
            [matAutocomplete]="autoRef"
            [matAutocompleteConnectedTo]="autoOrigin"
          />
          <div
            class="search-field__spinner-container"
            *ngIf="state.typeahead.pending; else addButton"
          >
            <mat-spinner diameter="25"></mat-spinner>
          </div>

          <ng-template #addButton>
            <button
              [disabled]="!drugInput.valid"
              mat-icon-button
              class="icon-button"
              (click)="addTerm(); searchInput.focus(); stopPropagation($event)"
              [matTooltip]="getTooltipText('add')"
              matTooltipPosition="above"
              matTooltipClass="search-field__tooltip search-field__tooltip--arrow-tip"
            >
              <mat-icon
                class="icon-button__icon"
                inline="true"
                svgIcon="add_ibm"
              ></mat-icon></button
          ></ng-template>
        </div>
        <div
          *ngIf="drugInput.invalid && !drugInput.hasError('required')"
          class="search-field__errors errors"
          id="errors"
          [class.is-invalid]="drugInput.invalid"
          [class.is-missing]="drugInput.errors?.invalidAsync"
          [@transitionMessages]="'enter'"
        >
          <div>
            <mat-icon
              [svgIcon]="drugInput.errors?.invalidAsync ? 'warn' : 'error'"
            ></mat-icon>
          </div>
          <div>
            <span role="alert" *ngIf="drugInput.errors?.minlength">
              Drug names must be at least 3 characters long.
            </span>
            <span role="alert" *ngIf="drugInput.errors?.maxLength">
              Drug names should be fewer than 70 characters.
            </span>
            <span role="alert" *ngIf="drugInput.errors?.pattern">
              Drug names should only contain alphanumeric letters.
            </span>
            <span role="alert" *ngIf="drugInput.errors?.invalidAsync"
              >Only drugs from the dropdown menu have guidance.
            </span>
          </div>
        </div>
      </div>

      <section class="wrapper__edit-list">
        <mat-list
          formArrayName="drugList"
          #chipList
          aria-label="Drug selection"
          class="edit-list"
        >
          <div
            *ngIf="drugListLength > 0"
            mat-subheader
            class="edit-list__title"
          >
            SELECTED DRUGS
          </div>

          <mat-list-item
            *ngFor="let drugName of drugList.controls; index as i"
            tabIndex="-1"
            #searchList
            class="edit-list__item editable-item"
          >
            <mat-icon
              mat-list-icon
              matTooltip="Remove {{ drugName.value }}"
              matTooltipPosition="below"
              matTooltipShowDelay="200"
              matTooltipClass="tooltip"
              (mouseover)="matTooltip.disabled = true"
              (mouseleave)="matTooltip.disabled = false"
              svgIcon="cancel"
              tabIndex="0"
              class="editable-item__icon"
              (click)="
                removeTermAt(i); autoTrigger.closePanel(); (stopPropagation)
              "
              (keydown.enter)="removeTermAt(i)"
            ></mat-icon>
            <span
              #editOrigin="matAutocompleteOrigin"
              matAutocompleteOrigin
              class="editable-item__field"
              cdkMonitorSubtreeFocus
              (cdkFocusChange)="setFocusStatus($event, i)"
              ><input
                class="editable-item__field__input"
                (keydown.enter)="editDrugField.blur()"
                #editDrugField
                #editDrugTrigger="matAutocompleteTrigger"
                [formControlName]="i"
                attr.data-control="{{ i }}"
                [matAutocomplete]="autoRef"
                [matAutocompleteConnectedTo]="editOrigin"
                #matTooltip="matTooltip"
                matTooltip="Click to edit {{ drugName.value }}"
                matTooltipPosition="below"
                matTooltipClass="tooltip"
                [class.is-missing]="getControlAt(i).errors?.invalidAsync"
              />
            </span>

            <mat-divider
              class="editable-item__divider"
              *ngIf="i != drugListLength - 1"
            ></mat-divider>
          </mat-list-item>
        </mat-list>
        <mat-autocomplete
          #autocomplete
          #autoRef="matAutocomplete"
          autoActiveFirstOption
          class="typeahead"
          (optionSelected)="chooseTerm($event)"
        >
          <div class="autocomplete__options">
            <mat-option
              [value]="option[0] + option[1]"
              *ngFor="let option of state.typeahead.data"
              [class.is-edit]="false"
              [class.is-full]="true"
            >
              <mat-icon class="mat-option__icon" svgIcon="search"></mat-icon>
              <span>
                <span style="font-weight: 500">{{ option[0] }}</span
                >{{ option[1] }}</span
              >
              <ng-container [ngSwitch]="option[2]">
                <span class="chip chip--generic" *ngSwitchCase="'~g'"
                  >generic</span
                >
                <span class="chip chip--brand" *ngSwitchCase="'~b'">brand</span>
              </ng-container>
            </mat-option>
          </div>
        </mat-autocomplete>
      </section>
    </section>
  </form>
  <section class="wrapper__buttons">
    <ng-content select="[submit]"></ng-content>
  </section>
</ng-container>
