@use '~@angular/material' as mat;
@use 'sass:color' as *;
@use "palette" as *;
@use "bem-mixin" as *;
@use "colors" as *;
@use '~@angular/cdk';

@include cdk.a11y-visually-hidden();

:host {
  --input-stroke: #{$gray-1};
  --input-label--text: #{$gray-2};

  --input-text: #{tint($gray-1, 20%)};

  --input-focus--stroke: #{$primary-1};

  --input-font--size: 12pt;
  --autocomplete--height: 2.5em;
  --autocomplete--mobile-height: 3.5em;
  --border-color: #{$light-gray-4};
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-container {
  overflow: visible;
  position: relative;
  z-index: 1;
  padding-top: 1.25em;
  margin-left: 5%;
  margin-right: 5%;
  @include mobileWidth {
    margin: 0 15% 0 15%;
    @include state("widened") {
      margin: 0;
      padding: 0;
    }
  }
}

.drug-inputs {
  margin-top: 1em;
}

.search-field {
  outline: none;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  width: 100%;
  @include mobileWidth {
    grid-template-rows: var(--autocomplete-mobile-height);

    @include nativeState("focus-within") {
    }
  }
  &:focus-within {
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    box-sizing: border-box;
  }

  @include element("label") {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    font-size: var(--input-font--size);
    font-family: var(--input-font);
    width: 100%;
  }

  @include element("input-container") {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    min-height: 2.5em;
    display: flex;
    align-items: center;
    @include mat.elevation-transition;

    @include mobileWidth {
      grid-row: 1;
      border-radius: 2rem;
      padding: 0 0.7rem;
      @include multipleStates("open", "pinned") {
        border-radius: 0px;
        min-height: 3.5rem;
      }
    }
    @include state("open") {
      border-bottom: 2px solid $primary-1;
      border-right: 1px solid var(--border-color);
      border-left: 1px solid var(--border-color);
      border-top: 1px solid var(--border-color);
      outline-offset: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @include multipleNativeStates("hover", "focus-within") {
      --border-color: #{$light-gray-2};
      @include shadow(2);
    }

    @include state("invalid") {
      border-bottom: 2px solid $error-4;
    }
    @include state("missing") {
      border-bottom: 2px solid $complement-1;
    }
  }
  @include element("input") {
    padding: 0px;
    margin: 0px;
    background: none;
    padding-left: 0.6em;
    font-size: 12pt;
    outline: none;
    grid-row: 1;
    border: none;
    pointer-events: all;
    grid-column: 1;
    width: calc(100% - 55px);
    min-height: 2.5rem;
    @include mobileWidth {
      width: 100%;
      min-height: 3rem;
    }
  }
  @include element("spinner") {
    display: inline-block;
    vertical-align: center;
    position: relative;
  }
}

.panel-border {
  border: 1px solid black;
}

.errors {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;

  @include state("invalid") {
    color: $error-4;
    @include state("missing") {
      color: $complement-1;
    }
  }
}
