<ng-container
  *elderLet="{
    focused: isFocused$ | async,
    mobile: isMobile$ | async,
    pinSearch: pinSearch | async,
    panelOpen: panelOpen | async
  } as state"
  ><form [formGroup]="drugsGroup">
    <section
      cdkScrollable
      aria-label="You can look up drugs on Beers Criteria using this form"
      class="form-container"
      [class.is-widened]="state.pinSearch"
    >
      <div
        cdkMonitorSubtreeFocus
        (cdkFocusChange)="setFocusStatus($event)"
        class="search-field"
      >
        <label
          class="search-field__label"
          [class.lifted]="drugInput.dirty"
          [class.cdk-visually-hidden]="state.mobile"
          for="search"
          *ngIf="!pinSearch"
        >
          ADD DRUGS
        </label>

        <div
          #addDrugOrigin="matAutocompleteOrigin"
          matAutocompleteOrigin
          class="search-field__input-container"
          [class.is-missing]="drugInput.errors?.invalidAsync"
          [class.is-invalid]="drugInput.invalid && drugInput.value.length"
          [class.is-pinned]="state.pinSearch"
          [class.is-open]="state.panelOpen"
          [class.is-focused]="state.focused"
          id="searchFieldInputContainer"
          name="search"
        >
          <button
            [disabled]="!drugInput.valid"
            mat-icon-button
            class="add-button"
            [matTooltip]="
              drugInput.valid
                ? 'Add ' + addDrugField?.value
                : 'Choose a drug from the dropdown'
            "
            matTooltipPosition="above"
            matTooltipShowDelay="200"
            matTooltipHideDelay="200"
            matTooltipClass="search-field__tooltip search-field__tooltip--arrow-tip"
            (click)="addInput(); addDrugTrigger.closePanel(); (stopPropagation)"
          >
            <mat-icon
              class="icon-button__icon"
              inline="true"
              svgIcon="search"
            ></mat-icon>
          </button>
          <input
            type="text"
            formControlName="drugInput"
            (keydown.Enter)="addDrugTrigger?.closePanel()"
            (input)="filterAutocomplete(addDrugField.value)"
            class="search-field__input"
            aria-label="Enter your drug name here. For example, 'zolpidem'"
            #addDrugField
            #addDrugTrigger="matAutocompleteTrigger"
            [matAutocomplete]="autocompleteRef"
            [matAutocompleteConnectedTo]="addDrugOrigin"
            placeholder="Zolpidem"
            aria-describedby="errors"
          />
          <div
            class="search-field__spinner-container"
            *ngIf="isPending$ | async; else addButton"
          >
            <mat-spinner diameter="25"></mat-spinner>
          </div>

          <ng-template #addButton>
            <button
              [disabled]="!drugInput.valid"
              mat-icon-button
              class="add-button"
              [matTooltip]="
                drugInput.valid
                  ? 'Add ' + addDrugField?.value
                  : 'Choose a drug from the dropdown'
              "
              matTooltipPosition="above"
              matTooltipShowDelay="200"
              matTooltipHideDelay="200"
              matTooltipClass="search-field__tooltip search-field__tooltip--arrow-tip"
              (click)="
                addInput(); addDrugTrigger.closePanel(); (stopPropagation)
              "
            >
              <mat-icon
                class="icon-button__icon"
                inline="true"
                svgIcon="add"
              ></mat-icon></button
          ></ng-template>
        </div>
        <div
          *ngIf="drugInput.invalid && !drugInput.hasError('required')"
          class="search-field__errors errors"
          id="errors"
          [class.is-invalid]="drugInput.invalid"
          [class.is-missing]="drugInput.errors?.invalidAsync"
        >
          <div>
            <mat-icon
              [svgIcon]="drugInput.errors?.invalidAsync ? 'warn' : 'error'"
            ></mat-icon>
          </div>
          <div>
            <span role="alert" *ngIf="drugInput.errors?.minlength">
              Drug names must be at least 3 characters long.
            </span>
            <span role="alert" *ngIf="drugInput.errors?.maxLength">
              Drug names should be fewer than 70 characters.
            </span>
            <span role="alert" *ngIf="drugInput.errors?.pattern">
              Drug names should only contain alphanumeric letters.
            </span>
            <span role="alert" *ngIf="drugInput.errors?.invalidAsync"
              >Only drugs from the dropdown menu have guidance.
            </span>
          </div>
        </div>
      </div>

      <div class="chip-list--container">
        <mat-list
          formArrayName="drugList"
          #chipList
          aria-label="Drug selection"
        >
          <div mat-subheader class="chip-list__title">SEARCH TERMS</div>

          <mat-list-item
            *ngFor="let drugName of drugList.controls; index as i"
            tabIndex="-1"
            #searchList
          >
            <mat-icon
              mat-list-icon
              matTooltip="Remove {{ drugName.value }}"
              matTooltipPosition="below"
              matTooltipShowDelay="200"
              matTooltipClass="tooltip"
              (mouseover)="matTooltip.disabled = true"
              (mouseleave)="matTooltip.disabled = false"
              svgIcon="cancel"
              tabIndex="0"
              class="remove-icon"
              (click)="
                removeOptionAt(i);
                addDrugTrigger.closePanel();
                (stopPropagation)
              "
              (keydown.enter)="removeOptionAt(i)"
            ></mat-icon>
            <span
              #drugEditOrigin="matAutocompleteOrigin"
              matAutocompleteOrigin
              class="edit-drug-field"
              ><input
                class="edit-drug-field__input"
                (keydown.enter)="editDrugField.blur()"
                (input)="filterAutocomplete(editDrugField.value)"
                #editDrugField
                #editDrugTrigger="matAutocompleteTrigger"
                [formControlName]="i"
                [matAutocomplete]="autocompleteRef"
                [matAutocompleteConnectedTo]="drugEditOrigin"
                matTooltip="Click to edit {{ drugName.value }}"
                matTooltipPosition="below"
                matTooltipShowDelay="200"
                matTooltipHideDelay="200"
                #matTooltip="matTooltip"
                matTooltipClass="tooltip"
                [class.is-missing]="getControlAt(i).errors?.invalidAsync"
              />
            </span>

            <mat-divider *ngIf="i != drugListLength - 1"></mat-divider>
          </mat-list-item>
        </mat-list>
        <mat-autocomplete
          #autocomplete
          autoActiveFirstOption
          #autocompleteRef="matAutocomplete"
          class="drug-form-autocomplete autocomplete--mobile-search"
          @fadeAutocomplete
          (opened)="panelOpen.next(true)"
          (closed)="panelOpen.next(false)"
        >
          <mat-option
            #displayOption
            [value]="option[0] + option[1]"
            *ngFor="let option of autocompleteObserver | async"
            (keydown.enter)="chooseOption(displayOption.value)"
          >
            <span>
              <span style="font-weight: 500">{{ option[0] }}</span
              >{{ option[1] }}</span
            >
            <span *ngIf="addDrugTrigger.panelOpen">
              <ng-container [ngSwitch]="option[2]">
                <span class="chip chip--generic" *ngSwitchCase="'~g'"
                  >generic</span
                >
                <span class="chip chip--brand" *ngSwitchCase="'~b'">brand</span>
              </ng-container></span
            >
          </mat-option>
        </mat-autocomplete>
      </div>
    </section>
    <section class="submit">
      <div class="submit__container">
        <button
          type="submit"
          (click)="search(undefined)"
          (keydown.enter)="search(undefined)"
          class="submit__button"
        >
          <mat-icon class="submit__button__icon" svgIcon="search"></mat-icon>
          <span style="margin-left: 5px" class="submit__button__text"
            >Search</span
          >
        </button>
        <button
          type="submit"
          (click)="search(undefined)"
          (keydown.enter)="search(undefined)"
          class="submit__button"
        >
          <mat-icon class="submit__button__icon" svgIcon="search"></mat-icon>
          <span style="margin-left: 5px" class="submit__button__text"
            >Edit Search</span
          >
        </button>
      </div>
    </section>
  </form>
  <ng-container>
    <!--<button
            mat-icon-button
            (click)="removeOptionAt(i); trigger.closePanel(); stopPropagation()"
            (keydown.enter)="removeOptionAt(i)"
            *ngIf="i > 0"
          >
            <mat-icon
              class="remove icon-button"
              inline="true"
              svgIcon="delete"
            ></mat-icon>
          </button>-->
  </ng-container></ng-container
>
