@use 'palette' as pal;
@use 'bem-mixin' as *;

.is-widened .edit__item-wrapper {
  @include mobileWidth {
    max-height: 70vh;
    overflow: auto;
  }
}

.edit__item-wrapper {
  @include mobileWidth {
    max-height: 40vh;

    overflow: auto;

    &.list-shown::before {
      content: "";
      height: 20px;
      width: 97%;
      right: 0px;
      left: 0px;
      bottom: 0px;
      position: absolute;
      background-image: linear-gradient(0deg, #ffffff 0%, transparent 100%);
      z-index: 19;
      pointer-events: none;
    }
  }
}
.edit__list {
  &.not-shifted {
    transform: translateY(14px);
  }
}
.edit-item {
  &__icon {
    fill: pal.shade(pal.$light-gray-5, 20%);
    cursor: pointer;
    &:hover {
      fill: pal.$complement-1;
    }
  }
  &__field {
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;

    &__input {
      outline: none;
      background: none;
      border: none;
      padding: 10px 10px 8px 10px;
      font-family: "Roboto";
      cursor: text;
      text-decoration: underline;
      text-transform: capitalize;
      @include mobileWidth {
        font-size: 0.9rem;
      }

      &:focus {
        text-decoration: none;
        border-bottom: 2px solid pal.$primary-1;
        background-color: pal.$light-gray-1;
      }
      &.ng-invalid {
        color: pal.$error-4;
        text-decoration: none;
        &:focus {
          border-bottom: 2px solid pal.$error-4;
          color: pal.$error-4;
          font-weight: 500;
          background-color: pal.getHighlightColor(pal.$error-1);
        }
      }
    }
  }
}
