@use 'palette' as pal;
@use 'bem-mixin' as *;

.is-widened .edit__item-wrapper {
  @include mobileWidth {
    max-height: 70vh;
    overflow: auto;
  }
}

.edit__item-wrapper {
  &::-webkit-scrollbar {
    width: 0.6em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 5px;
  }
  @include mobileWidth {
    max-height: 40vh;
    overflow: auto;
  }
}
.edit-item {
  &__icon {
    fill: pal.shade(pal.$light-gray-5, 20%);
    cursor: pointer;
    &:hover {
      fill: pal.$complement-1;
    }
  }
  &__field {
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;

    &__input {
      outline: none;
      background: none;
      border: none;
      padding: 10px 10px 8px 10px;
      font-family: "Roboto";
      cursor: text;
      text-decoration: underline;
      text-transform: capitalize;
      @include mobileWidth {
        font-size: 1rem;
      }

      &:focus {
        text-decoration: none;
        border-bottom: 2px solid pal.$primary-1;
        background-color: pal.$light-gray-1;
      }
      &.ng-invalid {
        color: pal.$error-4;
        text-decoration: none;
        &:focus {
          border-bottom: 2px solid pal.$error-4;
          color: pal.$error-4;
          font-weight: 500;
          background-color: pal.getHighlightColor(pal.$error-1);
        }
      }
    }
  }
}
