@use "palette" as *;

button[mat-icon-button] {
  stroke: none;
  pointer-events: all;
  cursor: pointer;
  &:disabled {
    color: $gray-1;
  }
}
%icon {
  stroke: none;
  height: 2rem;
}
mat-icon[data-add-icon] {
  @extend %icon;
  color: $primary-1;
  :disabled & {
    color: $gray-3;
  }
}
mat-icon[data-search-icon] {
  @extend %icon;
  color: $gray-3;
  height: 1.7rem;
  overflow: visible;
}

.search-button {
  overflow: visible;
  width: 40px;
  height: 25px;
}
[disabled] [data-add-icon] {
  color: $gray-1;
}
