@use "palette" as *;

button[mat-icon-button] {
  stroke: none;
  pointer-events: all;
  cursor: pointer;
  &:disabled {
    color: $gray-1;
  }
}
%icon {
  stroke: none;
  height: 2rem;
  color: $gray-3;
}
mat-icon[data-add-icon] {
  @extend %icon;
}
mat-icon[data-search-icon] {
  @extend %icon;
  height: 1.8rem;
}
