@use "sass:string";
/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

@mixin sibling($sibling) {
  & .#{$sibling} {
    @content;
  }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin state($state) {
  &#{".is-" + $state} {
    @content;
  }
}

@function _getMultiStateString($prefix, $sep, $states) {
  $out: "";
  $appendage: if($prefix == ":", "", "is-");

  @each $state in $states {
    $out: $prefix + $appendage + $state + $sep + $out;
  }
  @debug $out;
  @return $out;
}
@mixin multipleStates($states...) {
  &#{_getMultiStateString('.',',',$states)} {
    @content;
  }
}
@mixin comboStates($states...) {
  &#{_getMultiStateString('.','',$states)} {
    @content;
  }
}
@mixin nativeState($state) {
  &#{":" + $state} {
    @content;
  }
}
@mixin multipleNativeStates($states...) {
  &#{_getMultiStateString(':',',&', $states)} {
    @content;
  }
}
@mixin comboNativeStates($states...) {
  &#{_getMultiStateString(':','',$states)} {
    @content;
  }
}
@mixin position($position) {
  &#{":" + $position} {
    @content;
  }
}

@mixin pseudoElement($pseudo) {
  &#{"::" + $pseudo} {
    @content;
  }
}

@mixin mobileWidth {
  @media screen and (max-width: 599.99px) {
    @content;
  }
}
