<div
  *elderLet="{
    groupColumns: groupService.groupedItems$ | async,
    ungroupedColumns: groupService.ungroupedItems$ | async
  } as state"
  cdkDropListGroup
  #droplistGroup
  class="modal"
>
  <header>
    <h1 class="title">Group Columns</h1>
    <p class="caption">Drag column names to the <em>Groups</em> list to group drugs by field.</p>
    <mat-divider></mat-divider>
  </header>
  <section>
    <h2 class="subheading-2">Groups</h2>
    <ol
      [id]="groupListId"
      #groupDroplistRef="cdkDropList"
      #groupList
      cdkDropList
      [cdkDropListData]="state.groupColumns"
      [cdkDropListConnectedTo]="[ungroupDropList]"
      (cdkDropListDropped)="drop($event)"
      class="list"
      role="listbox"
      tabindex="0"
      [class.noclick]="!isGroupClickable"
    >
      <li
        class="list-item"
        *ngFor="let option of state.groupColumns; index as i"
        #groupListItem
        cdkDrag
        role="option"
        cdkDragBoundary=".group-row"
        [id]="option"
        [keyGrid]="{ row: i, col: 0 }"
        (keydown)="handleGrouplistKeydown($event, groupList, i)"
        (keydown.escape)="groupList.focus()"
        (cdkDragEnded)="allowClicks(groupListId)"
        (cdkDragStarted)="blockPopupClose(); denyClicks(groupListId)"
      >
        <elder-group-item>
          <mat-icon item-prefix inline="true" [svgIcon]="getListIcon(groupListItem)"></mat-icon>
          <span class="item-content" item-content>{{ option | splitcase }}</span>

          <button
            item-suffix
            class="item-button-small"
            mat-icon-button
            matTooltip="Stop grouping by {{ option | splitcase }}"
            @fadeInPill
            #addButton
            [keyGrid]="{ row: i, col: 1 }"
            (keydown)="navigateListGrid($event, ungroupList)"
            (click)="ungroup(i)"
          >
            <mat-icon inline="true" svgIcon="x"></mat-icon>
          </button>
        </elder-group-item>
      </li>
    </ol>
  </section>
  <section>
    <h2 class="subheading-2">Columns</h2>
    <ol
      [id]="ungroupListId"
      role="listbox"
      class="list"
      [class.noclick]="!isUngroupClickable"
      #ungroupList
      #ungroupDropList="cdkDropList"
      cdkDropList
      [cdkDropListData]="state.ungroupedColumns"
      [cdkDropListConnectedTo]="[groupDroplistRef]"
      (cdkDropListDropped)="drop($event)"
    >
      <li
        class="list-item"
        *ngFor="let item of state.ungroupedColumns; index as i"
        #ungroupListItem
        cdkDrag
        role="option"
        cdkDragBoundary=".group-row"
        (cdkDragStarted)="blockPopupClose(); denyClicks(ungroupListId)"
        (cdkDragEnded)="allowClicks(ungroupListId)"
        (keydown.enter)="group(i); focusNextItem(ungroupListItem, groupList)"
      >
        <elder-drop-item>
          <mat-icon item-prefix inline="true" svgIcon="draggable"></mat-icon>
          <span class="item-content" item-content>{{ item | splitcase }}</span>
          <button
            item-suffix
            class="item-button"
            mat-icon-button
            matTooltip="Group by {{ item }}"
            @fadeInPill
            #addButton
            [keyGrid]="{ row: i, col: 0 }"
            (keydown)="navigateListGrid($event, ungroupList)"
            (click)="group(i)"
          >
            <mat-icon inline="true" svgIcon="add-2"></mat-icon>
          </button>
        </elder-drop-item>
      </li>
    </ol>
  </section>
</div>
