<div
  *elderLet="{
    groupColumns: groupService.groupedItems$ | async,
    ungroupedColumns: groupService.ungroupedItems$ | async
  } as state"
  cdkDropListGroup
  #droplistGroup
  class="group-row group-row__background"
>
  <h3 class="group-row__primary-header">Row Groups</h3>
  <section>
    <h4 class="group-row__secondary-header">Groups</h4>
    <ol
      cdkDropList
      [cdkDropListData]="state.groupColumns"
      [cdkDropListConnectedTo]="[ungrouped]"
      (cdkDropListDropped)="drop($event)"
      #grouped="cdkDropList"
      #groupedList
      class="list list--grouped"
      role="listbox"
      tabindex="0"
      id="grouped-droplist"
      [style.pointerEvents]="canClick.get(grouped.id) ? 'all' : 'none'"
    >
      <li
        cdkDrag
        id="{{ option }}"
        role="option"
        *ngFor="let option of state.groupColumns; index as i"
        class="list-item grouped draggable"
        cdkDragBoundary=".group-row"
        [keyGrid]="{ row: i, col: 0 }"
        role="option"
        #groupedListItem
        (keydown)="handleGrouplistKeydown($event, groupedList, i)"
        (keydown.escape)="groupedList.focus()"
        (cdkDragEnded)="canClick.set(grouped.id, true)"
        (cdkDragStarted)="blockPopupClose(grouped.id)"
      >
        <elder-list-content>
          <div listPrefix>
            <span @fadeInPill class="list-content list-content__button--remove">
              <mat-icon
                inline="true"
                [svgIcon]="
                  groupedListItem.classList.contains('is-moveable') ? 'unfold_more' : 'draggable'
                "
              ></mat-icon>
            </span>
          </div>
          <div class="list-content__label" listContent>{{ option }}</div>
          <div class="list-content__button-group" listSuffix>
            <button
              matRipple
              [matRippleCentered]="true"
              [matRippleRadius]="12"
              (focus)="tabbableGroupedItem = i"
              matTooltip="Remove grouping by {{ option }}"
              [keyGrid]="{ row: i, col: 1 }"
              @fadeInPill
              tabindex="0"
              #removeButton
              (click)="ungroupItem(i); focusNextItem(groupedListItem, ungroupedList)"
              (keydown)="navigateListGrid($event, groupedList)"
              class="list-content list-content__button--remove"
            >
              <mat-icon inline="true" svgIcon="x"></mat-icon>
            </button>
          </div>
        </elder-list-content>
      </li>
    </ol>
  </section>
  <mat-divider></mat-divider>
  <section>
    <h4 class="group-row__secondary-header">Fields</h4>
    <ul
      cdkDropList
      [cdkDropListData]="state.ungroupedColumns"
      [cdkDropListConnectedTo]="[grouped]"
      (cdkDropListDropped)="drop($event)"
      #ungrouped="cdkDropList"
      #ungroupedList
      role="listbox"
      class="list list--ungrouped"
      id="ungrouped-droplist"
      [style.pointerEvents]="canClick.get(ungrouped.id) ? 'all' : 'none'"
    >
      <li
        *ngFor="let item of state.ungroupedColumns; index as i"
        cdkFocusInitial
        cdkDrag
        #ungroupedListItem
        role="option"
        class="list-item ungrouped"
        cdkDragBoundary=".group-row"
        [keyGrid]="{ row: i, col: 0 }"
        tabindex="0"
        (cdkDragStarted)="blockPopupClose(ungrouped.id)"
        (cdkDragEnded)="canClick.set(ungrouped.id, true)"
        (keydown)="navigateListGrid($event, ungroupedList)"
        (keydown.enter)="groupItem(i); focusNextItem(ungroupedListItem, groupedList)"
      >
        <elder-list-content>
          <div listPrefix>
            <span @fadeInPill class="list-content list-content__button--remove">
              <mat-icon inline="true" svgIcon="draggable"></mat-icon>
            </span>
          </div>
          <div class="list-content__label" listContent>{{ item }}</div>
          <div class="list-content__button-group" listSuffix>
            <button
              matRipple
              [matRippleCentered]="true"
              [matRippleRadius]="12"
              matTooltip="Group by {{ item }}"
              @fadeInPill
              #addButton
              [keyGrid]="{ row: i, col: 1 }"
              (keydown)="navigateListGrid($event, ungroupedList)"
              (mouseup)="groupItem(i)"
              class="list-content list-content__button--add"
            >
              <mat-icon inline="true" svgIcon="add-2"></mat-icon>
            </button>
          </div>
        </elder-list-content>
      </li>
    </ul>
  </section>
  <mat-divider></mat-divider>
  <section class="footer">
    <button class="footer__button" (click)="closePanel()" #closeButton mat-button>Close</button>
  </section>
</div>
