.grid-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  & .tile {
    &.incl,
    &.excl {
      position: relative;
    }
  }
}
.term {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
}
.title {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
}

.incl-excl {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
  position: relative;
}
.crcl {
  grid-column: 1 / 3;
  grid-row: 4 / 4;
  position: relative;
}
