<mat-expansion-panel
  aria-label="expand this panel to see drugs that match your search"
  class="table-expansion-panel"
  matExpansionPanelContent
>
  <mat-expansion-panel-header>{{
    tableName | caseSplit
  }}</mat-expansion-panel-header>

  <div>
    <app-column-selector
      *ngIf="tableName"
      (columnUpdates)="changeActiveColumns($event)"
      [tableName]="tableName"
      (loaded)="selectorInitiated = true"
    ></app-column-selector>
    <div *ngIf="tableName === 'GeneralInfo'">
      This table is meant to display all drugs that flag, no matter the reason.
      More specific sorting can be found in other tables
    </div>
    <div class="p-table-background">
      <p-table
        #dataDisplay
        [columns]="columnOptions"
        [value]="rows"
        dataKey="EntryID"
        [responsive]="true"
      >
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">No records found</td>
          </tr>
        </ng-template>
        <ng-template #dataDisplay pTemplate="header" let-columns>
          <tr class="ptable-empty-header">
            <th class="ptable-chevron-header" style="width: 3em"></th>
            <th
              class="ptable-header-cell ptable-header-cell--padding"
              *ngFor="let col of columns"
              [pSortableColumn]="col.field"
            >
              {{ col.header | caseSplit }}
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-expanded="expanded"
          let-columns="columns"
        >
          <tr
            [class]="
              expanded
                ? 'ptable-body ptable-body--row'
                : 'ptable-body--row ptable-body'
            "
          >
            <td class="ptable-body-chevron-cell">
              <a [pRowToggler]="rowData">
                <mat-icon
                  [innerHTML]="expanded ? 'expand_less' : 'chevron_right'"
                ></mat-icon>
              </a>
            </td>
            <td
              [pRowToggler]="rowData"
              class="ptable-data-cell ptable-data-cell--padding"
              *ngFor="let col of columns"
            >
              <span class="show-when-small ui-column-title"
                ><b>{{ col.header }}</b></span
              >
              {{ rowData[col.field] | toString | titlecase }}
            </td>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="rowexpansion"
          let-rowData
          let-columns="columns"
          let-i="rowIndex"
        >
          <tr class="ptable-expand-row">
            <td [attr.colspan]="columns.length + 1" class="ptable-expand-body">
              <br />
              <div class="padding" @slideDown>
                <div class="p-grid grid-height">
                  <div class="p-col-12 grid-term">
                    <b>Term: </b>{{ rowData["SearchTerm"] }}
                  </div>
                  <div class="p-col-12">
                    <strong class="grid-title">{{ rowData["Item"] }}</strong>
                  </div>
                  <div class="p-col-12">
                    <mat-chip-list>
                      <mat-chip class="mat-standard-chip">
                        {{ rowData["ItemType"] | titlecase }}</mat-chip
                      >
                    </mat-chip-list>
                  </div>
                  <div *ngIf="rowData['Inclusion']" class="p-col p-sm-6">
                    <div fxLayout="row" fxLayoutGap="0.5em">
                      <mat-icon color="accent" inline="true" class="mat-icon-24"
                        >unfold_less</mat-icon
                      ><span class="expanded-grid-text"
                        ><b>Guidance Includes:</b>
                        {{ rowData["Inclusion"] }}</span
                      >
                    </div>
                  </div>
                  <div *ngIf="rowData['Exclusion']" class="p-col p-sm-6">
                    <div fxLayout="row" fxLayoutGap="0.5em">
                      <mat-icon color="accent" inline="true" class="mat-icon-24"
                        >unfold_more</mat-icon
                      ><span class="expanded-grid-text"
                        ><b>Guidance Excludes:</b>
                        {{ rowData["Exclusion"] }}</span
                      >
                    </div>
                  </div>
                  <div *ngIf="rowData['DiseaseState']" class="p-col p-sm-6">
                    <div fxLayout="row" fxLayoutGap="0.5em">
                      <mat-icon
                        color="accent"
                        aria-label="caution using drug in disease state "
                        inline="true"
                        class="mat-icon-24"
                        >error</mat-icon
                      >
                      <span class="expanded-grid-text"
                        >Caution In
                        {{ rowData["DiseaseState"] | caseSplit }}</span
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="
                      rowData['MaximumClearance'] || rowData['MinimumClearance']
                    "
                    class="p-col p-sm-6"
                  >
                    <b>{{ rowData["Recommendation"] }}</b> with clearance
                    <i><b>below</b></i>
                    {{ rowData["MaximumClearance"] }} and
                    <i><b>above</b></i>
                    {{ rowData["MinimumClearance"] }}
                  </div>
                  <div class="p-col-12">
                    <div class="rationale">
                      <div
                        fxLayout="column"
                        fxLayoutAlign="start space-between"
                        class="rationale-panel"
                      >
                        <div
                          fxLayout="row"
                          fxLayoutAlign="space-between center"
                          [class]="
                            rationale[i].expanded
                              ? 'rationale-header'
                              : 'rationale-header collapse'
                          "
                          (click)="expandRationale(i)"
                          matRipple
                          matRippleColor="rgb(44, 60, 201,0.1)"
                        >
                          <span class="rationale-title">Rationale</span>
                          <button #openButton mat-icon-button>
                            <mat-icon
                              class="mat-icon-16"
                              inline="true"
                              #icon
                              [@expandButton]="
                                rationale[i].expanded ? 'default' : 'rotated'
                              "
                              [innerHTML]="
                                rationale[i].expanded
                                  ? 'remove_circle_outline'
                                  : 'add_circle_outline'
                              "
                            ></mat-icon>
                          </button>
                        </div>

                        <div
                          fxLayout="row"
                          fxLayoutAlign="space-between center"
                          @translateRationale
                          class="rationale-content"
                          *ngIf="rationale[i].expanded"
                        >
                          <p>{{ rowData["Rationale"] }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</mat-expansion-panel>
