@import "../../../_colors";
$tablebackground: $tablebackground;

.p-table-body {
  border-top: 1px solid $lightgray;

  border-radius: 4px;

  cursor: pointer;
  font-size: 10pt;
}

.ptable-body--row {
  font-size: 10pt;
  background: $tablebackground;
}

tr.ptable-body--row.p-table-body {
  &:hover {
    transition: ease-in 100ms;
    background: rgb(245, 245, 245);
    color: black;
  }
}

.data-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ptable-body--row .data-cell--padding {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.p-table-header {
  background: $tablebackground;
  z-index: 201;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.p-table-header-cell.ptable-header-cell--padding {
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  padding-right: 1.5em;
  padding-left: 15px;
}
.p-table-header-cell {
  text-align: left;
  background: $tableaccent;
  font-size: 10pt;
  color: lighten($tableaccent, 70%);
  border-spacing: none;
  white-space: nowrap;
  letter-spacing: 0.5px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 2px solid darken($primary, 5%);
  font-weight: 400;
  line-height: 10px;

  &:last-of-type {
    border-top-right-radius: 4px;
  }
  &:first-of-type {
    border-top-left-radius: 4px;
  }
  &:hover {
    color: lighten($brightAccent, 25%);
    background: lighten($tableaccent, 10%);
  }
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 3px $accent;
  }
  &::after {
    box-shadow: 5px 5px 5px 5px black;
  }
}

.p-table-background {
  background: $tableaccent;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid $tableaccent;
}

.expand-cell {
  border-top-left-radius: 4px;
  height: fit-content;
}
.p-table-empty-header {
  background: $tableaccent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  border-bottom: 2px solid darken($primary, 5%);
}

.expand-header-cell {
  z-index: 200;
  border-left: 8px solid lighten($accent, 10%);
  background: whitesmoke;
  font-weight: 500;
  & .data-cell {
    white-space: pre-wrap;
    text-overflow: unset;
    max-width: 300px;
  }
}
.expand-header-cell .ptable-body--row {
  white-space: pre-wrap !important;
}
.detail-cell {
  background-color: white;
  color: black;
  border-left: 8px solid lighten($accent, 25%);
  font-size: 10pt;
  border-top: 1px solid $lightgray;
  overflow: hidden;
}

td.expand-icon-cell:not(:hover) {
  color: $gray;
}

#dataDisplay {
  width: 100%;
  box-sizing: border-box;
}
