@import "../../../_colors";
$tablebackground: $tablebackground;

span.expanded-grid-text {
  width: 85%;
  overflow: auto;
  color: rgb(50, 50, 50);
}

//rationale
div.rationale {
  overflow: hidden;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
div.rationale-header {
  overflow: hidden;
  background-color: $primary;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: block;
  z-index: 20;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  color: white;
  font-size: 11pt;
  height: 2.4em;
  cursor: pointer;

  &.collapse {
    border-radius: 4px;
    border-bottom: 1px solid $primary;
  }

  & span.rationale-title {
    align-items: baseline;
  }
}

div.rationale-content {
  position: block;
  background: $gray-elev-1;
  border: 1px solid $border-1;
  width: inherit;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0.5em 1em 0.1em 1em;
  color: $darkgray;
}

td.ptable-expand-body {
  background-color: white;
  color: $darkgray;
  border-left: 8px solid lighten($accent, 25%);
  font-size: 10pt;
  border-top: 1px solid $border-1;
  overflow: hidden;
}
.ptable-expand-row {
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(224, 224, 224);
  border-top: 1px solid rgb(224, 224, 224);
}
#dataDisplay {
  width: 100%;
  box-sizing: border-box;
}
