<mat-expansion-panel #expand>
  <mat-expansion-panel-header>{{
    tableName | caseSplit
  }}</mat-expansion-panel-header>

  <div>
    <app-column-selector
      (columnUpdates)="changeActiveColumns($event)"
      [table]="tableName"
    ></app-column-selector>
    <div *ngIf="tableName === 'GeneralInfo'">
      This table is meant to display all drugs that flag, no matter the reason.
      More specific sorting can be found in other tables
    </div>
    <div class="p-table-background">
      <p-table
        #dataDisplay
        [columns]="columnOptions"
        [value]="rows"
        dataKey="EntryID"
        [responsive]="true"
      >
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              No records found
            </td>
          </tr>
        </ng-template>
        <ng-template #dataDisplay pTemplate="header" let-columns>
          <tr class="p-table-empty-header">
            <th class="expand-cell" style="width: 3em;"></th>
            <th
              class="p-table-header-cell ptable-header-cell--padding"
              *ngFor="let col of columns"
              [pSortableColumn]="col.field"
            >
              {{ col.header | caseSplit }}
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-expanded="expanded"
          let-columns="columns"
        >
          <tr
            [class]="
              expanded
                ? 'expand-header-cell p-table-body ptable-body--row'
                : 'ptable-body--row p-table-body'
            "
          >
            <td class="expand-icon-cell">
              <a [pRowToggler]="rowData">
                <mat-icon
                  [innerHTML]="expanded ? 'expand_less' : 'chevron_right'"
                ></mat-icon>
              </a>
            </td>
            <td
              [pRowToggler]="rowData"
              class="data-cell data-cell--padding"
              *ngFor="let col of columns"
            >
              <span class="ui-column-title">{{ col.header }}</span>
              {{ rowData[col.field] | toString | titlecase }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
          <tr>
            <td [attr.colspan]="columns.length + 1" class="detail-cell">
              <br />
              <div [@simpleFadeAnimation]="'in'" class="grid-list">
                <ng-container *ngFor="let col of expandFieldData">
                  <ng-container [ngSwitch]="col.field">
                    <div class="title" *ngSwitchCase="'Item'">
                      <h2>
                        {{ rowData[col.field] }}
                      </h2>
                      <mat-chip-list>
                        <mat-chip
                          class="mat-standard-chip"
                          color="primary"
                          selected
                        >
                          {{ rowData["ItemType"] | titlecase }}</mat-chip
                        >
                        <mat-chip
                          class="mat-standard-chip accent"
                          selected
                          *ngIf="rowData['DiseaseState'] != null"
                        >
                          {{ rowData["DiseaseState"] | caseSplit }}</mat-chip
                        >
                      </mat-chip-list>
                    </div>

                    <div class="term" *ngSwitchCase="'SearchTerm'">
                      <b>Term:</b> {{ rowData[col.field] }}
                    </div>
                    <div *ngSwitchCase="'TableDefinition'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </div>

                    <div class="incl-excl" *ngSwitchCase="'Inclusion'">
                      <div fxLayoutGap="10px" fxLayout="row">
                        <div
                          *ngIf="rowData['Inclusion']?.length > 0"
                          fxFlex="50"
                          class="tile incl"
                        >
                          <b>ONLY applies when:</b> {{ rowData["Inclusion"] }}
                        </div>
                        <div
                          *ngIf="rowData['Exclusion']?.length > 0"
                          fxFlex="50"
                          class="tile excl"
                        >
                          <b>DOES NOT apply when:</b>
                          {{ rowData["Exclusion"] }}
                        </div>
                      </div>
                    </div>
                    <div class="crcl" *ngSwitchCase="'MinimumClearance'">
                      <b>{{ rowData["Recommendation"] }}</b> with clearance
                      <i><b>below</b></i>
                      {{ rowData["MaximumClearance"] }} and
                      <i><b>above</b></i>
                      {{ rowData["MinimumClearance"] }}
                    </div>
                    <div class="seven" *ngSwitchCase="'Recommendation'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </div>
                    <div class="eight" *ngSwitchCase="'ShortTableName'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </div>
                    <div class="six" *ngSwitchCase="'Rationale'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </div>
                  </ng-container>
                </ng-container>
                <br />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</mat-expansion-panel>

<!-- EntryID: number;
  DiseaseState: string;
  Category: number;
  TableDefinition: string;
  Item: string;
  MinimumClearance: number;
  MaximumClearance: number;
  DrugInteraction: string;
  Inclusion: string;
  Exclusion: string;
  Rationale: string;
  Recommendation: string;
  RecommendationLineTwo: string;
  ItemType: string;
  ShortTableName: string;
  SearchTerm: string;-->
