@import "../../../_colors";
$tablebackground: $tablebackground;

tr.ptable-body {
  border-top: 1px solid $lightgray;

  border-radius: 4px;

  cursor: pointer;
  font-size: 10pt;
}

tr.ptable-body--row {
  font-size: 10pt;
  background: white;
  &:hover {
    box-shadow: 0 0 0 200px inset
      transparentize($color: $lightblue, $amount: 0.95%);
  }
}

tr.ptable-body--row.p-table-body {
  &:hover {
    transition: ease-in 100ms;
    background: rgb(245, 245, 245);
    color: black;
  }
}

td.ptable-data-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.ptable-body--row .data-cell--padding {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

th.ptable-header-cell.ptable-header-cell--padding {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  padding-right: 1.5em;
}
th.ptable-header-cell {
  text-align: left;
  font-size: 10pt;
  color: lighten($tableaccent, 70%);
  border-spacing: none;
  white-space: nowrap;
  letter-spacing: 0.5px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid $lightgray;
  font-weight: 400;
  line-height: 7px;

  &:hover {
    color: lighten($brightAccent, 25%);
    background: lighten($tableaccent, 10%);
  }
  &:focus {
    outline: none;
    background-image: linear-gradient(
      to left,
      $tableaccent,
      darken($primary, 5%)
    );
  }
}

.p-table-background {
  background: $tableaccent;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid $tableaccent;
}

th.ptable-chevron-header {
  height: fit-content;
  background: $primary !important;
}
.ptable-empty-header {
  background: $primary !important;

  width: 100%;
  border-bottom: 2px solid darken($primary, 5%);
}

tr.ptable-expand-header-cell {
  z-index: 200;
  border-left: 8px solid lighten($accent, 10%);
  background: whitesmoke;
  font-weight: 400;
  color: rgb(82, 12, 148);
  & .data-cell {
    white-space: pre-wrap;
    text-overflow: unset;
  }
  &:hover {
    font-weight: 500;
  }
}
.expand-header-cell .ptable-body--row {
  white-space: pre-wrap !important;
}

td.ptable-body-chevron-cell:not(:hover) {
  color: $gray;
  padding-top: 7px;
  border-top: 1px solid $lightgray;
}

td.ptable-body-chevron-cell:hover {
  border-top: 1px solid $lightgray;
  padding-top: 7px;
}
span.expanded-grid-text {
  width: 85%;
  overflow: auto;
  color: rgb(50, 50, 50);
}

//rationale
div.rationale {
  overflow: hidden;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
div.rationale-header {
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    lighten($primary, 8%),
    adjust-hue(lighten($primary, 8%), 20deg)
  );
  border-top: 1px solid $primary;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: block;
  z-index: 20;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  color: white;
  font-size: 11pt;
  height: 2.4em;
  cursor: pointer;

  &.collapse {
    border-radius: 4px;
    border-bottom: 1px solid $primary;
  }
  &:hover {
    background: lighten($primary, 20%);
    font-weight: 500;
  }
  & span.rationale-title {
    align-items: baseline;
  }
}

div.rationale-content {
  position: block;
  background: lighten($gray, 70%);
  border: 1px solid $primary;
  width: inherit;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0.5em 1em 0.1em 1em;
  color: darken($primary, 5%);
}

td.ptable-expand-body {
  background-color: white;
  color: black;
  border-left: 8px solid lighten($accent, 25%);
  font-size: 10pt;
  border-top: 1px solid $lightgray;
  overflow: hidden;
}
.ptable-expand-row {
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(224, 224, 224);
  border-top: 1px solid rgb(224, 224, 224);
}
#dataDisplay {
  width: 100%;
  box-sizing: border-box;
}
