@import "../../../_colors.scss";
@import "./med-table-styles.scss";
@import "./table.expansion-grid.component.scss";
.flex-container {
  display: flex;
  flex-direction: column;
}
.table-container {
  width: auto;
}
.mat-sort-header-content {
  text-align: center;
  /* display: flex; */
  align-items: center;
  flex: 1;
  min-width: 0;
}
table {
  border-radius: 5px;
  position: relative;
  border-spacing: 0;
  border: 1px solid $primary;
  border-collapse: separate;
  width: 100%;
  & tr.desktop,
  tr.mobile {
    &:hover {
      background-color: transparentize($primary, 0.8%);
    }
    &:nth-last-of-type(3) {
      td.table-cell {
        border-bottom: none !important;
      }
    }
  }
  & td {
    background: transparent;
    cursor: pointer;
    &.mobile-cell {
      border-radius: 10px;
      background: lighten($primary, 80%);
      border-bottom: 1px dotted lightgray;
      padding: 10px;
    }
    &.table-cell {
      height: 40px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-bottom: 1px solid lightgray;
    }
  }
  & th {
    height: 40px;
    text-align: left;
    color: white;
    height: 40px;
    background: #93a2f6;

    text-align: left;
    border-bottom: 1px solid lightgray;
  }
}
.cell {
  &.header-cell--text {
    font-weight: bold;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-transform: uppercase;
    font-size: smaller;
  }
  &.data-cell--text {
    margin-left: 10px;
  }
}
.mobile-label {
  display: none;
}
.mobile {
  display: none;
}
.desktop {
  display: table-row;
}
.mobile-grid {
  gap: 15px;
}
.mobile-field--title:first-of-type {
  background: darkslategray;
  font-size: large;
  color: whitesmoke;
}
.mobile-field--content:first-of-type {
  font-size: large;
  background: darkslategray;
  color: whitesmoke;
}
@media (max-width: 600px) {
  .mobile {
    display: table-row;
  }
  .desktop {
    display: none;
  }
  th {
    display: none;
  }
}
h2 {
  padding-bottom: 1px;
  margin-bottom: 0.5em;
  line-height: 1em;
}

mat-chip-list mat-chip.mat-standard-chip {
  min-height: 1.7em;
  border-radius: 4px;
  background-color: $primary;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

mat-icon.mat-icon-24 {
  color: $accent;
  height: 40px;
  width: 20%;
  margin-top: 5px;
}

.expand-panel {
  background-color: rgb(242, 245, 250);
}
