@import "../../../_colors.scss";
@import "./med-table-styles.scss";
@import "./grid.med-table-styles.scss";
h2 {
  padding-bottom: 1px;
  margin-bottom: 0.5em;
  line-height: 1em;
}

mat-chip-list mat-chip.mat-standard-chip {
  min-height: 1.7em;
  border-radius: 4px;
  background-image: $table-gradient;
  color: white;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    color: lighten($accent, 10%);
    background: lighten($primary, 20%);
  }
  &:hover::after {
    opacity: 0;
  }
}

mat-expansion-panel.table-expansion-panel {
  box-shadow: none;
  border: 1px solid lightgray;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.1, 0.2, 0.2, 0.1);

  &:hover {
    border: 1px solid $gray;
    background: white;
  }
  & > mat-expansion-panel-header.according-header {
    background: white;
  }
}

mat-icon.mat-icon-16 {
  height: 25px;
  color: white;
  transition: ease 0.4s;
  transform-origin: center;

  &:hover {
    color: $accent;
    transition: ease;
  }
}
mat-icon.mat-icon-24 {
  color: $accent;
  height: 40px;
  width: 20%;
  margin-top: 5px;
}

div.padding {
  margin: 0.5em;
}

span.show-when-small {
  display: none;
}
.grid-header {
  font-weight: 500;
  margin: 0 0 0 0;
  color: black;
}
@media screen and (max-width: 599px) {
  span.show-when-small {
    display: inherit;
  }
}
