@import "../../../_colors.scss";
@import "./med-table-styles.scss";
@import "./grid.med-table-styles.scss";
h2 {
  padding-bottom: 1px;
  margin-bottom: 0.5em;
  line-height: 1em;
}

mat-chip-list mat-chip.mat-standard-chip {
  min-height: 1.7em;
  border-radius: 4px;
  background-color: $primary;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

mat-expansion-panel.table-expansion-panel {
  box-shadow: none;
  border: 1px solid $border-1;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.1, 0.2, 0.2, 0.1);
}

mat-icon.mat-icon-16 {
  height: 25px;
  color: white;
  transition: ease 0.4s;
  transform-origin: center;

  &:hover {
    color: $accent;
    transition: ease;
  }
}
mat-icon.mat-icon-24 {
  color: $accent;
  height: 40px;
  width: 20%;
  margin-top: 5px;
}

div.padding {
  margin: 0.5em;
}

span.show-when-small {
  display: none;
}
.grid-header {
  font-weight: 500;
  margin: 0 0 0 0;
  color: $darkgray;
}
@media screen and (max-width: 599px) {
  span.show-when-small {
    display: inherit;
  }
}
