<mat-expansion-panel class="expansion-panel" (opened)="hideContents = $event">
  <mat-expansion-panel-header>{{
    tableName | CaseSplit
  }}</mat-expansion-panel-header>
  <app-column-selector
    (columnUpdates)="changeActiveColumns($event)"
    [class]="hideContents ? 'hide' : 'show'"
    [table]="tableName"
  ></app-column-selector>
  <div class="p-table-background" [class]="hideContents ? 'hide' : 'show'">
    <p-table
      #dataDisplay
      [columns]="columnOptions"
      [value]="rows"
      dataKey="EntryID"
      [responsive]="true"
    >
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            No records found
          </td>
        </tr>
      </ng-template>
      <ng-template #dataDisplay pTemplate="header" let-columns>
        <tr [class.mat-elevation-z4]="true" class="p-table-empty-header">
          <th class="expand-cell" style="width: 3em;"></th>

          <th
            class="p-table-header-cell ptable-header-cell--padding"
            *ngFor="let col of columns"
            [pSortableColumn]="col.field"
          >
            {{ col.header | CaseSplit | uppercase }}
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-expanded="expanded"
        let-columns="columns"
      >
        <tr
          [class]="
            expanded
              ? 'expand-header-cell p-table-body ptable-body--row'
              : 'ptable-body--row p-table-body'
          "
        >
          <td class="expand-icon-cell">
            <a [pRowToggler]="rowData">
              <mat-icon
                [innerHTML]="expanded ? 'expand_less' : 'chevron_right'"
              ></mat-icon>
            </a>
          </td>
          <td
            [pRowToggler]="rowData"
            class="data-cell data-cell--padding"
            *ngFor="let col of columns"
          >
            {{ rowData[col.field] | titlecase }}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length + 1" class="detail-cell">
            <div [@rowExpansionTrigger]="'active'">
              <mat-grid-list cols="2" rowHeight="6:1">
                <div *ngFor="let col of expandFieldData">
                  <div [ngSwitch]="col.field">
                    <mat-grid-tile *ngSwitchCase="'Item'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                    <mat-grid-tile *ngSwitchCase="'SearchTerm'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                    <mat-grid-tile *ngSwitchCase="'TableDefinition'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                    <mat-grid-tile *ngSwitchCase="'MinimumClearance'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                    <mat-grid-tile *ngSwitchCase="'MaximumClearance'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                    <mat-grid-tile *ngSwitchCase="'Inclusion'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                    <mat-grid-tile *ngSwitchCase="'Exclusion'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                    <mat-grid-tile *ngSwitchCase="'Rationale'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                    <mat-grid-tile *ngSwitchCase="'Recommendation'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                    <mat-grid-tile *ngSwitchCase="'ShortTableName'">
                      <b>{{ col.header }}:</b> {{ rowData[col.field] }}
                    </mat-grid-tile>
                  </div>
                </div>
              </mat-grid-list>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</mat-expansion-panel>

<!-- EntryID: number;
  DiseaseState: string;
  Category: number;
  TableDefinition: string;
  Item: string;
  MinimumClearance: number;
  MaximumClearance: number;
  DrugInteraction: string;
  Inclusion: string;
  Exclusion: string;
  Rationale: string;
  Recommendation: string;
  RecommendationLineTwo: string;
  ItemType: string;
  ShortTableName: string;
  SearchTerm: string;-->
