<!--<app-column-selector
  *ngIf="tableName"
  (columnUpdates)="fields = $event"
  [tableName]="tableName"
  (loaded)="selectorInitiated = true"
></app-column-selector>-->
<ng-content select="[table-description]"></ng-content>

<div class="table-container">
  <table
    cdk-table
    multiTemplateDataRows
    [dataSource]="dataSource"
    class="table"
    matSort
    [fixedLayout]="true"
  >
    <tr cdk-header-row class="header-row" *cdkHeaderRowDef="fields"></tr>

    <tr
      cdk-row
      *cdkRowDef="let row; columns: fields; when: isShown"
      class="desktop"
    ></tr>

    <!--<tr
      cdk-row
      *cdkRowDef="let row; columns: ['mobileColumns']"
      class="mobile">
  </tr> -->

    <ng-container
      *ngFor="let field of ; trackBy: trackByFn"
      cdkColumnDef="{{ field }}"
    >
      <th cdk-header-cell class="header-cell" mat-sort-header *cdkHeaderCellDef>
        <div style="display: grid">
          <div style="min-width: 0">
            <div class="cell header-cell--text">
              {{ field | caseSplit }}
            </div>
          </div>
        </div>
      </th>
      <td cdk-cell #cell class="table-cell" *cdkCellDef="let row">
        <span class="chevron-button--container" *ngIf="field === fields[0]">
          <mat-icon
            [@rotateChevron]="row == selectedRow ? 'expanded' : 'collapsed'"
            class="chevron-button--desktop"
            style="will-change: transform"
            svgIcon="chevron_right"
          ></mat-icon
        ></span>
        <span class="cell data-cell--text">{{ row[field] }}</span>
      </td>
    </ng-container>
    <ng-template *ngIf="selectedRow">
      <ng-container cdkColumnDef="expandedDetail">
        <div *cdkCellDef="let row">
          <app-expanded-element
            *ngIf="row === selectedRow"
            [expansionData]="row"
          ></app-expanded-element>
        </div>
      </ng-container>

      <tr cdk-row *cdkRowDef="let row; columns: ['expandedDetail']"></tr>
    </ng-template>

    <ng-container cdkColumnDef="groupHeader">
      <td cdk-cell *cdkCellDef="let groupBy">
        <strong>Starts with {{ groupBy.groupBy }}</strong>
      </td>
    </ng-container>

    <tr
      cdk-row
      *cdkRowDef="let row; columns: ['groupHeader']; when: isGroup"
      (click)="toggleGroup('SearchTerm', row)"
    ></tr>
    <!-- <ng-container cdkColumnDef="mobileColumns">
      <td
        class="mobile-cell hh-grid"
        cdk-cell
        *cdkCellDef="let row"
        [attr.colspan]="columnSpan"
      >
        <button class="mobile-cell--expansion-button hh-span-1" mat-icon-button>
          <mat-icon
            [@rotateChevron]="row == expandedElement ? 'expanded' : 'collapsed'"
            class="chevron-button--rotate"
            style="will-change: transform"
            svgIcon="chevron_right"
          ></mat-icon>
        </button>
        <div class="hh-grid grid-spacing hh-span-11">
          <ng-container
            class="mobile-field--title"
            *ngFor="let field of fields"
          >
            <span class="mobile-field--title hh-span-4"
              ><b>{{ field | caseSplit }}</b></span
            >
            <span class="mobile-field--content hh-span-8">{{
              row[field]
            }}</span>
          </ng-container>
        </div>
      </td>
    </ng-container>-->
  </table>
</div>
