@import "../../../_colors.scss";

.drawer-logo-vector {
  width: 100%;
  position: relative;
  padding-top: 0.1em;
  padding-bottom: 0.6em;
  fill: $primary;
  height: 100%;
}

.st0 {
  fill: #e6e7e8;
}
.st1 {
  fill: $darkgray;
}
.st2 {
  fill: #e6e6e6;
}
.st3 {
  fill: #a7a9aa;
}
.st4 {
  fill: $gray;
}
.st5 {
  fill: #ffffff;
}
