@use "palette" as *;
@use "colors" as *;

:host {
  @include scrollbar;
}
.column-select {
  width: 100%;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.popup-background {
  margin: 3px;
  border-radius: 5px;
  background: white;
  max-height: 250px;
  overflow: auto;
  border: 1px solid $light-gray-3;
  @include shadow(3);
}

h3 {
  background: white;
  position: sticky;
}
