@use "palette";

.column-select {
  width: 100%;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.popup-background {
  border: 1px solid $gray-1;
  margin: 3px;
  border-radius: 3px;
  background: white;
  max-height: 250px;
  overflow: auto;
  @include shadow(3);
}
