@use "palette" as *;
@use "bem-mixin" as *;
@use "sass:color";
:host {
  font-size: var(--filter-input--font-size);
}
.filter-label {
  padding-bottom: 0.25em;
  display: block;
  @include common-label;
}
.filter {
  cursor: text;
  display: grid;
  font-weight: 400;
  padding: 0 0.25em;
  align-items: center;
  grid-template-columns: 2em 1fr;
  border: var(--common-border);
  border-radius: var(--filter-input--radius);
  height: var(--filter-input--height);
  transition: outline 500ms ease-out, outline-offset 500ms ease;
  font-size: var(--filter-input--font-size);

  outline-offset: 1px;
  outline-color: transparent;
  & ::placeholder {
    color: $gray-3;
  }
  &:focus-within {
    outline: auto;
    outline-color: var(--primary-1);
    outline-offset: 0px;
    & ::placeholder {
      color: $gray-2;
    }
    & .filter-icon {
      color: $primary-1;
    }
  }
}

.filter-input {
  all: unset;
  width: 100%;
  padding-left: 0.25em;
  height: calc(var(--filter-input--height) - 2px);
}
.filter-icon {
  height: inherit;
  width: inherit;
}
.filter-icon-container {
  color: $gray-5;
  display: inline-block;
  height: 1em;
  width: 2em;
}
