<ng-container
  *elderLet="{
    placeholder: placeholder$ | async,
    length: length$ | async
  } as state"
  ><span
    [matTooltip]="state.placeholder.text | join | splitcase"
    *ngIf="state.length; else noOptions"
    class="popup-trigger__placeholder"
  >
    {{ state.placeholder | splitcase }}
    <span *ngIf="state.length > 1" class="additional-selection">
      (+{{ state.length - 1 }} {{ state.length === 2 ? "other" : "others" }})
    </span>
  </span>
  <ng-template #noOptions>
    <span class="popup-trigger__placeholder"> {{ emptyPlaceholder }} </span>
  </ng-template>
</ng-container>
