<div class="popup-wrapper">
  <button
    #trigger
    (click)="togglePopup()"
    class="popup-trigger"
    role="listbox"
    name="popup-trigger"
  >
    <span class="popup-trigger__content">
      <label class="popup-trigger__label" for="popup-trigger">
        <ng-content select="popup-label"></ng-content>
      </label>
      <svg
        class="popup-trigger__arrow"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        height="24"
        width="24"
        fill="currentColor"
        [class.active]="attached | async"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M7 10l5 5 5-5H7z" />
      </svg>
    </span>
  </button>
</div>

<div #anchor></div>
<ng-template id="anchor" #templatePortalContent>
  <div
    [@transformMenu]="(attached$ | async) ? 'enter' : 'void'"
    cdkTrapFocus
    cdkTrapFocusAutoCapture
  >
    <ng-container [ngTemplateOutlet]="content.templateRef"></ng-container>
  </div>
</ng-template>
