@use "palette" as *;
@use "bem-mixin" as *;
@use "sass:color";
:host {
  --border-radius: 1.5em;
}
.popup-wrapper {
  display: block;
}
.popup-trigger {
  @include common-input-style;
  padding: 0.2em 1em 0.2em 1.25em;
  outline: none;
  text-align: left;
  position: relative;
  border: 1px solid $light-gray-3;
  &__content {
    display: flex;
    align-items: center;
  }
  &__label {
    cursor: pointer;
    font-weight: 500;
    pointer-events: none;
  }
  &__placeholder {
    min-width: 10ch;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Roboto";
  }
  &__arrow {
    position: relative;
    transition: transform 0.1s ease-in;
    &.active {
      transform: scale(0.8);
    }
  }
}
