@import "palette";
@import "bem-mixin";

.popup-trigger {
  display: flex;
  align-items: center;
  outline: none;
  text-align: left;
  @include element("label") {
    max-width: 30ch;
    overflow: hidden;
    width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @include element("arrow") {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;

    @include state("is-rotated") {
      transform: rotate(180deg);
    }
  }
}
.popup-wrapper {
  @include commonInput;
}
