<mat-table [dataSource]="queriedData">
  <!-- User name Definition -->
  <ng-container matColumnDef="table">
    <mat-header-cell *matHeaderCellDef> Table Number </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.Table }} </mat-cell>
  </ng-container>
  <!-- User name Definition -->
  <ng-container matColumnDef="class">
    <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.Class }}
    </mat-cell>
  </ng-container>

  <!-- Age Definition -->
  <ng-container matColumnDef="rationale">
    <mat-header-cell *matHeaderCellDef> Rationale </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.Rationale }} </mat-cell>
  </ng-container>
  <!-- Age Definition -->
  <ng-container matColumnDef="interaction">
    <mat-header-cell *matHeaderCellDef> Interaction </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.Interaction }} </mat-cell>
  </ng-container>

  <!-- Age Definition -->
  <ng-container matColumnDef="recommendation">
    <mat-header-cell *matHeaderCellDef> Recommendation </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.Recommendation }} </mat-cell>
  </ng-container>
  <!-- Age Definition -->
  <ng-container matColumnDef="recommendation-two">
    <mat-header-cell *matHeaderCellDef> cont. </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.RecommendationLineTwo }} </mat-cell>
  </ng-container>
  <!-- Header and Row Declarations -->
  <mat-header-row
    *matHeaderRowDef="[
      'table',
      'class',
      'rationale',
      'interaction',
      'recommendation',
      'recommendation-two'
    ]"
  ></mat-header-row>
  <mat-row
    *matRowDef="
      let row;
      columns: [
        'table',
        'class',
        'rationale',
        'interaction',
        'recommendation',
        'recommendation-two'
      ]
    "
  ></mat-row>
</mat-table>
<br />
