<div class="tab-overflow-container" [class.fade-left]="leftOverflowSource | async">
  <button
    (pointerdown)="handleMouseDown($event, 'LEFT')"
    mat-mini-fab
    class="tab-overflow-button tab-overflow-button--left"
    *ngIf="leftOverflowSource | async"
  >
    <mat-icon svgIcon="chevron-left"></mat-icon>
  </button>
  <nav
    *elderLet="{
      tabs: tableService.tableOptions$ | async,
      currentTab: currentTab$ | async
    } as state"
    class="tab-container"
  >
    <ul #list class="tab-list">
      <li
        #item
        class="tab-list-item"
        [style.--position]="index"
        [class.selected]="tab.tableNumber === state.currentTab"
        (keydown.ArrowRight)="focusNext(item)"
        (keydown.ArrowLeft)="focusPrevious(item)"
        *ngFor="let tab of state.tabs; index as index"
      >
        <button
          #tabButton
          class="tab-trigger"
          (focusin)="toggleChildFocusStyles(tabButton)"
          (focusout)="toggleChildFocusStyles(tabButton)"
          (click)="handleTabClick(tab.tableNumber)"
        >
          <elder-tab-link
            #link
            [selected]="tab.tableNumber === state.currentTab"
            [collapsed]="tab.tableNumber != 0"
            [rounded]="rounded"
          >
            {{ tab.shortName }}
          </elder-tab-link>
        </button>
      </li>
    </ul>
  </nav>
  <button
    (pointerdown)="handleMouseDown($event, 'RIGHT')"
    mat-mini-fab
    class="tab-overflow-button tab-overflow-button--right"
    *ngIf="rightOverflowSource | async"
  >
    <mat-icon svgIcon="chevron-right"></mat-icon>
  </button>
</div>
