<div class="modal">
  <header class="modal__header">
    <h1 class="title">Group Columns</h1>
    <p class="caption">Select and drag columns to group and arrange entries</p>
    <mat-divider></mat-divider>
  </header>
  <section class="modal__content">
    <ul
      [id]="groupListId"
      role="listbox"
      class="list"
      *ngIf="groupService.items$ | async as groups"
      [style.--item-count]="groups.length"
      [keyObserver]="keydown$"
      #groupList
      #groupDropList="cdkDropList"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <li
        #groupListItem
        class="list-item"
        [class.selected]="checkbox?.checked"
        *ngFor="let group of groups; index as i"
        cdkDrag
        cdkDragBoundary=".group-row"
        [cdkDragStartDelay]="{ touch: 100, mouse: 0 }"
        #item="moveable"
        [moveable]="canElementMove(group)"
      >
        <mat-icon
          class="item-appendage item-appendage--left"
          aria-label="Move item"
          (keydown.Enter)="toggleMovement(group)"
          (keydown.Space)="toggleMovement(group)"
          (keydown)="handleGroupItemKeydown($event, group, i)"
          [svgIcon]="item.moveable ? 'unfold_more' : 'draggable'"
          [keyEmitter]="group"
          [keyColumn]="0"
          [keyRow]="i"
        ></mat-icon>
        <div class="item-content">{{ group | splitcase }}</div>
        <label class="item-appendage item-appendage--right">
          <input
            #checkbox
            type="checkbox"
            (click)="toggleGroup($event, group)"
            (keydown)="emitKeydown($event)"
            class="item-checkbox no-transition"
            [attr.aria-label]="checkbox.checked ? 'Remove column' : 'Pivot column'"
            keyEmitter
            [keyColumn]="1"
            [keyRow]="i"
        /></label>
      </li>
    </ul>
  </section>
</div>
