@use "breakpoints" as *;
@use "palette" as *;
@use "sass:string";
:host {
  height: 37px;
  overflow: visible;
  @include media-size("zero", "small") {
    height: 53px;
    padding: 0.5em 0;
    margin-left: 0.65rem;
  }
}
:host(.is-error),
:host(.is-warning) {
  color: $error-4;
}

.wrapper {
  display: flex;
  align-items: center;
}

.icon {
  display: none;
  @include media-size("zero", "small") {
    display: block;
  }
}

.text {
  padding-top: 0.25em;
  line-height: 1.2em;
  padding-left: 0.5em;
  @include media-size("zero", "small") {
    font-size: 0.9rem;
    font-size: fluid-type(14px, 12px, 16px, 200px, 600px);
    padding: 0 0.5em 0 0.5em;
  }
}
