@use "breakpoints" as *;
@use "palette" as pal;
@use "~@davidhicks/sass-mixins/shadow-root" as host;
:host {
  height: 38px;
  overflow: hidden;
  @include mobileWidth {
    height: 60px;
    padding: 0.5em 0;
    margin-left: 0.65rem;
  }

  @include host.state(".is-error") {
    color: pal.$error-4;
  }
  @include host.state(".is-warning") {
    color: pal.$complement-1;
  }
}
.error-container {
  display: flex;
  align-items: center;
}

.icon {
  display: none;
  @include mobileWidth {
    display: block;
  }
}
.text {
  padding-top: 0.25em;
  line-height: 1.2em;
  padding-left: 0.5em;
  @include mobileWidth {
    font-size: 1rem;
    padding: 0 0.5em 0 0.5em;
  }
}
