.drawer-button {
  background-color: transparent !important;
}

.hide {
  display: none;
}

.content-title {
  text-align: center;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  width: 100%;
  box-sizing: content-box;
  height: 8%;
}
