<mat-toolbar
  id="toolbar"
  [class]="navToggled ? 'null' : 'transition'"
  [class.mat-elevation-z4]="!navToggled"
>
  <button
    mat-icon-button
    #toggleDrawer
    id="toolbar"
    class="drawer-button"
    (click)="openDrawer()"
  >
    <mat-icon>{{ iconName }}</mat-icon>
  </button>
  <span
    style="
      position: relative;
      font-size: 36pt;
      padding-left: 0.2em;
      padding-right: 0.2em;
    "
    [class]="navToggled ? 'hide' : 'caduceus'"
    >&#9764;</span
  >
  <span>Your Search</span>
</mat-toolbar>

<app-table-view></app-table-view>
