<mat-form-field color="accent" *ngIf="selectOptions">
  <mat-label>Change Columns</mat-label>
  <mat-select
    #columnSelect
    class="column-select"
    multiple
    [ngModel]="selectOptions"
    (ngModelChange)="emitUpdatedColumns($event)"
  >
    <mat-select-trigger>
      {{ selectOptions[0] | caseSplit }}
      <span *ngIf="selectOptions.length > 1" class="additional-selection">
        (+{{ selectOptions.length - 1 }}
        {{ selectOptions.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let column of displayedOptions" [value]="column">
      {{ column | caseSplit }}
    </mat-option>
  </mat-select>
</mat-form-field>
