<mat-form-field *ngIf="options" color="primary">
  <mat-label>Change Columns</mat-label>
  <mat-select
    (selectionChange)="watchChanges($event)"
    #select
    class="column-select"
    multiple
  >
    <mat-select-trigger>
      <button>howdy</button>
      <!-- <span *ngIf="selectedOptions.length > 1" class="additional-selection">
        (+{{ selectedOptions.length - 1 }}
        {{ selectedOptions.length === 2 ? "other" : "others" }})
      </span>-->
    </mat-select-trigger>
    <mat-option *ngFor="let col of columnListener | async" [value]="col.id">
      {{ col.id | caseSplit }}
    </mat-option>
  </mat-select>
</mat-form-field>
