@use "palette" as *;
@use "colors" as *;

:host {
  display: block;
  position: relative;
  overflow: auto;
  width: var(--tab-container--overflow);
  --overflow-button--background: #{$primary-4};
  --overflow-button--icon-color: #{white};
  --shift--transition-delay: 0ms;
  --shift--increment: -8px;
  --list-item--width: 189px;
}
:host(.rounded) {
  --overflow-button--background: #{$secondary-2-2};
  --overflow-button--icon-color: #{white};
  --list-item--width: 166px;
}
.tab-overflow-container {
  height: 40px;
  position: relative;
  &.fade-left::before {
    content: "";
    height: 40px;
    width: 100%;
    top: 0px;
    right: 0px;
    left: -1px;
    bottom: 0px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    background-image: linear-gradient(90deg, var(--primary-4) 0%, transparent 2%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab-overflow-button {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--overflow-button--background);
  z-index: 3;
  color: var(--overflow-button--icon-color);
  transform: scale(0.8);
  transform-origin: center center;
  animation: fade-in 200ms ease-in;
  &--right {
    right: 0;
  }
  &--left {
    left: 0;
  }
  :host(.shifting) &,
  :host(.unshifting) & {
    display: none;
    animation: none;
  }
}

.tab-list {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: flex-end;
  height: 100%;
  overflow: auto;
  padding-right: 50px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
.tab-container {
  height: 40px;
  overflow: hidden;
  display: block;
}

.tab-trigger {
  display: inline;
  position: relative;

  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
:host(.rounded) .tab-list-item {
  &:hover,
  &.selected {
    & + .tab-list-item {
      &::before {
        content: none;
      }
    }
    &::before {
      content: none;
    }
  }
  &:first-of-type::before {
    content: none;
  }

  &::before {
    content: "";
    height: 60%;
    width: 1.5px;
    top: 20%;
    left: -1px;
    bottom: 20%;
    position: absolute;
    background: rgba(255, 255, 255, 0.253);
    z-index: 3;
  }
}

.tab-trigger:focus elder-tab-link:not(.selected) {
  --tab--focus--filter: hue-rotate(-50deg) brightness(1.2);
}

.tab-list-item.selected {
  z-index: 1;
}
@keyframes unshift {
  from {
    transform: translateX(calc(-1 * var(--shift--translateX)));
  }
  to {
    transform: translateX(calc(-1 * var(--shift--translateXend)));
  }
}
@keyframes shift {
  from {
    transform: translateX(calc(var(--shift--translateX) - var(--shift--translateXend)));
  }
  to {
    transform: translateX(0px);
  }
}

.tab-list-item {
  --position: 1;
  --shift--translateX: calc(var(--position) * 22px);
  --shift--translateXend: calc((var(--position) - 1) * calc(-1 * var(--shift--increment)));
  --unshifted--translateX: calc(var(--shift--increment) * (var(--position) - 1));
}
.tab-list-item {
  max-width: var(--list-item--width);
  display: flex;
  justify-content: center;
  position: relative;
}
:host(.shifting) .tab-list-item {
  animation: shift 300ms ease-out;
  animation-fill-mode: both;
}
:host(.unshifting) .tab-list-item {
  animation: unshift 300ms ease-out;
  animation-fill-mode: both;
}

:host(.unshifted) .tab-list-item {
  transform: translateX(var(--unshifted--translateX));
}
