@import "colors";
@import "palette";
@import "bem-mixin";
:root {
  --pk-primary: $primary-1;
  --border-color: $gray-1;

  --pk-surface: $light-gray-2;
  --pk-font-family--feedback-title: "IBM Plex Sans", sans-serif;
  --pk-text--color: $dark-gray-4;
  --pk-font--content: $dark-gray-4;
  --pk-text--color: $dark-gray-4;
}

.rationale {
  @include element("card") {
    /* border-left: 10px solid #0f4bb1; */
    border-radius: 3px;
    /* border: 1px solid blue; */
    border-left: 10px solid #0f4bb1;
    padding: 20px;
    background-color: rgb(255 255 255);
    box-shadow: 0 2px 1px 0 lightgrey;
    color: $primary-5;
    background-color: white;
  }
  @include element("icon") {
    padding-right: 20px;
    height: 90px;
    width: calc(100% - 20px);
    color: $primary-1;
  }
  @include element("title") {
    color: $dark-gray-5;
  }
  @include element("text") {
    border-radius: 5px;
  }
}

.expand-panel {
  background-color: $light-gray-1;
  border-bottom: 1px solid $light-gray-3;
  @include element("title") {
    color: $gray-5;
  }
  @include element("search-term") {
  }
  @include element("chip") {
    min-height: 1.7em;
    border-radius: 4px;
    background-color: $primary-3;
    color: white;
    font-weight: 400;
    cursor: pointer;
  }
  @include element("text") {
    font-size: 1rem;
  }
}
.card {
  border-radius: 3px;
  color: $primary-5;
  padding: 10px;
  background: white;
  position: relative;
  @include hoverable-shadow(3);
  @include element("icon") {
    @include state("is-small") {
      min-width: 45px;
      max-width: 45px;
    }
    @include state("is-info") {
      color: $primary-1;
    }
    @include state("is-error") {
      color: $error-1;
    }
    @include state("is-warning") {
      color: $complement-1;
    }
  }
  @include element("header") {
  }
  @include element("text") {
    border-radius: 5px;
  }
}
