<div *ngIf="expansionData as d" class="expand-panel">
  <div class="hh-grid hh-grid-spacing">
    <div class="hh-span-12 expansion-panel__search-term">
      <h3>{{ d.SearchTerms }}</h3>
    </div>
    <div class="hh-span-12">
      <h2 class="expand-panel__title">{{ d.Item }}</h2>
    </div>
    <div class="hh-span-12">
      <mat-chip-list>
        <mat-chip class="expand-panel__chip">
          {{ d.ItemType | titlecase }}</mat-chip
        >
      </mat-chip-list>
    </div>
    <div
      *ngIf="d.Inclusion"
      class="hh-span-6 hh-flex place-start-items expand-panel__card card"
      fxLayoutGap="0.5em"
    >
      <mat-icon
        svgIcon="unfold_less"
        inline="true"
        class="card__icon is-info is-small"
      ></mat-icon
      ><span class="card__text"
        ><h4 class="card__header">Guidance Includes</h4>
        {{ d.Inclusion }}</span
      >
    </div>
    <div
      *ngIf="d.Exclusion"
      class="hh-span-6 hh-flex place-start-items expand-panel__card card"
      fxLayoutGap="0.5em"
    >
      <mat-icon
        svgIcon="unfold_more"
        inline="true"
        class="card__icon is-info is-small"
      ></mat-icon
      ><span class="card__text"
        ><h4 class="card__header">Guidance Does Not Include</h4>
        {{ d.Exclusion }}</span
      >
    </div>
    <div
      *ngIf="d.DiseaseState"
      class="hh-span-6 hh-flex place-start-items expand-panel__card"
      fxLayoutGap="5px"
    >
      <mat-icon
        svgIcon="error"
        aria-label="Caution using drug in the following disease states"
        inline="true"
        class="card__icon is-error is-small"
      ></mat-icon>
      <span class="card__header"
        ><h4>Caution In</h4>
        {{ d.DiseaseState | caseSplit }}</span
      >
    </div>
    <div
      *ngIf="d.MaximumClearance || d.MinimumClearance"
      class="hh-span-6 expansion-panel__card card"
    >
      <b>{{ d.Recommendation }}</b> with clearance
      <i><b>below</b></i>
      {{ d.MaximumClearance }} and
      <i><b>above</b></i>
      {{ d.MinimumClearance }}
    </div>
    <div
      *ngIf="d.Rationale"
      class="rationale__card hh-span-12 hh-grid hh-12-column v-center-items"
    >
      <div class="hh-span-2">
        <mat-icon class="rationale__icon" svgIcon="scale"></mat-icon>
      </div>
      <div class="hh-span-10">
        <h4 class="rationale__title">Rationale</h4>
        <p class="rationale__text">{{ d.Rationale }}</p>
      </div>
    </div>
  </div>
</div>
