<mat-table [dataSource]="queriedData">
  <!-- Title Definition -->
  <ng-container matColumnDef="class">
    <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.Class }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="minimum-clearance">
    <mat-header-cell *matHeaderCellDef> Min Clearance </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
  </ng-container>

  <!-- Title Definition -->
  <ng-container matColumnDef="maximum-clearance">
    <mat-header-cell *matHeaderCellDef> Max Clearance </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.MaximumClearance }} </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="['class', 'minimum-clearance', 'maximum-clearance']"
  ></mat-header-row>
  <mat-row
    *matRowDef="
      let row;
      columns: ['class', 'minimum-clearance', 'maximum-clearance']
    "
  ></mat-row>
</mat-table>
