@import "../../colors";
.show {
  display: "";
}

.main-content-box {
  overflow: auto;
  min-width: calc(100vw-20.5em);
  margin-top: 13px;
  width: 100%;
  margin-bottom: 20em;
  height: 100%;
}
@media (max-width: 599.99px) {
  .main-content-box {
    height: 100%;
  }
}

#expansionPanel {
  overflow: hidden;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

div.table-spacer {
  padding-bottom: 0.3em;
}

#modifyPanel {
  width: 20em;
  position: fixed;
}

div.content-container {
  overflow: auto;
}

div.panel-width {
  width: 100%;
}

div.partial {
  &.content {
    width: calc(100vw-20.5em);
  }
  &.tables {
    width: calc(98vw- (20.5em+20em));
  }
}
div.full {
  &.content {
    width: 100vw;
  }
  &.tables {
    width: calc(98vw-20em);
  }
}

p-scrollPanel {
  p {
    padding: 0.5rem;
    line-height: 1.5;
    margin: 0;
  }

  &.custombar1 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--primary-color);
      opacity: 1;
      transition: background-color 0.2s;

      &:hover {
        background-color: #007ad9;
      }
    }
  }
}
