@import "../../colors";
.show {
  display: "";
}

.main-content-box {
  overflow: auto;
  min-width: calc(100vw-20.5em);
  max-height: calc(100vh - (40px + 5em));
  margin-top: 13px;
  width: 100%;
  margin-bottom: 20em;
}
@media (max-width: 599.99px) {
  .main-content-box {
    max-height: calc(100vh - (40px + 9.5em));
  }
}

#expansionPanel {
  overflow: hidden;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

div.table-spacer {
  padding-bottom: 0.3em;
}

#modifyPanel {
  width: 20em;
  position: fixed;
}

div.content-container {
  overflow: auto;
}

div.topnav {
  background-image: $nav-gradient;
  height: 40px;
  max-height: 40px;
  color: white;
}

div.panel-width {
  width: 100%;
}

div.partial {
  &.content {
    width: calc(100vw-20.5em);
  }
  &.tables {
    width: calc(98vw- (20.5em+20em));
  }
}
div.full {
  &.content {
    width: 100vw;
  }
  &.tables {
    width: calc(98vw-20em);
  }
}
