.show {
  display: "";
}

.hide {
  display: none;
}

.main-content-box {
  padding-top: 6em;
  overflow: visible;
}

.modify-panel {
  width: 30%;
}

.gray-big-logo {
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 50%;
  height: 35em;
}

#expansionPanel {
  padding: 1em;
  min-width: 0px;
  overflow: hidden;
  max-width: 80%;
}
