<div
  fxShow.xs="true"
  fxHide.gt-xs="true"
  class="side-arrow"
  fxLayoutAlign="end center"
  (click)="state.toggleSidenav()"
  matRipple
  *ngIf="this.layout.sidenavOpen"
>
  <mat-icon svgIcon="chevron_right"> </mat-icon>
</div>

<main class="p-grid p-nogutter">
  <div class="p-col-12">
    <header
      [class]="
        this.layout.mobileWidth && this.layout.sidenavOpen
          ? 'small-toolbar'
          : 'large-toolbar'
      "
    >
      <app-toolbar class="toolbar-content"></app-toolbar>
    </header>
  </div>
  <div
    class="p-col-12"
    [style]="
      this.layout.mobileWidth || this.layout.sidenavOpen
        ? 'width:100vw'
        : 'width:calc(100vw + 20.5em)'
    "
  >
    <div
      [@toggleForm]="this.layout.sidenavOpen ? 'visible' : 'hidden'"
      [class]="
        this.layout.mobileWidth && this.layout.sidenavOpen
          ? 'full-layout'
          : 'grid-layout'
      "
    >
      <aside
        [class]="
          this.layout.mobileWidth && this.layout.sidenavOpen
            ? 'sidebar small'
            : 'sidebar'
        "
      >
        <div
          fxLayoutAlign="center center"
          *ngIf="!this.layout.mobileWidth"
          class="subtitle topbar-shadow"
        >
          A Tool for Beers Criteria
        </div>

        <app-side-navigation #sideNav></app-side-navigation>
      </aside>
      <div>
        <div class="topnav topbar-shadow">
          <button
            style="margin-left: 0.4em"
            mat-icon-button
            (click)="this.state.toggleSidenav()"
          >
            <mat-icon
              [svgIcon]="this.layout.sidenavOpen ? 'chevron_left' : 'menu'"
            ></mat-icon>
          </button>
        </div>
        <main
          style="margin-top: 40px"
          [class]="
            this.layout.mobileWidth && this.layout.sidenavOpen
              ? 'content small'
              : 'content large'
          "
        >
          <app-content (tablesLoaded)="tablesLoaded = true"></app-content>
        </main>
      </div>
    </div>
  </div>
</main>

<!--<mat-sidenav-container
  keyup.enter="search(submission)"
  class="material-container"
  (backdropClick)="state.sidenavOpen = false"
>
  <mat-sidenav
    [class]="
      this.layout.mobileWidth
        ? 'material-fullscreen-sidenav'
        : 'material-sidenav'
    "
    [class.mat-elevation-z8]="true"
    [opened]="this.layout.sidenavOpen"
    mode="side"
    (keydown.escape)="state.sidenavOpen = false"
    (keydown.enter)="state.sidenavOpen = false"
    cdkScrollable
  >
    <app-side-navigation></app-side-navigation>
  </mat-sidenav>
  <mat-sidenav-content
    ><app-toolbar
      class="toolbar"
      *ngIf="webSocketService.loaded"
      [loaded]="webSocketService.loaded"
    >
    </app-toolbar>

    <app-content></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>
-->
