<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<mat-sidenav-container
  keyup.enter="search(submission)"
  class="material-container"
  (backdropClick)="state.sidenavOpen = false"
  fxFlex
>
  <mat-sidenav
    *ngIf="webSocketService.loaded"
    #leftdrawer
    [class]="
      state.fullScreenSearch
        ? 'material-fullscreen-sidenav'
        : 'material-sidenav'
    "
    [class.mat-elevation-z8]="true"
    [opened]="sidenavActive"
    mode="side"
    (keydown.escape)="state.sidenavOpen = false"
    (keydown.enter)="state.sidenavOpen = false"
    @slideInLeft
    cdkScrollable
  >
    <app-side-navigation></app-side-navigation>
  </mat-sidenav>
  <mat-sidenav-content
    ><app-toolbar
      class="toolbar"
      *ngIf="webSocketService.loaded"
      [loaded]="webSocketService.loaded"
    >
    </app-toolbar>

    <app-content></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>
