@import "../../_colors.scss";

.material-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-content {
  height: 100%;
  overflow-y: auto;
  background: rgb(250, 250, 250);
}

.caduceus {
  text-shadow: 0 0.5px 0 rgba(105, 105, 105, 0.4);
}

.minus-button {
  cursor: pointer;
  text-align: center;
  padding-top: 1px;
  border-radius: 10;
  height: 100%;
  color: $accent;
  opacity: 90%;
}
.minus-button:hover {
  opacity: 100%;
}

.plus-button {
  cursor: pointer;
  text-align: center;
  padding-top: 1px;
  border-radius: 10;
  color: $primary;
  opacity: 90%;
}
.plus-button:hover {
  opacity: 100%;
}

.add-remove {
  height: 100%;
}

.search-drugs {
  padding-top: 2em;
}

.height-limit {
  max-height: 65vh;
  overflow: auto;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.logo-title {
  font-family: $headerfont;
  font-size: 42pt;
  font-weight: 700;
  letter-spacing: -2px;
  color: #414042;
  text-align: center;
}

mat-sidenav .logo-buffer {
  padding-bottom: 2em;
}

mat-sidenav.material-sidenav {
  width: 22em;
  border-right: 1px inset rgba(70, 70, 70, 0.404);
  overflow: hidden;
}

mat-sidenav.material-fullscreen-sidenav {
  width: 100vw;
  border-right: 1px inset rgba(70, 70, 70, 0.404);
  padding: 0 3em 0 3em;
}

button.sidenav-chevron-left {
  font-size: 24pt;
  position: sticky;
  top: 90%;
  border: 2px solid $primary;
  color: $primary;
}

button.sidenav-chevron-left:hover {
  background-color: transparentize($color: $primary, $amount: 0.5%);
}

.toolbar {
  position: fixed;
  z-index: 100;
}
