@import "../../_colors.scss";

.material-container {
  height: 100vh;
}

.mat-drawer-content {
  height: 100vh;
  overflow-y: auto;
  background: rgb(250, 250, 250);
}

.caduceus {
  text-shadow: 0 0.5px 0 rgba(105, 105, 105, 0.4);
}

.minus-button {
  cursor: pointer;
  text-align: center;
  padding-top: 1px;
  border-radius: 10;
  height: 100%;
  color: $accent;
  opacity: 90%;
}
.minus-button:hover {
  opacity: 100%;
}

.plus-button {
  cursor: pointer;
  text-align: center;
  padding-top: 1px;
  border-radius: 10;
  color: $primary;
  opacity: 90%;
}
.plus-button:hover {
  opacity: 100%;
}

.add-remove {
  height: 100%;
}

.search-drugs {
  padding-top: 2em;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.logo-title {
  font-family: $headerfont;
  font-size: 42pt;
  font-weight: 700;
  letter-spacing: -2px;
  color: #414042;
  text-align: center;
}

mat-sidenav .logo-buffer {
  padding-bottom: 2em;
}

mat-sidenav.material-sidenav {
  width: 21.8em;
  border-right: 1px inset rgba(70, 70, 70, 0.404);
  height: 100vh;
}

mat-sidenav.material-fullscreen-sidenav {
  width: 100vw;
  border-right: 1px inset rgba(70, 70, 70, 0.404);
}

button.sidenav-chevron-left {
  font-size: 24pt;
  border: 2px solid $primary;
  color: $primary;
}

button.sidenav-chevron-left:hover {
  background-color: transparentize($color: $primary, $amount: 0.5%);
}

$toolbar: 6em;

.toolbar {
  height: $toolbar;
  width: 100%;
}

.sidebar {
  height: calc(100vh - #{$toolbar});
  width: 21em;
  box-sizing: border-box;
}

.outline {
  border: 1px solid gray;
}
