@import "../../styles.scss";
.flex-container-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-container-around {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.dh-input {
  width: 100%;
}

.material-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.material-sidenav {
  width: 23em;
  border-right: 1px inset rgba(70, 70, 70, 0.404);
  padding-bottom: 2em;
  padding: 0 1.7em 1.7em 1.7em;
}

.mat-drawer-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.caduceus {
  text-shadow: 0 0.5px 0 rgba(105, 105, 105, 0.4);
}

.drawer-logo-vector {
  width: 100%;
  position: relative;
  height: 4.7em;
  padding-top: 1em;
  padding-left: 1em;
  text-shadow: 0 0.5px 0 rgba(105, 105, 105, 0.4);
}

.drawer-logo-vector .b {
  fill: mat-color($candy-app-accent);
}
