<div class="tab-overflow-container">
  <button
    (mousedown)="handleMouseDown($event, 'LEFT')"
    @fadeButtons
    mat-mini-fab
    class="left-overflow-button"
    *ngIf="leftOverflow | async"
  >
    <mat-icon svgIcon="chevron-left"></mat-icon>
  </button>
  <div
    *elderLet="{
      tabs: tableService.tableOptions$ | async,
      currentTab: currentTab$ | async
    } as state"
    class="tabs"
  >
    <ul #list class="button-row-style hide-scrollbar">
      <li
        (keydown.ArrowRight)="focusNext(item)"
        (keydown.ArrowLeft)="focusPrevious(item)"
        #item
        *ngFor="let tab of state.tabs"
      >
        <button
          #butn
          (focusin)="toggleChildFocusStyles(butn)"
          (focusout)="toggleChildFocusStyles(butn)"
          class="tab-trigger"
          (click)="handleTabClick(tab.tableNumber)"
        >
          <elder-tab-link
            #link
            [active]="tab.tableNumber === state.currentTab"
            [inactive]="tab.tableNumber != state.currentTab"
            [collapse]="tab.tableNumber != 0"
            [rounded]="rounded"
          >
            {{ tab.shortName }}
          </elder-tab-link>
        </button>
      </li>
    </ul>
  </div>
  <button
    (mousedown)="handleMouseDown($event, 'RIGHT')"
    mat-mini-fab
    @fadeButtons
    class="right-overflow-button"
    *ngIf="rightOverflow | async"
  >
    <mat-icon svgIcon="chevron-right"></mat-icon>
  </button>
</div>
