<div class="tab-overflow-container">
  <button
    (mousedown)="handleMouseDown($event, 'LEFT')"
    @fadeButtons
    mat-mini-fab
    class="left-overflow-button"
    *ngIf="leftOverflow | async"
  >
    <mat-icon svgIcon="chevron-left"></mat-icon>
  </button>
  <div
    *elderLet="{
      tabs: tableService.tableOptions$ | async,
      currentTab: currentTab$ | async
    } as state"
    class="tabs"
  >
    <ul #list class="button-row-style hide-scrollbar">
      <li
        #item
        *ngFor="let tab of state.tabs"
        [style.zIndex]="tab.tableNumber === state.currentTable ? 1 : 0"
        class="tab-button"
      >
        <elder-tab-link
          [active]="tab.tableNumber === state.currentTab"
          [inactive]="tab.tableNumber != state.currentTab"
          [collapse]="tab.tableNumber != 0"
          [rounded]="rounded"
          (click)="handleTabClick(tab.tableNumber)"
        >
          {{ tab.shortName }}
        </elder-tab-link>
      </li>
    </ul>
  </div>
  <button
    (mousedown)="handleMouseDown($event, 'RIGHT')"
    mat-mini-fab
    @fadeButtons
    class="right-overflow-button"
    *ngIf="rightOverflow | async"
  >
    <mat-icon svgIcon="chevron-right"></mat-icon>
  </button>
</div>
