@use "palette" as *;
@use "colors" as *;

.tab-overflow-container {
  height: 40px;
  max-width: 100%;
}

.tab-overflow-button {
  position: absolute;
  top: 0;
  bottom: 0;
  background: $primary-4;
  z-index: 1;
  color: white;
  transform: scale(0.8);
  transform-origin: center center;
  &--right {
    right: 0;
  }
  &--left {
    left: 0;
  }
}
.tab-list {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: flex-end;
  height: 100%;
  overflow: auto;
  padding-right: 50px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
.tab-container {
  height: 40px;
  overflow: hidden;
  display: block;
}
.tab-trigger {
  &:focus {
    elder-tab-link {
      &:not(.is-active) {
        --tab-focus--filter: hue-rotate(-50deg) brightness(1.2);
      }
      &.is-active {
        --tab-focus--shadow: url(#linear-focus-shadow);
      }
    }
  }
}
.tab-trigger {
  padding: 0;
  border: none;
  display: block;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

.linear-focus-shadow-bottom {
  stop-color: #{$secondary-2-1};
}
.linear-focus-shadow-start {
  stop-color: #{$light-gray-2};
}
.linear-focus-shadow-end {
  stop-color: #{$light-gray-4};
}
