@use "palette" as *;
@use "breakpoints" as *;
@use "sass:color";
%edit-text {
  color: $gray-5;
  font-weight: 500;
}

.edit__section {
  @include mobileWidth {
    display: flex;
    justify-content: center;
    padding: 0 3vw;
    height: calc(100% - 97px);
  }
}
.edit__list {
  position: relative;
  @include mobileWidth {
    width: 90%;
    display: inline-flex;
    flex-direction: column;
  }
}

%item-template {
  display: flex;
  flex-direction: row;
  max-width: inherit;
  align-items: center;
  white-space: nowrap;
  background-color: var(--validation-background, #{color.scale($light-gray-2, $alpha: -60%)});
  border-radius: 5px;
}

.edit__items-wrapper {
  overflow-y: auto;
  height: calc(100vh - 260px);
  padding-top: 10px;
  @include media-size("zero", "small") {
    height: inherit;

    :host(.is-pinned) & {
      overscroll-behavior: auto; /* default */
      height: calc(100vh - 140px);
    }
  }
}

.edit__item {
  color: $gray-4;
  padding: 0 0 0.5em 0;
  @include mobileWidth {
    padding: 0.5em 2px;
    border-bottom: 0;
  }
}
.add-item-label {
  @extend %item-template;
  height: 50px;
  font-size: 0.8rem;
  padding: 0.5em 10px;
  @include media-size("zero", "small") {
    padding: 16px;
    font-size: 1rem;
  }
}
.item__content {
  @extend %item-template;
  --validation-border-scale: 0.2;
  --validation-border-height: 0;
  --validation-color: #{$gray-4};
  border-bottom: 2px solid var(--validation-color, transparent);
  transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  border: 0px;
  &::before {
    content: "";
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    height: var(--validation-border-height);
    background-color: var(--validation-color);
    transform: scaleY(var(--validation-border-scale));
    position: absolute;
    transition: transform 300ms linear;
    transform-origin: bottom center;
    border-radius: 5px;
  }
  @include mobileWidth {
    border: 0;
    padding: 0.4em 0.1em;
  }
  &.has-attached {
    border-radius: 5px 5px 0 0;
  }
  &:hover {
    --validation-color: #{$secondary-2-2};
    --validation-background: #{color.scale($secondary-2-1, $alpha: -90%, $saturation: 50%)};
    @include media-size("zero", "small") {
      --validation-color: #{$secondary-2-2};
    }
  }

  &:focus-within {
    --validation-background: #{color.scale($light-gray-2, $alpha: -60%)};
    --validation-border-height: 1.4px;
    --validation-border-scale: 1;
    --validation-color: #{$gray-4};
    @include media-size("zero", "small") {
      --validation-border-height: 2px;
      --validation-color: #{$gray-4};
    }
  }
  &.is-invalid,
  &:focus-within.is-invalid {
    --validation-color: #{$error-4};
    --validation-background: #{getHighlightColor($error-1)};
  }
}

.item__button {
  color: var(--validation-color, #{--icon--color});
  padding: 0 0.5em;

  &__icon {
    vertical-align: middle;
    height: 18px;
    @include media-size("zero", "small") {
      height: 22px;
    }
  }
  @include media-size("zero", "small") {
    height: 38px;
  }
}

.item__input {
  @extend %edit-text;
  all: unset;

  color: var(--validation-color);
  font-weight: 400;
  text-transform: capitalize;
  box-sizing: border-box;
  cursor: text;
  min-width: 0;
  font-family: var(--body-font), sans-serif;
  font-size: 0.95rem;
  line-height: 2.75em;
  @include media-size("zero", "small") {
    width: 90%;
    line-height: 2em;
    font-size: 1rem;
  }
}

.edit__button--clear {
  all: unset;
  position: absolute;
  right: -3.5px;
  font-size: 14px;
  color: $gray-4;
  border-radius: 6px;
  line-height: 2.2;
  top: -5px;
  font-weight: 500;
  cursor: pointer;
  height: 26px;
  width: 26px;
  padding: 7px;

  &:focus {
    outline: auto;
    outline-color: $error-5;
  }

  &:hover,
  &:active,
  &:focus {
    color: $error-5;
  }
}
.edit__title {
  font-size: var(--label-size);
  color: var(--label-color);
  font-family: var(--input-font);
  padding: 0;
  margin: 0;

  font-weight: 500;
}
