@use "~@angular/material" as mat;
@use "sass:color";
@use "palette" as *;
@use "breakpoints" as *;
@use "colors" as *;

@include scrollbar;

:host {
  --input-stroke: #{$gray-1};
  --input-label--text: #{$gray-2};
  --input-text: #{tint($gray-1, 20%)};
  --input-focus--stroke: #{$primary-1};
  --input-font--size: 12pt;
  --input--height: 2.7rem;
  --input--height--mobile: 2.75rem;
  --icon--color: #{$gray-4};
  --label-color: #{$gray-5};
  --label-size: 1rem;
  --label-weight: 400;
  display: block;
  height: 100%;
  max-height: calc(100vh - 100px);
}
:host(.is-pinned) {
  max-height: 100vh;
}

.form {
  height: inherit;
  &__inner-wrapper {
    position: relative;
    z-index: 1;
    height: inherit;
    @include mobileWidth {
      height: inherit;
      &.is-widened {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.search {
  outline: none;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.search__label {
  font-size: var(--label-size);
  color: var(--label-color);
  font-family: var(--input-font);
  padding-bottom: 8px;
  font-weight: 500;
  width: 100%;
  @include mobileWidth {
    display: none;
  }
}
.search__field {
  --border-color: #{$light-gray-5};
  --validation-border-scale: 0;
  --validation-border-height: 0;
  --border-radius: 5px;
  --search-field--height: 42px;
  border-radius: var(--border-radius);
  min-height: var(--search-field--height);
  overflow: hidden;
  position: relative;
  transition: border-color 200ms ease-in;
  padding: 0 0 0 0.66em;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 44px 40px;
  grid-template-rows: var(--search-field--height);
  align-items: center;
  justify-items: center;

  background-image: linear-gradient(to top, #fff 92%, #eceeef);
  grid-template-areas: "input add search";

  @include mat.elevation-transition;
  @include media-size("zero", "small") {
    --border-radius: 2rem;
    --border-color: #{$light-gray-4};
    grid-template-columns: 2.8em 1fr 2.8em min-content;
    grid-template-areas: "back input add search";
    grid-row: 1;
    padding: 0 0.7rem;
    justify-items: center;
    --search-field--height: 46px;
    background-image: none;
    &::after {
      border-bottom-color: $light-gray-4;
    }
    &.is-pinned {
      --border-radius: 0px;
      --search-field--height: 3.5rem;
      --validation-border-scale: 1;
      --border-color: #{$light-gray-4};
      border-bottom-color: transparent;
      grid-template-columns: 3em 1fr 3.8em min-content;
    }
  }

  &::after {
    transition: border-color 200ms ease-in;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;

    pointer-events: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--validation-border-color, var(--border-color));
    @include media-size("zero", "small") {
      border: 1.1px solid var(--border-color);
      border-bottom-color: var(--validation-border-color, var(--border-color));
    }
  }
  &::before {
    @include media-size("zero", "small") {
      content: "";
      width: 100%;
      right: 0;
      left: 0;
      bottom: 0;
      height: var(--validation-border-height);
      background-color: var(--validation-border-color);
      transform: scaleX(var(--validation-border-scale)) scaleY(var(--validation-border-scale));
      position: absolute;
      transition: transform 200ms ease-in;
      transform-origin: bottom center;
    }
  }

  &:hover {
    --border-color: #{$light-gray-2};

    background: white;
    @include shadow(3, false, 0.12);
  }

  &.is-open,
  &.is-missing,
  &.is-invalid {
    --validation-border-scale: 1;
    --validation-border-height: 2px;
  }
  &.is-open {
    --validation-border-color: #{$primary-1};
    :host(:not(.is-pinned)) & {
      --border-radius: 5px;
      @include media-size("zero", "small") {
        --border-radius: 5px 5px 0 0;
      }
    }
  }

  &.is-invalid {
    --validation-border-color: #{$error-4};
  }
  &:not(:focus) {
    &.is-invalid {
      --border-color: #{$light-gray-4};
      border-bottom-color: transparent;
    }
  }
  &.is-dirty {
    --validation-border-scale: 1;
  }
}

.search__input {
  all: unset;
  padding-left: 0.25em;
  outline: none;
  border: none;
  font-size: var(--input--font-size, 1rem);
  font-family: var(--body-font);
  pointer-events: all;
  min-height: var(--input--height);
  width: 100%;
  &::placeholder {
    color: $gray-3;
  }
  @include media-size("zero", "small") {
    width: 100%;
    padding-left: 1em;
    min-height: var(--input--height--mobile);
    --input--font-size: 18px;
    .is-pinned & {
      --input--font-size: 18px;
    }
  }
}

.search__spinner-wrapper {
  display: inline-block;
  vertical-align: center;
  position: relative;
  grid-area: add;
  @include media-size("zero", "small") {
  }
}

.search-directions {
  width: var(--directions-width);
}

%search-field-icon {
  overflow: visible;
  display: flex;
  justify-content: center;
}
.icon-button--add {
  @extend %search-field-icon;
  height: 28px;
  color: $primary-1;
  grid-area: add;
  @include media-size("zero", "small") {
    height: 30px;
  }
  &[disabled] {
    color: $gray-2;
  }
}
.icon-button--back {
  --icon-button--color: #{color.scale($primary-1, $alpha: -15%)};
}
.decorative-search-icon {
  color: $gray-2;
  grid-area: back;
}
.icon-button--search {
  @extend %search-field-icon;
  --icon-button--width: 40px;
  --icon-button--height: 42px;
  --icon-button--color: #{color.scale(#fff, $alpha: -10%)};
  --search-button--gradient: #{diagonal-gradient($primary-1, top right, 10%)};

  z-index: 1;
  background: var(--validation-border-color, var(--search-button--gradient));
  .search__field:hover & {
    --search-button--gradient: #{diagonal-gradient(
        color.scale($primary-1, $lightness: 10%),
        top right,
        10%
      )};
  }
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  grid-area: search;
  &:focus,
  &:active,
  &:focus:active {
    outline: 2px solid var(--focus-color, #fff);
    outline-offset: -6px;
  }
  &.is-mobile {
    --icon-button--width: 44px;
    --icon-button--icon-scale: 0.7 !important;
    --focus-color: transparent;
    background-color: transparent;
    position: relative;
    background-image: diagonal-gradient($primary-1, top right);
    border-radius: 8px;
    &:disabled {
      background-image: #{diagonal-gradient($gray-4, top right, 10%)};
    }
    @include absolute-before {
      @include shadow(4, false, 13%);
      border-radius: inherit;
      transition: opacity 300ms linear;
      z-index: -1;
      opacity: 0.5;
    }
    &:hover,
    &:focus,
    &:active {
      &::before {
        opacity: 1;
      }
    }
  }
}
