@import "~@angular/material/theming";
@import "./palette";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

$app-primary: mat-palette($bluePalette, 600);
$app-accent: mat-palette($mat-amber, A700);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);

$darkprimary: mat-color($app-primary, 800);
$darkaccent: mat-color($app-accent, 900);

$brightAccent: mat-color($app-accent, A700);

$darkblue: mat-color($mat-indigo, 900);
$lightblue: mat-color($mat-indigo, A400);

$lightprimary: mat-color($app-primary, 400);
$lightaccent: mat-color($app-accent, 600);

$gray: #414042;
$darkgray: $primary;
$tablebackground: white;
$tableaccent: $primary;
$lightgray: lighten($gray, 60%);
$lightergray: lighten($gray, 70%);

$gradient: linear-gradient(to right, $primary, adjust-hue($primary, 20deg));

$textgray: lighten($gray, 70%);

$headerfont: "Titillium Web", san-serif;
