@import "~@angular/material/theming";
@import "./palette";
/* fallback */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/TitilliumWeb-SemiBold.ttf) format("ttf");
}
$app-primary: mat-palette($mat-indigo, 800);
$app-accent: mat-palette($mat-amber, A700);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);

$darkprimary: mat-color($app-primary, 800);
$darkaccent: mat-color($app-accent, 900);

$brightAccent: mat-color($app-accent, A700);

$darkblue: mat-color($mat-deep-purple, 700);
$lightblue: mat-color($mat-indigo, A400);

$lightprimary: mat-color($app-primary, 400);
$lightaccent: mat-color($app-accent, 600);

$gray: #414042;
$darkgray: $primary;
$logogray: #292230;

$tablebackground: white;
$tableaccent: $primary;
$lightgray: lighten($gray, 60%);
$lightergray: lighten($gray, 70%);

$gradient: linear-gradient(to right, $primary, adjust-hue($primary, 10deg));
$toolbar-gradient: linear-gradient(
  to right,
  darken($primary, 5%),
  lighten(adjust-hue($primary, 10deg), 5%)
);
$nav-gradient: linear-gradient(
  to right,
  lighten(adjust-hue($primary, 10deg), 5%),
  lighten(adjust-hue($primary, 10deg), 10%)
);
$table-gradient: linear-gradient(
  to right,
  lighten($primary, 8%),
  adjust-hue(lighten($primary, 8%), 20deg)
);

$header-shrunken: 80px;
$header-full: 142px;

$textgray: lighten($gray, 70%);

$headerfont: "Titillium Web", sans-serif;
