/* For use in src/lib/core/theming/_palette.scss */

$calm-palette: (
  50: #e0edff,
  100: #b3d2ff,
  200: #80b5ff,
  300: #4d97ff,
  400: #2680ff,
  500: #006aff,
  600: #0062ff,
  700: #0057ff,
  800: #004dff,
  900: #003cff,
  A100: #ffffff,
  A200: #f2f4ff,
  A400: #bfcaff,
  A700: #a6b5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
