/* For use in src/lib/core/theming/_palette.scss */
$bluePalette: (
  50: #e9e8f6,
  100: #c8c5e9,
  200: #a39fda,
  300: #7e79cb,
  400: #625cc0,
  500: #463fb5,
  600: #3f39ae,
  700: #3731a5,
  800: #2f299d,
  900: #201b8d,
  A100: #c8c6ff,
  A200: #9793ff,
  A400: #6660ff,
  A700: #4d47ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffff,
    A200: #ffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$redPalette: (
  50: #faf0e5,
  100: #f3dabd,
  200: #ebc191,
  300: #e2a865,
  400: #dc9544,
  500: #d68223,
  600: #d17a1f,
  700: #cc6f1a,
  800: #c66515,
  900: #bc520c,
  A100: #fff0e8,
  A200: #ffcfb5,
  A400: #ffae82,
  A700: #ff9e69,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
