// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
@use "colors" as *;
@use "palette" as *;
@use "component-overrides" as *;
@use "breakpoints" as *;
@use "variables" as *;
@use "sass:color";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Foreground palette for light themes.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$search-angular-primary: mat.define-palette(mat.$indigo-palette);
$search-angular-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$search-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$search-angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $search-angular-primary,
      accent: $search-angular-accent,
      warn: $search-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($search-angular-theme);
@include mat.button-theme($search-angular-theme);
@include mat.list-theme($search-angular-theme);
@include mat.pseudo-checkbox-theme($search-angular-theme);
@include mat.tooltip-theme($search-angular-theme);
@include mat.progress-spinner-theme($search-angular-theme);
@include mat.sort-theme($search-angular-theme);
@include mat.autocomplete-theme($search-angular-theme);
@include mat.dialog-theme($search-angular-theme);
@include mat.icon-theme($search-angular-theme);
@include mat.divider-theme($search-angular-theme);
@include mat.checkbox-theme($search-angular-theme);

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}

//overrides
.mat-sort-header-stem {
  background: none;
  display: none !important;
}

.mat-sort-header-pointer-middle {
  background: none;
  display: none !important;
}

.mat-sort-header-indicator {
  top: 5px !important;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  list-style-position: inside;
  list-style-type: none;
  padding: 3px;
  border-radius: 5px;
  -webkit-column-break-inside: avoid;
  box-shadow: 0px 3px 3px 1px transparentize($gray-5, 0.9);
  border: 1px solid $secondary-2-1;
  background: tint($secondary-2-1, 80%);
}

.mat-sort-header-container {
  display: grid !important;
  grid-template-columns: 80% 20% !important;
}

.mat-sort-header-pointer-right,
.mat-sort-header-pointer-left {
  border-radius: 3px !important;
}

.mat-sort-header-arrow {
  color: currentColor !important;
  width: 1.12em !important;
  min-width: 0.32em !important;
  height: 1.6em !important;
  margin: 0 !important;
}

.mat-sort-header-pointer-left,
.mat-sort-header-pointer-right {
  background: currentColor;
  width: 0.6em !important;
  height: 0.12em !important;

  position: absolute;
  top: 0;
}
.mat-tooltip.tooltip {
  font-size: 9pt;
  padding: 5px 10px 5px 10px;
}

.mat-tooltip.arrow-tip {
  // to make possible place arrow pseudo element outside tooltip with absolute positioning
  overflow: visible;
  position: relative;
  &.right {
    border-left: 6px solid red;
    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      background-color: red;
      clip-path: polygon(50% 0, 0 50%, 50% 100%);
      left: -12px;
      width: 15px;
      height: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.mat-sort-header-sorted .header-content {
  text-decoration: underline;
  text-decoration-color: $secondary-2-1;

  &:hover {
    text-decoration-color: $secondary-2-2;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.font-weight-500 {
  font-weight: 500;
}
.font-weight-300 {
  font-weight: 300;
}

.mat-icon-button {
  line-height: 24px !important;
}

:-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(226, 226, 226);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  color: rgb(226, 226, 226);
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.178);
  -webkit-box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.178);
}
.mat-checkbox.no-transition,
.mat-checkbox.no-transition .mat-checkbox-background {
  transition: none;
}
.mat-checkbox-frame {
  border-color: $gray-3;
}
.mat-checkbox .mat-ripple-element {
  background-color: $gray-4;
}
.mat-button-focus-overlay {
  background-color: $gray-5;
}
