/* You can add global styles to this file, and also import other style files */

//prettier-ignore
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons|Material+Icons+Round");
@import "./primeflex.min.css";


::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px 6px rgba(0,0,0,0.1); 
    color: rgb(226, 226, 226);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    color: rgb(226, 226, 226);

    -webkit-box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 0.3); 
}
body {
  margin: 0px;
}

button[mat-stroked-button].add-item {
  border-width: 1px;
  border-style: solid;
  border-color: mat-color($candy-app-primary);
  border-radius: 5px;
  overflow: visible;
}
button[mat-stroked-button]:hover {
  background-color: mat-color($candy-app-primary, 0.1);
}
button[mat-flat-button]:hover {
  background-image: radial-gradient(
    mat-color($candy-app-primary, 600),
    mat-color($candy-app-primary, 700)
  );
}

button[mat-flat-button] {
  border-radius: 5px;
  border: 1px solid mat-color($candy-app-primary);
}

button[mat-stroked-button]:focus {
  color: mat-color($candy-app-primary);
}

button[mat-stroked-button]:active {
  background-color: mat-color($candy-app-primary, 0.4);
}

button[mat-flat-button]:active {
  background-color: white;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.4em 0 0.8em 0;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  transform: translateY(-1.25em) scale(0.75);
}

.mat-form-field-label-wrapper {
  top: -1.24375em;
  padding-top: 0.84375em;
}
.mat-form-field-appearance-outline .mat-form-field-label {
  padding-bottom: 0.2em;
}
.mat-form-field-appearance-outline:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  .mat-form-field-outline-thick {
  color: desaturate(lighten($primary, 20%), 20%);
}
.mat-drawer-inner-container {
  scrollbar-width: none;
}

.mat-button-toggle {
  background-color: white;
}

.mat-button-toggle-checked {
  background-color: whitesmoke;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.mat-drawer-inner-container {
  overflow: visible !important;
}

button[mat-button-toggle] {
  height: 20%;
}

.div .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

tr:not(.med-expanded-row) .ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.white-header-arrow .mat-sort-header-arrow {
  color: white !important;
}


mat-sidenav-content {
  background-color: rgb(253, 253, 253);
}

.material-icon {
  font-family: "Material Icons Round";
}

table {
  border-collapse: collapse !important;
  border-spacing: none;
  font-family: "Roboto", sans-serif;
  min-width: 0px;
}

.ui-table table {
  min-width: 0px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 36px !important;
}
.mat-body,
.mat-body-1,
.mat-body-strong,
.mat-body-2 .mat-small,
.mat-caption {
  font-family: "Rubik", sans-serif !important;
}

.mat-button-toggle-group-appearance-standard
  .mat-button-toggle
  + .mat-button-toggle {
  border-left: none;
}

.mat-list-base .mat-list-option {
  height: 45px;
}

