@use "palette" as *;
@use "grid" as gr;
@use "colors" as *;
@use "bem-mixin" as *;
:root {
  --title--font-family: var(--header--font), sans-serif;
  --body--font-family: var(--body--font), sans-serif;
}

.rationale {
  border-radius: 3px;
  padding: 20px;
  background-color: white;
  max-height: 200px;
  position: relative;
  border: 1px solid $light-gray-4;
  @include hoverable-shadow(5);
  @include gr.flexbox(row, 10px);
  ////////////////////////////
  &:hover {
    border: 1px solid transparent;
  }
  &__wrapper-left {
    width: 30%;
  }
  &__wrapper-right {
    width: 70%;
  }
  &__icon {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    color: $primary-1;
  }
  &__title {
    color: $dark-gray-5;
  }
  &__text {
    border-radius: 5px;
  }
}

.masonry-grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  display: grid;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "title chips"
    "title chips"
    "subtitle subtitle";
  width: fit-content;
  align-items: center;
  padding-top: 1.5rem;
  gap: 0.5rem;
}
.header__subtitle {
  grid-area: subtitle;
  color: $gray-4;
  font: 500 16px/8px var(--body--font-family);
}
.header__title {
  grid-area: title;
  color: $gray-5;
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
}
.header__chips {
  grid-area: chips;
  mat-chip {
    min-height: 1.5rem;
    background-color: transparent;
    color: $primary-2;
    border: 1px solid $primary-2;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    &.mat-chip.mat-standard-chip::after {
      background: $primary-1;
    }
  }
}
.expanded-row {
  overflow: hidden;
  background-color: $light-gray-1;
  border-bottom: 1px solid $light-gray-3;
  padding: 1rem;
  border-radius: 0px 0px 3px 3px;

  &__item-type {
    margin: 0.25rem 0;
  }

  &__text {
    font-size: 1rem;
  }
}
