@use "palette" as *;
@use "grid" as gr;
@use "colors" as *;
@use "bem-mixin" as *;
:root {
  --pk-primary: $primary-1;
  --border-color: $gray-1;

  --pk-surface: $light-gray-2;
  --pk-font-family--feedback-title: "IBM Plex Sans", sans-serif;
  --pk-text--color: $dark-gray-4;
  --pk-font--content: $dark-gray-4;
  --pk-text--color: $dark-gray-4;
}

.rationale {
  border-radius: 3px;
  padding: 20px;
  background-color: white;
  max-height: 200px;
  position: relative;
  border: 1px solid $light-gray-4;
  @include hoverable-shadow(5);
  @include gr.flexbox(row, 10px);
  ////////////////////////////
  @include nativeState("hover") {
    border: 1px solid transparent;
  }
  @include element("wrapper-left") {
    width: 30%;
  }
  @include element("wrapper-right") {
    width: 70%;
  }
  @include element("icon") {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    color: $primary-1;
  }
  @include element("title") {
    color: $dark-gray-5;
  }
  @include element("text") {
    border-radius: 5px;
  }
}

.masonry-grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  display: grid;
}
.expanded-row {
  overflow: hidden;
  background-color: $light-gray-1;
  border-bottom: 1px solid $light-gray-3;
  margin-left: 1rem;
  margin-right: 1rem;

  @include element("subtitle") {
    color: $gray-4;
    font: 500 16px/8px Noto Sans JP;
  }

  @include element("header") {
    @include gr.flexbox("row", 1rem);
    align-items: center;
    @include element("title") {
      color: $gray-5;
      margin: 0.5rem 0 0.25em 0;
      font-size: 1.75rem;
    }
    @include element("chip") {
      min-height: 1.5rem;
      border-radius: 6px;
      background-color: $primary-3;
      color: white;
      font-weight: 400;
      cursor: pointer;
    }
  }
  @include element("item-type") {
    margin: 0.25rem 0;
  }

  @include element("text") {
    font-size: 1rem;
  }
}
