<div class="expanded-row" *ngIf="data as d">
  <div @flyIn>
    <div class="grid__12-col">
      <div class="expanded-row__header">
        <h1 class="expanded-row__header__title">{{ d.Item }}</h1>
        <mat-chip-list>
          <mat-chip class="expanded-row__header__chip">
            {{ d.ItemType | titlecase }}</mat-chip
          >
        </mat-chip-list>
      </div>
    </div>
    <div class="grid__12-col">
      <h2 class="expanded-row__subtitle">
        {{ d.SearchTerms | join | uppercase }}
      </h2>
    </div>
    <div class="masonry-grid">
      <div *ngIf="d.Inclusion">
        <elder-expanded-row-card
          [field]="'Guidance Applies To'"
          [entry]="d.Inclusion"
          [icon]="'unfold_less'"
        >
        </elder-expanded-row-card>
      </div>

      <div *ngIf="d.Exclusion">
        <elder-expanded-row-card
          [field]="'Does Not Apply To'"
          [entry]="d.Exclusion"
          [icon]="'unfold_more'"
        >
        </elder-expanded-row-card>
      </div>
      <div *ngIf="d.DiseaseState">
        <elder-expanded-row-card
          [field]="'Caution In'"
          [entry]="d.DiseaseState"
          [icon]="'error'"
        >
        </elder-expanded-row-card>
      </div>
      <div *ngIf="d.MaximumClearance || d.MinimumClearance">
        <div>
          <b>{{ d.Recommendation }}</b> with clearance
          <i><b>below</b></i>
          {{ d.MaximumClearance }} and
          <i><b>above</b></i>
          {{ d.MinimumClearance }}
        </div>
      </div>
      <div *ngIf="d.Rationale">
        <elder-expanded-row-card
          [field]="'Rationale'"
          [entry]="d.Rationale"
          [icon]="'scale'"
        >
        </elder-expanded-row-card>
      </div>
    </div>
  </div>
</div>
