@use "bem-mixin" as bem;
@use "palette" as *;
@use "sass:color";
:host {
  border-bottom: 1px solid $light-gray-4;
  line-height: 2.7rem;
  height: 2.7rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  @include bem.mobileWidth {
    height: 2.25rem;
    line-height: 2.25rem;
    border-bottom: none;
  }
}
:host(.is-wrapped) {
  height: auto;
  max-height: 7rem;
  line-height: 1.5rem;
  white-space: normal;
  & .content {
    overflow: auto;
  }
}
.toggle {
  grid-area: toggle;
}
.content {
  grid-area: content;
}
.cell {
  padding-left: 0.5rem;


  @include bem.mobileWidth {
    display: grid;
    grid-template-columns: 35px 20ch auto;
    grid-template-areas: "toggle title content";
  }
}
.title {
  grid-area: title;
  font-weight: 500;
}
