<div class="panel soft-shadow">
  <button
    class="panel-header l-grid hh-12-column l-grid v-center--items h-space-between-items"
    (click)="toggle()"
  >
    <span style="margin: 0 1em 0 1em; height: 24px" class="grid__cell--span-1"
      ><ng-content select="[panel-icon]"></ng-content
    ></span>
    <span class="grid__cell--span-4"
      ><ng-content select="[panel-header]"></ng-content
    ></span>
    <div
      class="panel-description grid__cell--span-6"
      [@revealContentText]="getExpandedState()"
    >
      <ng-content select="[panel-description]"></ng-content>
    </div>
    <span
      class="grid__cell--span-1 chevron h-center-self"
      [@indicatorRotate]="getExpandedState()"
    >
      <mat-icon svgIcon="chevron_down"></mat-icon>
    </span>
  </button>
  <div class="panel-content--bounding-box">
    <div [@bodyExpansion]="getExpandedState()" class="panel-content">
      <ng-content select="[panel-content]"></ng-content>
    </div>
  </div>
</div>
