@use "palette" as *;
@use "breakpoints" as *;
@use "sass:color";
:host {
  --expanded-row--header-font: var(--header-font), sans-serif;
  --expanded-row--body-font: var(--body-font), sans-serif;
  border-radius: 5px;
  color: $primary-5;
  background: white;
  border: 1px solid $light-gray-4;
  display: grid;
  grid-template-columns: 1fr 2em;
  grid-template-areas: "header icon" "content content";
  padding: 1rem 1rem;
  max-width: 450px;
  position: relative;
  gap: 0.35rem;
  transition: border-color 300ms ease-in;
  &:hover {
    border-color: color.scale($primary-1, $alpha: -50%);
  }
}
.content {
  grid-area: content;
  margin: 0;
  font-family: var(--expanded-row--body-font);
  color: $gray-4;
}

.header {
  color: $gray-5;
  grid-area: header;
  font: 500 1.2rem/1.4rem var(--expanded-row--body-font);
  padding: 0.3rem 0;
  margin: 0;
}

.icon {
  grid-area: icon;
  width: 2em;
  height: 2em;
  color: $gray-4;
  transition: color 500ms ease-in;
  &.is-info {
    :host(:hover) & {
      color: tint($primary-1, 20%);
    }
  }
  &.is-error {
    :host(:hover) &:hover {
      color: $error-1;
    }
  }
  &.is-warning {
    :host(:hover) &:hover {
      color: $complement-1;
    }
  }
}
