table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 2em;
  border: 1px solid rgb(197, 197, 197);
}

table[mat-table] {
  border-radius: 4px;
  overflow: hidden;
  border-bottom: none;
  background-color: transparent !important;
}

th.mat-header-cell:hover {
  background-color: mat-color($candy-app-primary, 0.8);
}

tr.med-detail-row {
  height: 0;
}

tr.med-row:not(.med-expanded-row):hover {
  background: whitesmoke;
}

tr.med-row:not(.med-expanded-row):active {
  background: #efefef;
}

tr.med-row {
  border-top: 1px solid rgb(223, 223, 223);
  border-bottom: none;
}

td:not(.med-expanded-row):active,
td:not(.med-expanded-row):focus,
td:not(.med-expanded-row) {
  border-bottom: none;
}

td.mat-cell {
  text-overflow: none;
  overflow-wrap: normal;
  white-space: pre-wrap;
  max-width: 300px;
  min-width: 100px;
  padding-left: 15px;
  background-color: white;
}

.expand-detail {
  overflow: hidden;
  display: flex;
  padding-left: 0.5em;
}
.detail-cell {
  border: none;
}

.expand-one--right,
.expand-one--left {
  min-width: 200px;
}

.expand-two--left,
.expand-two--right {
  min-width: 200px;
}

.cdk-drag-preview {
  padding: 15px 60px 15px 60px;
  border-bottom: solid 1px #ccc;
  color: rgb(75, 75, 75);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-transform: uppercase;
}

.dropContainer {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.mat-header-cell {
  border-left: 1px solid lightgray;
  text-align: left;
  border-right: 1px solid lightgray;
  padding: 0 0 0 15px;
  height: 0.5em;
  background: mat-color($candy-app-primary);
  color: whitesmoke;
}

.expand-title {
  font-size: 10pt;
}
.expand-title h3 {
  display: inline;
}
