<ng-container
  *elderLet="{
    fields: model.columns$ | async,
    mobile: mobile$ | async,
    filter: filterService.filter$ | async
  } as state"
>
  <div
    #elderTable
    id="elderTable"
    class="drug-table--wrapper"
    (keydown)="handleGridNavigation($event)"
  >
    <cdk-table
      matSort
      class="drug-table"
      recycleRows
      [dataSource]="model"
      [fixedLayout]="true"
      [trackBy]="trackBy"
      [class.isMobile]="state.mobile"
    >
      <!--Table headers-->
      <cdk-header-row
        class="row--header"
        *cdkHeaderRowDef="state.fields; sticky: true; index as i"
        [class.isMobile]="state.mobile"
      ></cdk-header-row>

      <!--Group rows-->
      <cdk-row
        class="row--content"
        *cdkRowDef="let row; columns: state.fields; when: rowShown(model)"
        [detailPanel]="row"
        [detailPanelExpanded]="model.checkIsExpanded(row)"
        (click)="model.toggle(row)"
      ></cdk-row>

      <ng-template cdkNoDataRow>
        <div
          style="
            display: flex;
            filter: grayscale(0.6);
            opacity: 0.5;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
          "
        >
          <elder-brand [logoRem]="7" [showTitle]="false"></elder-brand>
        </div>
      </ng-template>

      <ng-container
        *ngFor="let field of state.fields; index as col"
        cdkColumnDef="{{ field }}"
        [sticky]="field === 'Search Terms'"
      >
        <ng-container *cdkHeaderCellDef>
          <cdk-header-cell
            class="header"
            mat-sort-header
            matTooltip="Sort by {{ field }}"
            [attr.tabIndex]="col === 0 ? '0' : '-1'"
            [keyGrid]="{ row: 0, col: this.col }"
          >
            <div class="header-content">
              {{ field | splitcase | titlecase }}
            </div>
          </cdk-header-cell>
        </ng-container>
        <ng-container *cdkCellDef="let row">
          <ng-container *ngIf="!row.position.isGroup; else groupTemplate">
            <elder-cell [padLeft]="getPadding(row)" [padLeftIncrement]="7.5">
              <elder-cell-toggle #cell *ngIf="field === state.fields[0]">
                <button mat-icon-button>
                  <mat-icon
                    [class.is-rotated]="model.checkIsExpanded(row)"
                    svgIcon="chevron-right"
                  ></mat-icon>
                </button>
              </elder-cell-toggle>
              <elder-cell-title *ngIf="state.mobile">
                {{ field | splitcase | titlecase }}
              </elder-cell-title>
              <elder-cell-content>
                <span [innerHtml]="row.fields[field] | highlight: state.filter"> </span>
              </elder-cell-content>
            </elder-cell>
          </ng-container>
          <ng-template #groupTemplate>
            <cdk-cell *ngIf="col === 0">
              <elder-group-row
                #cell
                [class.is-expanded]="model.checkIsExpanded(row)"
                [keyGrid]="{ row: 0, col: 0 }"
                [padLeft]="getPadding(row)"
              >
                <group-field>{{ row.field | splitcase }}</group-field>
                <group-name>{{ row.groupHeader | titlecase }}</group-name>
              </elder-group-row>
            </cdk-cell>
          </ng-template>
        </ng-container>
      </ng-container>
      <!--Header Row-->
    </cdk-table>
  </div>
</ng-container>
