.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.hh-span-12 {
  grid-column: 1 / span 12;
}

.hh-span-6 {
  grid-column: auto/span 6;
}

.hh-span-4 {
  grid-column: auto/span 4;
}

.hh-span-2 {
  grid-column: auto/span 2;
}
