@use "sass:color";
@use "palette" as *;
@use "colors" as *;
@use "breakpoints" as *;

:host {
  display: block;
}
.drug-table {
  &--wrapper {
    border: var(--common-border);
    border-radius: 4px;
    :host(.collapsed) & {
      background-color: $light-gray-1;
    }
  }
}
.cell--header {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: 1px solid $light-gray-5;
  border-width: 0 0 1px 1px;
  font-size: 0.9rem;
  &.has-filter-attached {
    border-bottom: 0;
  }
  &:first-of-type {
    border-left: 0;
  }
  &__content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
