<div
  *elderLet="model.displayedColumns$ | async as fields"
  #elderTable
  id="elderTable"
  class="drug-table--wrapper"
  (keydown)="handleGridNavigation($event)"
>
  <cdk-table
    [dataSource]="model"
    class="drug-table"
    #table
    matSort
    recycleRows
    [fixedLayout]="true"
    mobileListener
    [trackBy]="trackRowBy"
  >
    <!--Table headers-->
    <cdk-header-row
      class="row row--header row--filter"
      *cdkHeaderRowDef="fields; sticky: true; index as i"
      mobileListener
    ></cdk-header-row>

    <!--Group rows-->

    <cdk-row
      *cdkRowDef="let row; columns: fields"
      class="row row--content"
      (click)="model.expand(row, $event)"
      (keydown.enter)="model.expand(row, $event)"
      (keydown.space)="model.expand(row, $event)"
      [detail]="row | json"
      [expandDetail]="model.checkIsExpanded(row)"
    ></cdk-row>

    <ng-container
      *ngFor="let field of fields; index as colI"
      cdkColumnDef="{{ field }}"
    >
      <ng-container *cdkHeaderCellDef>
        <cdk-header-cell
          class="cell--header"
          mat-sort-header
          attr.tabIndex="{{ colI === 0 ? '0' : '-1' }}"
          matTooltip="Sort by {{ field }}"
          #headerCell
          [filterColumn]="colI"
          [keyGrid]="{ row: 0, col: colI }"
        >
          <div class="cell--header__content">
            {{ field | caseSplit | titlecase }}
          </div>
        </cdk-header-cell>
      </ng-container>
      <ng-container *cdkCellDef="let row">
        <ng-container *ngIf="!row._position.isGroup; else groupTemplate">
          <cdk-cell
            class="cell"
            [cellPadding]="row._position.layer"
            [keyGrid]="{ row: getRowIndex(row), col: colI }"
            tabindex="-1"
          >
            <!--If the cell is first, add an expansion button to it-->
            <span class="cell__chevron-container">
              <button
                *ngIf="field === fields[0]"
                class="chevron-button"
                mat-icon-button
                tabindex="-1"
              >
                <mat-icon
                  [class.--rotated]=""
                  class="chevron-button__chevron"
                  svgIcon="chevron_right"
                ></mat-icon></button
            ></span>
            <span class="cell__mobile-header"
              ><b>{{ field | caseSplit | titlecase }}</b></span
            >
            <span class="cell__content">{{
              row[field] | caseSplit | titlecase
            }}</span>
          </cdk-cell>
        </ng-container>
        <ng-template #groupTemplate>
          <cdk-cell *ngIf="colI === 0">
            <elder-group-row
              [field]="row.field"
              [header]="row.groupHeader"
              [level]="row._position.layer"
            ></elder-group-row>
          </cdk-cell>
        </ng-template>
      </ng-container>
    </ng-container>

    <!--Header Row-->
  </cdk-table>
</div>
