@use "bem-mixin" as bem;
@use "palette" as *;
@use "sass:color";
%row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  line-height: 2em;
  border-radius: none;
}
.row--header {
  @extend %row;
  font-weight: 500;
  background-color: $light-gray-1;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  @include shadow(2);

  @include bem.mobileWidth {
    display: none;
  }
}
.row--content:last-of-type {
  elder-cell {
    border-bottom: none;
  }
}

.row--content {
  @extend %row;
  cursor: pointer;
  &:active {
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
    background-color: color.scale($primary-1, $alpha: -95%);
  }
  @include bem.mobileWidth {
    padding: 0.5rem 0;
    margin: 5px;
    grid-template-columns: none;
    background-color: white;
    border-radius: 5px;
    position: relative;
    @include hoverable-shadow(5);
    &:not(.is-group-row)::before {
      content: "";
      height: 100%;
      width: 100%;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      position: absolute;
      border-radius: inherit;
      @include shadow(3);
    }
  }
}
