@use "sass:color";
@import "colors";
@import "palette";
@import "bem-mixin";

.flex-container {
  display: flex;
  flex-direction: column;
}
.root {
  width: auto;
  background: white;
  padding: 8px;
  border-radius: 3px;
  margin: 10px;
  border: none;
  max-width: 1400px;
  display: grid;
}
.mat-sort-header-content {
  text-align: center;
  /* display: flex; */
  align-items: center;
  flex: 1;
  min-width: 0;
}
.drug-table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  background: white;
  overflow: hidden;
  border: 1px solid #a2b0c7;
  border-radius: 3px;
  & .cdk-column-expandedDetail {
    overflow: hidden;
  }
  @include state("is-mobile") {
    background: blue;
  }
}
.row,
.mobile-row,
.expand-row,
.header-row {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  line-height: 36px;
  &:hover {
    background-color: $light-gray-1;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  &:last-of-type {
    .cell {
      border-bottom: none !important;
    }
  }
}
.cell {
  background: transparent;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid $light-gray-3;
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
}

.mobile-cell {
  border-bottom: 1px dotted $light-gray-3;
  padding: 10px;
  cursor: pointer;
  display: none;
}
.mobile-cell__expansion-button {
  color: black;
}
.mobile-cell__label {
  display: none;
}

.header-cell {
  line-height: 2rem;
  text-align: left;
  font-family: "IBM Plex Sans", sans-serif;
  text-align: left;
  border-bottom: 1px solid $light-gray-4;
  box-shadow: inset 0px 1px 0px 0 #ffffff54;
  background-color: $light-gray-1;
  color: $gray-5;
  flex: 1;
  border-right: 1px solid $light-gray-4;
  &:first-of-type {
    //   border-top-left-radius: 3px;
    & .header-cell--left-margin {
      margin-left: 40px;
    }
  }
}
.header-cell:hover {
  background-color: tint($primary-1, 90%);
}
.expand-row__cell {
  height: 2rem;
  cursor: pointer;
  color: $gray-3;
  line-height: 30px;
  font-family: "IBM Plex Sans", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  flex: 1;
  display: flex;
  align-items: center;

  &.--open {
    background-color: tint($primary-1, 90%);
    color: $secondary-2-5;
    transition: background-color 1s;
  }
}

.header-cell__content {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}
.cell {
  display: inline-block;
}
.cell__chevron-container {
  width: 36px;
}

.cell__mobile-header {
  display: none;
  font-weight: 500;
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
}
.cell__content {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .cell__mobile-header {
    width: 100px;
    display: inline-block;
  }
  .cell__content {
    max-width: 100%;
    display: inline-block;
  }

  .header-cell {
    display: none;
  }
  .drug-table {
    width: auto;
  }

  .row {
    grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
    line-height: 36px;
    grid-template-columns: none;
  }
  .cell {
    display: grid;
    grid-template-columns: 35px 15ch auto;
  }
}
.h2 {
  padding-bottom: 1px;
  margin-bottom: 0.5em;
  line-height: 1em;
}

mat-chip-list mat-chip.mat-standard-chip {
  min-height: 1.7em;
  border-radius: 4px;
  background-color: $primary-3;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.expansion-panel {
  background-color: $light-gray-1;
  border-bottom: 1px solid $light-gray-3;
}

//Rationale header

mat-icon.mat-icon-24 {
  height: 36px;
  width: 36px;
  min-width: 45px;
  margin-top: 5px;
  &.info {
    color: blue;
  }
  &.error {
    color: red;
  }
  &.warning {
    color: orange;
  }
}

span.show-when-small {
  display: none;
}

mat-chip-list mat-chip.mat-standard-chip {
  min-height: 1.7em;
  border-radius: 4px;
  background-color: $primary-3;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.chevron-button {
  height: 36px;
  width: 36px;
  line-height: 36px;
}
.chevron-button__chevron,
.chevron {
  transform: rotate(-0deg);
  transition: transform 0.2s;
  &.--rotated {
    transform: rotate(90deg);
  }
}

.expand-row__cell__sub-header {
  height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 15px;
}
.expansion-card {
  border-radius: 3px;
  /* border: 1px solid blue; */
  background-color: rgb(255 255 255);
  // box-shadow: 0 2px 1px 0 lightgrey;
  color: $primary-5;
  padding: 20px;
  margin: 5px;
}
ed-table th.table-cell.expand-group-header.header {
  height: 30px;
  column-span: all;
  font-weight: 300;
  color: black;
}

button.absolute-position {
  position: absolute;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rollback {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.table-fields {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  justify-items: stretch;
  margin: 10px 0 10px 0;
  gap: 10px;
}
.filter {
}
.filter__label {
}
.filter__input-wrapper {
  @include commonInput;
}
.filter__input {
  outline: transparent;
  border: transparent;
  background: transparent;
}
