@use "sass:color";
@use "palette" as *;
@use "colors" as *;
@use "bem-mixin" as *;

.drug-table {
  &--wrapper {
    border: 1px solid $light-gray-5;
    border-radius: 4px;
  }
}
.cell--header {
  height: 2.5em;
  line-height: 2.5rem;
  padding-left: 0.5rem;
  overflow: hidden;
  border: 1px dotted #adb4b9;
  border-width: 0 0 1px 1px;
  font-size: 1rem;
  &.has-filter-attached {
    border-bottom: 0;
  }
  &:first-of-type {
    border-left: 0;
  }
  &__content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.group-header-cell {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  line-height: 2rem;
  border-bottom: 1px solid $light-gray-4;
  box-shadow: inset 0px 1px 0px 0 #ffffff54;
  background-color: $light-gray-1;
  color: $gray-5;
  flex: 1;
  border-right: 1px solid $light-gray-4;

  &:first-of-type {
    &__content {
      margin-left: 40px;
    }
  }
}
.expand-row__cell {
  height: 2rem;
  cursor: pointer;
  color: $gray-3;
  line-height: 30px;
  font-family: var(--body-font), sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  flex: 1;
  display: flex;
  align-items: center;

  &--open {
    background-color: tint($primary-1, 90%);
    color: $secondary-2-5;
    transition: background-color 1s;
  }
}

.h2 {
  padding-bottom: 1px;
  margin-bottom: 0.5em;
  line-height: 1em;
}

mat-chip-list mat-chip.mat-standard-chip {
  min-height: 1.7em;
  border-radius: 4px;
  background-color: $primary-3;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.expansion-panel {
  background-color: $light-gray-1;
  border-bottom: 1px solid $light-gray-3;
}

//Rationale header

mat-icon.mat-icon-24 {
  height: 36px;
  width: 36px;
  min-width: 45px;
  margin-top: 5px;
  &.info {
    color: blue;
  }
  &.error {
    color: red;
  }
  &.warning {
    color: orange;
  }
}

span.show-when-small {
  display: none;
}

mat-chip-list mat-chip.mat-standard-chip {
  min-height: 1.7em;
  border-radius: 4px;
  background-color: $primary-3;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.chevron-button {
  height: 36px;
  width: 36px;
  line-height: 36px;
}
.chevron-button__chevron,
.chevron {
  transform: rotate(-0deg);
  transition: transform 0.2s;
  &.--rotated {
    transform: rotate(90deg);
  }
}

.expand-row__cell__sub-header {
  height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 15px;
}
.expansion-card {
  border-radius: 3px;
  /* border: 1px solid blue; */
  background-color: rgb(255 255 255);
  // box-shadow: 0 2px 1px 0 lightgrey;
  color: $primary-5;
  padding: 20px;
  margin: 5px;
}
ed-table th.table-cell.expand-group-header.header {
  height: 30px;
  column-span: all;
  font-weight: 300;
  color: black;
}

button.absolute-position {
  position: absolute;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rollback {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.table-fields {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 10px 0 10px 0;
  flex-wrap: wrap;
  justify-content: center;
  &__table-field {
    flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    margin: 5px;
  }
}
